---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 国庆黄金旅游期间市民购买保险柜
keywords: 保险柜
description: 10月8日，记者走访多家保险柜销售店了解到，市民安全意识的提高让保险柜卖得很不错，而一种被称作是隐形保险柜的小型家用保险柜最受市民欢迎。
---
%p 城市信报10月8日讯 黄金周期间很多市民选择一家人出去旅游放松，可家人都出去了，家里的贵重财物放哪最安全呢？10月8日，记者走访多家保险柜销售店了解到，市民安全意识的提高让保险柜卖得很不错，而一种被称作是隐形保险柜的小型家用保险柜最受市民欢迎。
%p<
  8日上午，在南京路一家
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的专卖店内，记者看到保险柜品种非常丰富。十一黄金周卖得挺多吧？黄金周期间卖得不多，还没有假期前卖得多。这是怎么回事？一家人出去旅游，买个保险柜放些重要财物，放心啊.
%p 家住浮山后六小区的市民陈先生就是9月30号买的保险柜，花了700多元。我和妻子今天刚从苏州回来，去玩了5天。走之前，家里一些贵重的东西，像笔记本电脑、一些证件和财物放哪里都不放心。想了又想，跟妻子商量了以后，买回了一个保险柜，这样去旅游也放心了。
%p 记者随后又来到科技街，这里几家有保险柜销售的店铺工作人员都表示，近期保险柜销售情况不错。
%p 卖得最好的隐形保险柜到底是个什么样子的呢？南京路上的一位女老板对记者介绍说：其实就是保险柜造型比较小，薄一些，这样市民就可以在自家墙上挖个洞，把保险柜放进去，然后再把墙粉刷一遍，这样就隐形了。
%p 这种保险柜，隐秘性很强，放一些重要证件什么的，还是很好用的。女老板说如果是家里正好在装修，那最合适了，预留下保险柜大小的地方，直接放进去就行。一个保险柜要多少钱？你得看哪一种了，不同规格的都不一样的价钱。一般六七百块就够了。这种保险柜用什么材料制作?都一样的材料，钢 板。
