---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 国人新居结婚喜庆礼品六十年之变迁
keywords: 保险柜
description: 全能保险柜在促销活动中，其中一款就创下了日销1210台的“井喷“现象，据了解，70%把保险柜作为了新居入伙、结婚喜庆置办的家具或送礼的礼品。
---
%p 新居乔迁、结婚之喜，都是人生的大事。按照国人的习惯，在操办这些喜事时，不但当事者要置办家居，亲朋戚友也总要送点礼物以示祝贺。建国六十年来，人们的衣食住行发生了天翻地覆的变化，国人新居、结婚喜庆礼品也有了深刻的变迁。不同时期的标志性喜庆礼品，不但反映了国人的生活水平和生活方式的变化，也深深地烙上了时代的明显烙印。
%p 闲暇之际，收集一下各个时期的国人具有代表性的喜庆礼品。品味这些不同时期的礼品，不由使人感叹时代的沧桑，更倍感今日生活之美好。诸位，这些都是我辛苦搜集来的珍贵历史图片哦！&lt; /p&gt; 一、上世纪五十年代到七十年代中期的喜庆礼品：红宝书、小日用品。解放初期，人们的生活极其困难，亲朋戚友办喜事大都是送一点小礼物以表示心意。六七十年代的“文化大革命”，全国山河一片红，送礼也要显示“革命本色”。那时的人们办喜事十分简朴，在那个年代，送红宝书，是那个一穷二白的红色年代最朴实的礼物，抑或送亲友的一条毛巾、一个杯子、一只暖水瓶之类的小日用品，也是亲人挚友才会“出手”的大礼，有的礼品还必须印上革命口号。简单而“革命”的礼品代表了一个时代。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id001901.jpg"}/
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id001902.jpg"}/
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id001903.jpg"}/
%p 二、上世纪七十年代后期至八十年代中期的喜庆礼品：“三转一响”成主流。改革开放初期，国人的物质生活还不是十分富裕，于是“三转一响”成了当时最时尚的喜庆礼品。所谓“三转一响”，“三转”就是单车、衣车、手表，“一响”就是收音机或录音机。当时拥有一块手表十分神气，连照相时也一定要把袖子捋高进行展示。谈婚论嫁，新居落成，如果置办了“三转一响”，那就是当时的殷实之家了，十分有面子。
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id001904.jpg"}/
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id001905.jpg"}/
%p 三、上世纪八十年代后期至九十年代中期的喜庆礼品： “三大件”进入家庭。所谓“三大件”，就是电视机、洗衣机、冰箱。随着改革开放的深入，科技、经济不断发展，人们的物质生活水平也得到了新的提高。这时，国人新居落成或是新婚之喜，总是把“三大件”作为追求的目标。当然，后来的“三大件”也随着社会发展有了新变化，比如电视机由黑白变成了彩色，洗衣机、冰箱也迅速更新换代。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id001906.jpg"}/
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id001907.jpg"}/
%p 四、上世纪九十年代后期至二十一世纪的今天喜庆礼品：“新三件”过渡到“三小件”，红包、金银首饰、保险柜成了新时尚。
%p<
  上世纪九十年代后期到二十一世纪初，大彩电、空调、电脑的“新三件”，仍是人们喜庆置办礼品或送礼的热门。但时至今天，随着人们生活水平的不断提高，物质财富的不断增加，人们家居生活由追求物质享受逐步转移到理财家居。于是，人们喜庆礼品的“新三件”开始变成了“三小件”：红包、金银首饰、保险柜。红包、金银首饰“礼轻情意重”，
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  也因寓意聚财、平安、吉祥，成了人们喜庆置办或送礼的新礼品。据笔者从全能保险柜销售的专卖店和淘宝官方旗舰店了解到：全能保险柜在淘宝促销活动中，其中一款家用保险箱就创下了日销1210台的“井喷”现象，从客户反馈了解，70%把保险柜作为了新居入伙、结婚喜庆置办的家具或送礼的礼品。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id001908.jpg"}/
