---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 新鲜事：保险柜成了喜庆新礼品
keywords: 保险柜
description: 送亲友、送长辈、送孩子，殊不知，这句广告词却成了时下保险柜销售的一个新写照。保险柜，今日正成为人们乔迁、结婚等送礼的新时尚。
---
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id002901.jpg"}/
%p<
  “送亲友、送长辈、送孩子……”殊不知，这句广告词却成了时下
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  销售的一个新写照。保险柜，这一昔日公司、单位的“贵客”，今日正成为人们乔迁、结婚等送礼的新时尚。
%p 家住广东东莞的陈先生大婚之日，朋友们专门为他订购了一个全能牌保险柜，安置在新婚布置的新房里。陈先生收到这份礼物十分开心，认为不但实用，并且“意头”也非常好：爱情上了保险，财神请到了家，安全理财省心，梦想全能实现。
%p 曾先生的儿子今年考上华南理工大学，孩子上学时，曾生专门在网上邮购一台保险柜送给儿子。曾生说，孩子上学带去价值几千元的手提电脑和数码相机，花几百元买个保险柜给在学校孩子保管财物更省心。
%p 把保险柜作为礼物“送亲友、送长辈、送孩子……”，正成为一种新时尚。据全能保险柜官方淘宝旗舰店的负责人介绍，他们的家用保险柜在促销活动中，曾创下了时销600多台，日销1200多台的记录。淘客们在网上留言坦言是邮购保险柜，是作为喜庆礼品送给亲人朋友的。网上的一项调查显示：购买保险柜的客户有65%是自用，35%作为喜庆礼品馈赠亲人朋友。
%p 昔日公司单位的“贵客”，今日走进寻常百姓家，并成为人们喜庆礼品的新时尚。这种现象的出现并非偶然，反映着国人生活水平和生活方式的深刻变迁。建国六十年来，我国的新居、新婚的喜庆礼品经历了“老三件”（衣车、单车、手表）到“新三件”（电视机、电冰箱和洗衣机等）的变化。进入新世纪，各种喜庆礼品更是琳琅满目。保险柜作为人们日益提高生活水平的一个安全理财产品，于是也顺理成章加入了礼品的行列。
%p 喜庆礼品的变迁，是社会缩影的写照。正如社会学专家姜先生说，保险柜之所以成为喜庆礼品，一是人们的生活水平提高了，财富增加了，保险柜作为人们贵重物品、文件安全、理想的集纳空间，当然受到欢迎；二是保险柜成为新的喜庆礼品，也反映了人们在深刻的社会变革中，对财产安全保护的高度关注和迫切需求，安防意识的进一步增强；三是保险柜由公司单位的“贵客”走入普通百姓家，这还源自保险柜行业的不断改革创新，使保险柜一改了以前个子大、笨重的“大老粗”形象，同时其安装形式也更多样化，如可以采取如墙式、镶嵌式、固定式等安装，这就使保险柜的摆放更适合现代家居，而且更安全美观，所以备受人们的青睐。四是保险柜成为人们喜庆送礼佳品，也反映了我国传统文化的深厚积淀，保险柜寓意聚财、平安等，正符合国人对礼品“如意吉祥、平安幸福”的审美要求和习俗。
%p 据了解，目前在日本、美国等发达国家，家庭拥有保险柜的比例已达90%，而在我国普及率只有5%。保险柜成为国人喜庆礼品新时尚，也标志着国人安全理财意识的进一步觉醒。
