---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能保险柜情系玉树：我们在一起
keywords: 保险柜
description: 情系玉树，大爱无疆。2010年4月22日，全能保险柜组织全体员工向灾区人民贡献自己的一份爱心，领导和员工们纷纷慷慨解囊、踊跃捐款。
---
%p<
  情系玉树，大爱无疆。2010年4月22日，全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  组织全体员工向灾区人民贡献自己的一份爱心，领导和员工们纷纷慷慨解囊、踊跃捐款。这笔善款将带着全能保险柜全体员工的深情和爱心送到玉树灾区，为灾区人民渡过难关、重建家园尽一份力。
%p 两年前，一场突如其来的汶川大地震，引发了全球华人无尽的伤痛和泪水，当中华儿女的伤口在巴蜀大地上重建的家园日益痊愈时，2010年4月14日传来青海玉树发生7.1级地震的消息又一次撕开封锁的伤口。看着那受灾现场的残垣断壁，被夷为平地的房屋，无家可归的人们，两千多条鲜活的生命永远地带入黑暗的世界，被地震带来的巨大人员伤亡和财产损失，全球华人悲痛万分。国务院总理温家宝在地震灾区慰问灾民时说：无论你们是藏族、汉族，大家都是一家人。这句话，不仅感动了玉树人，也激发了中华儿女帮助玉树共度难关的坚定决心。你们的伤痛也是全中华民族儿女的伤痛，我们永远在一起，全能保险柜作为一个有高度社会责任感的现代化企业，倡议全体员工有钱出钱、有力出力、有心出心，为灾区人民渡过难关、重建家园尽一份力.
%p 全能保险柜为回报社会对其发展的支持，近年来，积极投身社会公益事业，承担企业社会责任，默默无闻地帮助穷苦人民、参与公益活动。全能保险柜关注贫困儿童、支持山区教育，首点定在广东阳山，以后将范围扩大到全省乃至全国，哪儿需要全能，全能就在哪。2008年，为帮助汶川大地震灾民渡过难关尽微薄之力，全能保险柜员工自发倡议捐款和献血。全能保险柜的每一步发展，都展现出一个作为有高度社会责任感的现代化企业，为社会公益事业所奉献的责任和爱心.
