---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能闪耀亮相上海国际酒店用品博览会
keywords: 保险柜
description: 第21届上海国际酒店用品博览会在新国际博览中心隆重举行，全能保险柜携旗下的QNN Safe、hotsafe品牌酒店保险箱系列产品闪耀亮相。
---
%p<
  4月9日-12日，第21届上海国际酒店用品博览会在新国际博览中心隆重举行，国内外一线的酒店各类用品品牌悉数参加，代表世界酒店用品潮流的尖端技术和前沿性产品成为本届博览会的“重头戏”。全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  携旗下的QNN Safe、hotsafe品牌酒店保险箱系列产品闪耀亮相，引起参会观众广泛关注。
%p 据了解，全能保险柜是上海酒店用品博览会的常客，近几年均有参展。在这届的博览会中，全能首次采用特装效果，搭建了30平方米的展览平台，共展出酒店保管箱产品20多款，当中数款2012新品倍受瞩目，获得采购商们的一致认同。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id002301.jpg"}/
%p 全能特装展位，大气瞩目
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id002302.jpg"}/
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id002303.jpg"}/
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id002304.jpg"}/
%p 全能凭借创新技术、优质性能以及完备的售后服务，倍受酒店采购商的青睐。
