---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 张学良保险柜里一块银元的秘密
keywords: 保险柜
description: 王家桢-亲眼目睹并参与了枪毙杨宇霆、常荫槐的一些机密。多年以后，王家桢道出了这一块银元的秘密。为了纪念，张学良将这一枚银元藏进了保险柜。
---
%p 张学良保险柜里一块银元的秘密
%p<
  1931年“九一八”，日本人占领沈阳，他们首先劫掠的目标之一，自然就是张作霖、张学良父子统治的心脏大帅府。这天，一大群日本士兵冲进了大帅府，径直扑上二楼张学良的卧室。这些强盗首先看中的是一个
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  。这张学良卧室的保险柜里面装的，总该是机密文件或是金银财宝吧！日本士兵费了九牛二虎之力，总算是把保险柜砸开了。保险柜一开，这些日本士兵傻眼了，里面除了一枚袁大头银元，什么也没有。这帮日本士兵大失所望，只好拿这一块袁大头当战利品上缴了。张学良的保险柜中仅有一枚银元，这事当时被当成新闻见诸报纸，一下子就引起了各界的种种猜测。
%p 多年以后，当时任东北军总部外交处长的王家桢，道出了这一块银元的秘密。王家桢是张学良的心腹要人，亲眼目睹并参与了枪毙杨宇霆、常荫槐的一些机密。
%p 杨宇霆和常荫槐是东北军中举足轻重的领袖人物，处决这两个人可以说是惊天动地的大事。奉军新败，大帅刚死，内是人心混乱，外有日本觊觎。要是杀了这二人，多么严重的后果都是可能出现的，但是杨宇霆、常荫槐两个人又不可不除，不除张学良的政策就推行不了，甚至于还有被取代的可能。杀还是不杀？当机立断还是等待观望？少帅张学良是心乱如麻，举棋不定。
%p 1929年的冬天，一天夜里，27岁的张学良遇到父亲死后的第一道难关，张作霖的老部下杨宇霆、常荫槐前来大帅府，在大青楼一楼老虎厅逼迫张学良在分裂文件上签字。张学良气色不变，笑说饭后再议，然后来到二楼自己的卧室与发妻于凤至商议如何应对。
%p 于凤至递给他一枚银元，说：转三次大洋，如果每次都是“字”，就动手杀，反之则从长计议。没想到，三次转后的结果都是“字”。心地善良的于凤至不忍丈夫杀人，便说是不是“字”的那一面有问题，还是选背面试一试。结果又转了三次，都是背面。
%p 看到这一结果，于凤至一下子哭了出来，低声说这是天命呀。至此，张学良决定动手：杀！
%p 1 月10日下午，时任东北军参谋长的杨宇霆和黑龙江省督军常荫槐又来见张学良，要求成立东北铁路督办公署，以常荫槐为督办。张学良以”铁路牵扯外交，应从长计议。二人竟以他们写好的字条，逼迫张学良签字。张学良从容地应对他们，称饭后再作决定。杨宇霆带着常荫槐回杨府吃饭。张学良立即找来警务处长高纪毅，向他下达了枪杀杨、常的命令。当晚8时，杨、常二人再次来到大帅府老虎厅。当他们刚刚坐下，高纪毅、谭海率领六名卫士持枪冲进老虎厅，对杨、常宣布：“奉长官命令，你们俩人阻挠国家统一，着即将二位处死，立刻执行。”当场将杨、常二人杀于老虎厅内。
%p 杨、常二人死后，东北局面不但没乱，反而人心日渐统一。为了纪念，张学良将这一枚银元藏进了保险柜。
%p 摘自：《172个被误读的史事真相》 作者：张港  出版社：广西人民出版社
