---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 毛泽东晚年的保险柜
keywords: 保险柜
description: 作为毛泽东晚年最信赖和依靠的人张玉凤掌管着毛泽东晚年保险柜的钥匙，保险柜里面有对党十分重要的材料，对形势的发展也起到了非常重要的作用。
---
%p 毛泽东晚年最信任的机要秘书是张玉凤。张玉凤曾是毛泽东专列的列车服务员，1970年7月她正式调进中南海。那是7月的一个上午，她正在清扫车厢，列车长通知她去一趟中南海，她来不及梳洗打扮就跟着走了。当小车拐进警卫森严的“深宫禁院”时，张玉凤确实没想到自己将伴随着中国历史上最有权势的那位老人，度过其生命的风烛残年。
%p<
  在与毛泽东朝夕相处的过程中，张玉凤的角色慢慢由生活秘书过渡成机要秘书，身体孱弱的毛泽东，其晚年在纷繁芜杂的政治环境中愈发有心无力，他不愿也不敢相信任何人。他的身边只有一个张玉凤，而他也只愿意信任张玉凤。张玉凤甚至掌管着毛泽东私人保险柜的钥匙，而这也让她成为了夺权派眼里的“无价之宝”。在毛泽东的私人
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  里，有毛泽东的存折支票，还有一批党和国家的特级绝密文件，其中不乏许多高级干部写给毛泽东的检讨书、认罪书、告密信等，这些无疑标注着许多高层领导人的人格和品行，在一定程度上可以说是这一部分人的生死簿。谁都知道，这批材料对党十分重要，掌握了这批文件就等于变相控制了党政军大权。
%p 首先闹事的是江青，她非常清楚，保险柜里有两样能遗祸于己的材料：一是1976年她写的不搞“四人帮”的检讨，二是康生临死时告发她是国民党特务的谈话记录。江青以主席夫人的名义，提出要清理主席的私人财产。不料，在江青向张玉凤索取保险柜钥匙时，张玉凤却说：“主席留下的一切，都是党和国家的财富，若要清理必须经华主席批准”。这让江青大为光火。随后张玉凤如实地向华国锋汇报了情况，说明了这批文件的重要性，引起了华国锋的高度重视，使得江青的算盘落空。可以说，作为毛泽东晚年最信赖和依靠的人，识大体、顾大局的张玉凤对形势的发展也起到了非常重要的作用。
%p 毛泽东的生活秘书张玉凤离开中南海之后，先是被安排在中国第一历史档案馆工作。后来，在她自己的要求下，又调到铁道部，做一名普通干部一直到退休。
