---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 春暖独树-全能保险柜2012爱心助学行
keywords: 保险柜
description: 4月1日，阳光明媚，清远市阳山县独树小学更显春意怏然。全能保险柜员工代表一行9人来到了这里，为独树小学的学生们送上春日里最亲切的问候。
---
%p<
  4月1日，阳光明媚，清远市阳山县独树小学更显春意怏然。全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  员工代表一行9人来到了这里，为独树小学的学生们送上春日里最亲切的问候。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id001701.jpg"}/
%p 我们出发了！
%p 一份爱心托起一份希望，传递爱心，成就希望——这是全能保险柜一直以来坚持回馈社会的使命与决心。从2009年起，全能公司已是第4次来到独树小学，希望通过到访，能一定程度上满足独树小学学生的迫切需要，能让独树师生感受全能公司对他们的关怀与鼓舞。
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id001702.jpg"}/
%p 校方告示：欢迎全能公司的领导员工
%p 独树小学目前只有1-3年级，仅有学生30多名，校舍陈旧，地处偏僻，位于群山环抱之中。尽管条件简陋，也阻碍不了学生们求学的决心，一双双清澈纯净的眼睛写满了对知识的渴求。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id001703.jpg"}/
%p 教学设施相对陈旧，但摆放得却是极为整齐
%p 全能公司相关负责人说到：“我们这次来到独树小学，主要是跟学生们进行互动，送来了一些学习文具及体育用品。童年是人生最美好的年华，希望学生能在学习的过程中劳逸结合，在课堂学习之外，也能享受课余生活的乐趣，好好锻炼，强壮身体。同时为了帮助独树小学修建通往学校的马路，公司特向学校资助5000元现金，为学校修建道路尽一份绵薄之力！”
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id001704.jpg"}/
%p 向独树学校捐款5000元，用于修建学校前的马路
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id001705.jpg"}/
%p 全能员工与学生们进行了兵乓球友谊赛，气氛热烈，不时传来欢声笑语
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id001706.jpg"}/
%p 学生们怀里捧着全能公司赠送的文具，不忘表达感谢
%p 无论在什么环境下，孩子都是最可爱的天使。面对一双双渴望知识的眼睛，面对一间间陈旧简陋的教室，面对一栋栋日益老化的校舍，还有一个个孩子的热切期盼，让全能成员们更坚定回馈社会，热心公益的决心。全能保险柜如今所取得的成就，全赖社会各界朋友的支持与帮助，在今后的岁月里，全能将会继续参与各类公益活动，回报社会！
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id001707.jpg"}/
%p 离别是为了更好的重聚，我们不会忘记一张张可爱的笑脸，期待着下一次的重逢！
