---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 感谢全能用户牵手相助贫困小学
keywords: 保险柜
description: 全能保险柜组织紧急会议，落实扶持山区教育爱心助学一系列活动，除了按捐助单张的客户名单捐助外，另购置配套学生图书，改善学校目前紧缺的教学资源。 
---
%p<
  寒冬将至，气象台12月13日预报：广东省未来一周内将有强冷空气侵入。全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  第一反应想起处于山区的小朋友们在课堂上饱受冷冽寒风的煎熬，心急如焚，学校内陈旧的教室大部分玻璃已经破损，需要及时修补。 12月14周一清晨，全能保险柜领导立即组织紧急会议，落实扶持山区教育爱心助学一系列活动，一致表示，除了按捐助单张的客户名单捐助金额外，另购置配套老师办公桌椅和学生图书，改善学校目前紧缺的教学资源。各小组分头行动，联系省内各办事处整理爱心助学捐助单张的客户名单和购置教学设备，于次日清晨集合。
%p 当车辆行使在两面岩石的阳山山区公路上时，车窗处袭来一阵阵寒风，山区的气温明显下降。独树小学陈校长接过捐助金后感动的握着公司领导的手说：你们真是雪中送炭，孩子们不用再顶着寒风上课。
%p 传递爱心，成就希望！
%p 全能保险柜自2009年7月启动爱心助学活动以来，得到广大客户热情响应，迄今为止，全能保险柜共收到省内众多客户的支持，表示尽绵薄之力，为贫困山区独树小学送去希望。对此，全能保险柜代表贫困山区小学所有师生致以最真挚的谢意。在活动期间，许多客户也向我们提出了疑问。
%p 捐助10元帮不了什么忙？
%p 一份爱心托起一份希望，无论多少，都会尽自己微薄之力，愿一个10元牵起无数个10元之手，传递爱心，成就希望。俗话说：问渠哪得清如许，为有源头活水来。一份爱心，如同源头活水涤荡人的心灵，让生命的活力不住地往上涌流。善举一项三春暖，或许正是一次不经意的善举，撩开了遮阳的乌云，使生命又有了色彩，白朗宁说：拿走了爱，世界将成为一座坟墓。所以我们应尽量将人性中最善、最美、最真的东西通过自身的载体传播出去，使人性善美的心灵得到升华，让爱长存，让爱远行！全能保险柜希望与您携手，传递爱心，同时也支持更多热衷于慈善事业的有心人自行善举。
