---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能保险柜联盟学校共筑安全网
keywords: 保险柜
description: 5月3日，中央召开全国综治维稳工作电视电话会议，各地实际情况制定有效的安全管理防范措施制度，为学生营造安全的校园环境，维护校园安全稳定发展。 
---
%p 近段时间来，全国连续发生多起恶意伤害中小学生、幼儿园儿童的案件，引起社会的高度关注，同时给国人敲响了对加强学校安全管理措施的警钟。5月3日，中央召开全国综治维稳工作电视电话会议，各省教育厅和学校纷纷根据各地实际情况制定有效的安全管理防范措施制度，为学生营造安全的校园环境，维护校园安全稳定发展.
%p<
  作为具有高度社会责任感，密切关注中国教育的全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  (QNNSafe)，对于近日多起学校安全事件表示深切同情，并主动慰问当地各学校。全能保险柜高层领导参观了部分高校以及实验学校，针对学生宿舍管理和实验室物品管理的实际情况，积极为学校安全管理措施提出建议以及解决方案。某院校在安全管理措施方面与全能保险柜领导作了深入交流和探讨：院校制定了校园周边环境整治工作方案，成立检校联防安保应急小分队，由司法警察、门卫及学校安全保卫小组成员组成，应对突发事件发生。同时，学校在校门安装监控设备，实时监控学校安全，派出检察干警配合学校老师，在学生每天上学、放学重要时段到校门口值勤，增强师生和家长安全感，学校宿舍、老师办公区、实验室均配备保险柜，加强安全措施。另外，组织师生开展法制宣传教育工作，提高师生自我防范能力。
%p 许多学校利用五一学生放假时间，对学校安全进行了整顿：在校区内安装监控系统；聘请专职保卫人员；学生宿舍配备保险箱加强管理；实验室配备专制保险柜加强化学物品管理；教师办公室配备保险柜；加强学校食品安全；清理学校周边的小商小贩；整肃校园周边环境等一系列措施，加强学校教师和学生的各类安全教育，增强师生的安全意识。
%p 学校是祖国未来花朵的浇灌之地，社会人才培养之处，肩负着祖国教育发展的重大使命，经过几起悲剧事件之后，使我们认识到学校安全管理和学校教育发展同等重要，学校安全管理是教育发展的必要条件。全能保险柜(QNNSafe)呼吁大家：关注学校安全、关注祖国未来，安全生活，点滴做起！
