---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能智能枪弹柜,基于物联网的武器装备管理系统
keywords: 保险柜
description: 广东安能保险柜制造有限公司组织公司研发骨干力量，历时两年，研发出具有行业领先水平的产品——智能网络枪弹柜管理系统，破解了枪支管理全国性难题。
---
%p 近年来，特别是公安部颁布实施“五条禁令”后，全国各地民警用枪管理制度愈加严格，由于担心枪支管理存在漏洞引发事故，现有管理制度规定，民警从接到指令到取枪在手要开三道锁，找两个人，一些地区甚至形成“刀枪入库、严防死守”的局面。在传统管理模式下，上级部门对枪柜使用单位的枪弹使用、维护、检查情况不明，难于及时动态掌握用枪情况。这在一定程度上带来现实应用方面的效率低下，增加了民警执行公务的危险性，与公安部门快速反应的要求极不相称，造成管、用严重脱节。如何建立规范便捷的管理机制，改变“有枪领不出”的尴尬，成为各级公安机关亟待解决的一大问题。
%p<
  针对这一课题，广东安能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  制造有限公司组织公司研发骨干力量，历时两年，研发出具有行业领先水平的产品——智能网络枪弹柜管理系统，该系统利用指纹识别、网络传输等技术，科学、高效、安全地进行警用枪支管理与应用，破解了枪支管理全国性难题。这套解决方案具有先进性、安全性、实用性、可视性四大特点，严谨可靠，采用世界先进的指纹核心识别技术、安防摄像技术、数据库技术、物联网技术、加密技术、IC卡认证技术、红外线识别技术等多种先进技术有机组合，具有识别精度高、比对速度快、硬件可靠耐用、系统稳定、功能强大等优点。
%p 据安能公司技术负责人介绍，该系统基于物联网技术研发，由专用枪柜、指纹锁、网络设备、摄像机、计算机数据库等硬件组成。运行中主要依托前端指纹识别、网络数据传输、计算机识别认证三个流程进行。系统的前端枪柜可预先设定3个不同权限的使用授权与民警指纹，在动用枪支弹药时，必须由经过授权的1-2名负责人电脑审批或手机审批、用枪民警指纹验证才可以开锁，当指纹识别成功时，立即核对指纹权限，通过认证后完成自动开锁，并且系统可以根据实际管理需求设定1-2人共同完成枪支弹药的存取。智能系统不仅对开柜时间及指纹信息自动生成工作日志，还可以在操作管理人员进行身份认证时自动作出图像抓拍并存档备案，通过网络也可以实时监控与查询图像，从而真正实现对单位每次开关枪柜情况的登记、查询、统计、可视化等功能，有效避免了在传统管理方式中常见的各类开锁密码、钥匙易遗失被盗、领取枪支人员不符等现象，对安全性和为远程的决策提供了准确的依据。如枪支和弹药未能在指定时间交还或遭到破坏违规开启，系统还会向有关人员发出短信等提醒与报警。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id002601.jpg"}/
%p 全能智能枪弹柜管理系统使用流程
%p 由于基于物联网技术设计，全能智能枪弹柜系统不仅可作为单一的系统存在，也可以通过网络实现数据共享和数据传输，实施局域网和总专用网络相结合，完善系统信息化、智能化的管理，上级及异地领导也可以直接参与作战指挥、控制、决策等工作，提高了反应速度和准确性。
%p 据了解，全能智能枪弹柜系统解决方案已在深圳警察学校等多个公安系统开展使用与推广，系统安全可靠、管理规范，大大提高了使用部门的工作效率，使警用枪柜和枪支管理走上自动化道路。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id002602.jpg"}/
