---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 一件特别的礼物
keywords: 保险柜
description: 在我们的生活中，我们内心深处也许都有这样一种强烈地渴求，那就是安全感。而全能保险柜不仅提升着我们的安全感，还能实实在在地影响着我们的生活。
---
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id003001.jpg"}/
%p 新婚不久的妻子，便落得了一种小心翼翼的怪毛病。
%p 晚上，特别是夜深人静之时，只要听见细微的声响，便要“啪”一声把灯亮了，警惕地把我催醒，神秘地对我说：“是不是来了小偷！”然后睁大眼睛继续细听，直到声音消失很久，实在太累了，才迷糊地睡着。
%p 白天，每逢出门时，她总是再三唠叨提醒，一定要把门窗锁好。有时突然想起家中的一个窗门没有关好，就要打电话嘱咐我回去查看是不是那样，或者亲自回家查看。
%p 妻子一向开朗大方，甚至有点马大哈。但自从那次我家被盗，她就变得小心翼翼了，甚至有点神经质。那是今年五一，我们夫妻俩外出蜜月旅游。回来时，一进门，都不由被眼前的景象惊呆了：室内一片狼藉。现金倒没有被偷多少，电视机、洗衣机、冰箱等大件物品，小偷也搬不走。但金银首饰没了，要命的是房产证、文凭之类的重要文件均被“惨无人道”的撕烂了。当时，看到这种惨象，她一下子傻了：怎么会这样呢？如果我们不去旅游，可能不会这样！如果……。但是，已经没有如果了。
%p 就是这样，她变得小心翼翼了，为此晚上经常睡不好，身体也每况愈下。我带她去看医生，医生也开了一些药，好像是安眠、安定之类的药，但状况始终没有得到很好的改善。一位朋友提醒我，也许是心病，心病还需心药医。
%p 一天，我正要出门陪妻子上医院看医生。突然听到邻居陈生与老婆吵架。原来是陈生突然为家中添了一件家具——保险柜，而他老婆认为家里没什么贵重东西可存，坚决要让丈夫赶紧退掉。一向“听话”的丈夫，执意不退，说是最近小区的家庭多次被窃，除了损失不少现金、首饰之外，就连水卡、电卡这些没什么大用的东西也都被洗劫了，所以陈生要未雨绸缪防患于未然。但买回的保险柜现在就只存放不值钱的各种家用卡，所以引起妻子强烈不满，于是引起了争执。
%p<
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  ！如果当时我们有个保险柜，我们的财物和证件就不会被盗和毁坏了。妻子的心结也许就是这。一语惊醒梦中人。于是，我立即就拉着妻子的手，赶到某保险柜的专卖店，买了一台全能牌保险柜，作为一件礼物送给了妻子。
%p 看着保险柜牢固坚实的样子，妻子笑了，“真好，有这个我就放心了！”妻子高兴地把她认为重要的东西一五一十的收纳进去。
%p 说也怪，当晚妻子就睡得很香！再后来，她那神经质的小心翼翼毛病居然也改了，身体也好了起来。
%p 这真是一件特别的礼物。我不由暗暗佩服自己的聪明。忽然想起“古人挖井得一人”的故事，古人的挖井得一人，是因为挖井后，节约了一个挑水人的劳力，所以“得一人”。而我买保险柜与这也有异曲同工之妙，我是“买保险柜治一病”。
%p 其实，在我们的生活中，我们内心深处也许都有这样一种强烈地渴求，那就是安全感。有时候，一些东西你看似暂时没有大用，但它却实实在在地影响着我们的生活。
