---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能携最新科技成果物流存取柜参加亚洲物流展
keywords: 物流存取柜
description: 全能保险柜公司携旗下的物流存取柜、电子密码存取柜、IC卡储物柜、指纹寄存柜、条码寄存柜等多款产品亮相本次亚洲物流双年展。
---
%p<
  6月6至6月8日，由德国慕尼黑国际博览集团主办的第五届中国国际物流、交通运输及远程信息处理博览会，又称2012亚洲物流双年展，在上海新国际博览中心隆重举行。全能公司携旗下的
  %a{href: "http://www.qnnsafe.com/"}> 物流存取柜
  、电子密码存取柜、IC卡储物柜、指纹寄存柜、条码寄存柜等多款产品亮相本次盛会。
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id002401.jpg"}/
%p 我司此次参展产品主题为“轻松解决物流“最后一公里”。作为国内保险柜行业的领军品牌——广东安能保险柜制造有限公司始终走在行业的前端，针对物流产业未来发展趋势及市场环境需求下，历时两年，投入巨资研发出具有行业领先水平的“物联网智能物流终端系统”，该系统以快递柜终端为核心，在快递企业现有信息系统之外建立一套尽量独立运行的辅助系统，系统基于公共网络通信，辅以GSM短信通信，实现各个子系统信息交换，具有无可比拟的技术优势：网络集成管理、全自助化的收寄方式、全方位的智能化功能、视频监控功能等等；真正符合了高效、便捷、安全的快递存取需求。
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id002402.jpg"}/
%p 在为期三天的参展过程中，全能亮相的“物联网智能物流终端系统”及相关系列产品受到了来自全国各地的物流协会领导、国外客商等的关注，对此系统对物流终端的运用给予高度评价；在现场工作人员详细的介绍并做功能演示后，众多客商对公司新品给予高度评价，纷纷与公司洽谈合作事宜。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id002403.jpg"}/
%p 据公司相关负责人介绍：国家 “十二五”战略规划中把新兴产业的发展作为一项重要任务。其中新一代信息技术产业要加快建设下一代信息网络，突破超高速光纤与无线通信、先进半导体和新型显示等新一代信息技术，增强国际竞争力是七大战略性新兴产业发展之一。公司作为高新技术企业之一，自始至终坚持创新发展为己任、注重新兴产业核心技术探索，目前在家用保险柜、金融保险柜、智能枪弹柜、智能物流存取柜等产品中等都有很大的突破。未来，公司也将加大更多投入，加强自主创新，增强自主发展能力。在安防领域中为“十二五”新兴产业的发展做出更大、更多的贡献。
