---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 从伦敦奥运会安保谈到保险柜行业
keywords: 保险柜
description: 伦敦的安保工作对奥运“安全空间“的营造，这与其历史悠久的安保文化是一脉相承。最引人注目的是其保险柜行业的发展，生动体现了特有的安保文化。
---
%p 以“激励一代人“（Inspire a generation）为口号的伦敦奥运会将于2012年7月27日拉开大幕，开幕式将在位于伦敦东区的斯特拉特福德奥林匹克体育场举行，其安保工作备受世人瞩目。
%p 为了确保奥运会安全，伦敦建立了海陆空的立体安防体系，甚至是连地对空导弹部队也派上了用场。据报道，奥运会期间，英国还将派遣10500人的部队参与奥运会的安保工作，并有13500人的部队将分别在海陆空部署，配合警察和警卫执行安保任务。台风战斗机、直升机、两列战舰和拆弹专家也将整装待发，除了和政府及警方紧密合作外，奥组委还将与G4S(一家总部位于英国的全球性保安服务公司，全球有超过63万名雇员，是仅次于沃尔玛的全球第二大私营公司雇主)合作处理安保事务。同时军方还打算在伦敦夏季奥林匹克运动会期间使用一种类似枪声声响的设备，这一能发出巨大声响，最高音量大约150分贝，最大“射程”3公里，可以使人体出现痛感的“新式武器”，也将为奥运盛会保驾护航效劳。
%p 伦敦奥运会高调张扬的安保动作，既体现了伦敦对世界的承诺，也是其“激励一代人”渲染。正如科勋爵在阐释奥运口号时说“这蕴含着我们这一团体的情感，也是核心要素，同时也是运动员们的战斗口号，我们邀请他们来英国表现出最好的一面，激励全世界。”
%p<
  其实，伦敦的安保工作对奥运“安全空间”的营造，这与其历史悠久的安保文化是一脉相承。在特有的经济发展史上，英国形成了其独特的安保文化。最引人注目的是其
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  行业的发展，生动体现了特有的安保文化。英国是保险柜行业率先发展的国家，英国Chichester大教堂目前还现存着世界上最古老的保险柜，距今约有1000年历史。十八、十九世纪，随着社会物质财富的增长，英国殖民地的扩张，财富的不断积累，使英国成为了当时最强盛的国家。为更有效地保护自己的财产，保险柜行业也由此迅速兴旺。1818年，Chubb锁及保险柜制造工厂在伦敦成立。18世纪晚期，苏格兰的Carron Co.和英格兰的Coalbrookdale率先开始制造铸铁箱子和书柜，被认为是金属保险柜的发端。18世纪末至19世纪末，出于对利润的追逐，英国保险柜厂家雨后春笋般产生，并出现了一批知名的保险柜厂商，如Chubb锁及保险柜制造厂就是其中之一。在过去的一百年里，绝大部分金融领域的世界知名企业，均使用Chubb的产品，甚至在中国最早开放的沿海城市香港、上海、广州等地的古老银行大楼中，至今仍可看到近百年历史的Chubb保险柜。伦敦奥运会的安保工作，正是其源远流长的“安全防范意识强，技术含量高，不断追求完美”保险柜文化传承，以期营造更为安全的空间。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id001801.jpg"}/
%p 民心安，则天下治。安全文化的发展是一个国家强盛的必然结果。英国是世界最早的强盛国家之一，安保文化的形成也较早，其保险柜工业率先发展并兴旺发达，成为保险柜品牌最多的欧洲国家，也是保险柜经销商最多的欧洲国家；美国是当今最强的国家，保险柜行业的发展后来居上，成为保险柜的全球销量最大国家。中国的迅速崛起，也使中国成为了世界上保险柜最有潜力的市场。据了解，作为中国保险柜行业领军品牌的全能保险柜，每年生产的30万台各种保险柜供不应求，其所生产的防盗保险柜、防火保险柜、防火防盗保险柜、文件保密柜、酒店客房保险箱等系列产品，已广泛应用于商业、企业、政府机关、金融、家庭等领域，同时产品还率先应用于物联网、物流服务等新兴产业。见微见著，小小保险柜发展，也浓缩见证着一个国家的兴盛，诠释着一个国家安全文化的发展。
%p 言归正传，距离伦敦奥运会一个多月的时间，在新的国际形势下，伦敦奥运的安保营造“保险柜式”的安全空间，不但有“姿势”，也有“实际”，确实留给人深刻印象。虽然，人们对备受瞩目的伦敦奥运会安保也众说纷纭，但是无论是小题大作也可，还是炒作宣传也罢，防患于未然肯定错不了。伦敦奥运会的安保，说到底并非仅仅是因为奥运会，更是他们源远流长的安保文化以及安全保护意识和习惯使然，这就是“居安思危”！
