---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 公交悲剧折射出安全文化缺失
keywords: 保险箱
description: 安全文化的提升需从每个人做起，强化自身的安全意识，认清事故与灾害的严重性，自觉监督不安全操作的行为，全社会人应该明白安全是人类永恒的主题！
---
%p 6月5日，成都9路公交车发生燃烧，大约120人围困在车内，车上主要的逃生通道被堵，乘客都找不到灭火装置和安全锤，此次事故造成27人遇难72人不同程度受伤。为何会发生这样一起可怕事故，相关部门正在调查。
%p 又是一次血的教训，27条鲜活的生命就随着一团烈火离我们而去。这是一场不折不扣的悲剧，事故一出，全国震惊。一个20多平方米的空间内竟能容纳约120人？且车内的安全措施工具竟然不知去向，不得不让人悲叹，安全意识、安全保护措施被玩忽职守和不良习惯践踏到如此地步。任何时间、任何地方，公共场所和家庭住处都时刻潜藏着安全隐患，人坐家中，祸从天降，灾难可能在不知不觉中降临，但如果公交车按标准乘载人数，会造成车上逃生通道被堵塞吗？如果车内配备的安全措施工具应有具有的安装在固定的显眼的位置，会导致27条生命冤逝吗？灾难虽不能阻止，但采取必要的防护、保护措施是完全可以将损失、伤害降到最低点。
%p 从事件可以看出，人们的安全意识有多少？安全文化又懂多少？
%p 人类社会发展到近代，各种产业的飞速发展，给人类带来了巨大的物质财富，但另一方面，人类面临危险、危害和环境污染的严峻性也加剧了。汽车、火车的发明，交通事故使众多人丧生于车轮下。工业的发展，技术的进步，使人们在工厂作业，日常生活中，因为技术故障和误操作引起的灾害增多，这都是有目共睹的事实。据中新南宁网报道：某市从5月至今发生5起突发公共安全事故，损失近十几万元，北京新华社报道：今年上半年某市公共安全死亡事故76起，损失上亿元。安全事故累累发生，生命和财产的巨大损失，问题的根源在哪呢？事实证明，根本问题出在我们国民整体普遍缺失安全文化，没有安全意识。
%p<
  在无形的安全隐患中，公共场所和家庭住处应该采取怎样的安全措施？使生命、财产的损害损失降到最低呢？在酒店、商场、银行等公共场所采取的措施应包括：安装灭火材料和监控系统、配备保险柜和
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  、保持安全通道畅通等系列措施；在家庭住处采取的措施包括：安装防盗防火装置、配备保险柜和保险箱。
%p 保险柜一个曾经被人类忽视的物品，随着人们生活水平的提高，保险柜已成了家庭、企业办公、银行金融、机关单位的财产保护神。在发达国家，家庭拥有保险柜的比例达到90%，在我国比例不到5%，相对国外比较，国内家庭的安全保护意识较弱，国内目前保险柜仅应用于较大型的单位或企业。5.12四川汶川大地震中，在一座塌陷的废楼墟里，警员们挖出3个保险柜，柜子完好无损的被营救，存放的物品和证件全部安然无恙，为国家直接挽回经济损失超百万余元。
%p 安全文化的提升需从每个人做起，从小教育，提高每个人的安全意识和素质，强化自身的安全意识，认清事故与灾害的严重性，达到每人心中都有安全意识，每个人都能自觉监督不安全操作的行为，全社会人应该明白安全是人类永恒的主题！
