---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 周恩来保险柜的秘密
keywords: 保险柜
description: 周恩来是个保密意识很强又很细心的人，保险柜钥匙几乎不离身，平时都是亲自取放保险柜里的东西，至于保险柜里面究竟有什么秘密没有一个人知道。
---
%p 周恩来（1898～1976），字翔宇，曾用名伍豪等，浙江绍兴人。中国无产阶级革命家、政治家、军事家和外交家，中国共产党和中华人民共和国的主要领导人，中国人民解放军的创建人之一。建国后，历任政府总理、外交部长（兼任）、中共中央军委副主席，第一届全国政协副主席，第二、三届主席。
%p<
  “总理平时有两件东西是从不离身的。一件是他的那只老手表，另一件是办公室和
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  这两把钥匙。”邓颖超秘书赵炜回忆。周恩来的办公室有三把钥匙，他自己一把，值班秘书一把，值班警卫一把，连邓颖超都不能“私自”进入他的办公室。或许是早年革命生涯沿袭下来的习惯，周恩来的钥匙几乎24小时不离身，平时放在衣服口袋里，睡觉时就压在枕头底下，出国时才交给邓颖超保管，“大姐把钥匙放在信封里，为了避嫌，特意用钉书器把信封口钉上，等总理回来后再完璧归赵。”
%p 平时，周恩来都是亲自取放保险柜里的东西，至于里面究竟放了些什么，邓颖超也从不知晓。在总理身边工作了21年的赵炜有过两次打开保险柜的经历，第一次是“文革”初期，周恩来让赵炜将里面存放的三个存折取出送交中国银行保管，三个存折累积40万元的存款是解放后国家给傅作义的补贴。“文革”一起，傅作义怕红卫兵抄家，便在抄家前一天晚上送到周恩来这里保管。第二次开这个保险柜时已是周总理去世，来清理遗物。“说实在的，这次打开保险柜很出乎我意外，因为里面根本没有任何重要的东西。”总理是个保密意识很强又很细心的人，赵炜推测，他一定在住院时就把里面的重要东西作了安排。
