---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能保险柜荣登“中国保险柜十大品牌”榜首
keywords: 保险柜十大品牌
description: 由中国驰名商标网、中国十大品牌网、今讯网、商务时报、中国品牌国际化促进会主办的2011年“中国保险柜十大品牌“评选活动中全能保险柜荣登榜首。
---
%p<
  近日从中国行业十大品牌活动组委会处获得喜讯：由中国驰名商标网、中国十大品牌网、今讯网、商务时报、中国品牌国际化促进会联合主办的2011年“中国
  %a{href: "http://www.qnnsafe.com/"}> 保险柜十大品牌
  ”评选活动正式揭榜，全能保险柜荣登榜首。
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id002101.jpg"}/
%p 此次活动主要以“引导品牌消费，共同打造诚信品牌”为宗旨，本着动态管理、公开透明的原则进行评选，一切以体现客观性和准确性为重要准则，真正做到十大品牌不是评选、不是表彰、不是认证、更不是竞价排名，而是广大用户使用体验的最终结果的真实呈现。评选活动经过两个多月的角逐，得到了政府部门、权威专家、业内人士的大力支持，全国数百家企业接受了网友和专家评委们的数轮评审，在业内外的共同期待中隆重揭榜。全能保险柜在数百家企业中脱颖而出，并且荣登榜首，是企业品牌与产品实力的真实写照。
%p 全能保险柜品牌直属广东安能保险柜制造有限公司，是目前中国大陆领先的保险柜制造企业，其控股工业集团创始于1935年。1999年，安能保险柜制造有限公司正式成立，致力于高品质、高安全性能的保险柜制造与销售，生产场地三万余平方米，年产各类保险柜20万台。所生产的防盗保险柜、防火保险柜、文件保密柜、酒店客房保险箱等系列产品，广泛应用于商业、企业、政府机关、金融、家庭等领域。
%p<
  %strong> 持续创新
    
  %strong 全能保险柜敢为天下先
%p 公司自成立以来，发展迅速，已经成功跻身中国一流保险柜品牌的行列。公司以其卓越的品质控制、完善的售后服务，成为通讯企业、金融机构、公安部门、武警部队等重要政府部门、企业的独家供应商，同时还是2008北京奥运会、2010年上海世博会等国际盛事的战略供应商。
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id002102.jpg"}/
%p 以产品创新赢得市场，是全能始终坚持的理念。全能拥有卓越的自主研发团队，不断研发科技、人性化的产品。针对市场竞争激烈的3C柜推出高尔夫、钢铁侠系列；针对公司产品保管箱类别的稀缺，加大了对保管箱研发力度的投入；在高端产品中，推出了安全性能媲美国际标准的家用金库系列。除了把握创新安防技术外，全能保险柜也注入了不少人性化元素。在操作方法上，全能对操作面板不断地进行改革，设有触屏式、指纹式、指纹加数字键盘式等多种方案；在产品外观上，加添了不少时尚元素，从材质、图案和结构上迎合更多不同环境装饰的需求，使产品与使用环境更和谐、更美观。
%p<
  %strong> 创全能家居安全空间
    
  %strong 全能引领保险柜家用化
%p 随着社会的发展，保险柜的使用范围不断扩大，已再不止于公司、银行、金融等商务用途，而正在走进普通百姓家庭，逐步成为家庭必备品。
%p 为此，公司总经理李政一率先在业界提出“创全能家居安全空间”的概念，保险柜是家居安全生活的一部分，并研发一系列适合家用的保险柜产品，希望为中国普通百姓提供更加安全、舒适、便捷的产品，其中最新研发的智能产品及指纹产品，给顾客带来更高安全性能，更便捷的使用体验。
%p 在发达国家，家庭拥有保险柜的比例达到90%，在我国比例不到5%。因此，全能保险柜承担起行业普及的担子，通过一系列活动的开展及宣传，保险柜家用化的观念正在深入人心，更多的家庭正在意识到保险柜对于家庭生活的重要性。全能保险柜同时也成为中国百姓家用保险柜的首选品牌。
%p 立足中国，“全能”成已为中国最专业，产品质量和服务最优秀的保险柜品牌，赢得了社会的充分认可；面向全球，“全能”将继续创新发展，提供更高科技含量、更全面的产品，力争成为全球安全防护行业的领先企业。
