---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能智能枪弹柜亮相中国国际警用装备博览会
keywords: 枪弹柜
description: 作为全球安防领域领先的设备提供商和品牌服务商，全能保险柜将携众多智能化枪弹柜亮相博览会，希望借此平台，推向全国，以更好的产品服务于用户。
---
%p 2012年5月22日，第六届中国国际警用装备博览会将于北京国家会议中心隆重开幕，本届博览会的主题为“集中展示高新技术产品，吸收引进先进警用装备，着力打造交流合作平台，加快推进行业自主创新，有效提升公安装备水平”，一系列代表国际先进水平的警用产品将陆续登场。
%p<
  作为全球安防领域领先的设备提供商和品牌服务商，全能公司将携众多智能化
  %a{href: "http://www.qnnsafe.com/"}> 枪弹柜
  亮相本次博览会。本次展会全能除展出指纹枪柜、弹药柜、普通枪柜外，还隆重推出最新研发成果——具有网络管理功能的智能枪弹柜系统，该系统通过网络通信、数据库系统和管理信息处理平台等技术，将枪支或弹药的收发过程进行网络监督和控制，治安、督察等部门可依托该系统对枪支管理进行网上远程监控，对出现异常情况枪柜报警进行远程操作处理，对警员调动等引起的指纹认证权限及部门变化进行远程调配，实时精确掌控配枪单位的枪支、枪柜管理运行状况，将大大提高了公务用枪管理效能，节约了管理成本。
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id002701.jpg"}/
%p 全能智能枪弹柜管理系统
%p 全能公司总经理李政一表示，随着高科技的蓬勃发展，智能化及信息化管理已经走进了社会的生产、生活的各个方面，为适应信息时代的需要，枪支弹药作为执法部门管理的重要组成部分，必须在功能上满足当前和未来的发展需求，以提高工作效率和安全性。针对警用枪弹柜管理网络化、智能化的需求，公司组织主要研发骨干力量，研发出具有行业领先水平的产品，希望借此展会的平台，推向全国，以更好的产品服务于用户。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id002702.jpg"}/
%p 据悉：本届博览会将有来自澳大利亚、巴西、德国、俄罗斯、法国、荷兰等14个国家和地区的近300家参展商参展。它在推动中国警用装备行业的发展、提高警用装备现代化水平、了解国际警用装备的现状等方面发挥了重要作用，并已引起越来越多的国家和地区的关注。
