---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 提升安全感的新一代安全空间
keywords: 保险柜
description: 全能把防火、防潮技术灵活应用在保险柜中，全方位，多角度地保护物品的安全。除了技术层面上不断革新，在产品的外观和操作上也增添了不少人性化元素。
---
%p 大型灾难片《2012》引发的“末日潮”席卷全球，给地球村的村民们带来了或多或少的末日恐慌。末日预言虽未得到科学证实，但自然灾害的逐一涌现加重了民众的心理恐慌，人们的社会安全感迫切地需要获得提升，由此引发起民众对于“安全空间”的诉求。
%p 对此，全球各地纷纷推出了各种版本的“诺亚方舟”。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id002801.jpg"}/
%p 日本胶囊版诺亚方舟——迷你救生舱
%p 2011年11月，日本Cosmo Power公司推出了这一款迷你胶囊版救生舱，日本市民称其为“诺亚方舟”。其发明者、公司CEO田中昭次向记者介绍说，这是他4年前在电视上目睹九州特大暴雨后萌发的理念，决定制作这款漂浮逃生舱，能帮助人们在洪水、海啸、地震等大灾难中得以逃生。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id002802.jpg"}/
%p 俄罗斯的新型密封舱
%p 为应对随时可能发生的自然灾难，俄罗斯工程师和发明家叶夫根尼·尤比耶库发明了一妙招。他研制出一种新型密封舱，声称可以用它躲过火山熔岩和海啸等任何劫难。这种密封舱能搭载4人，而且没有什么可以摧毁它。呆在这种密封舱里的人，可在里面存活40天， 可以躲过自然灾难、恐怖袭击、甚至世界末日。
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id002803.jpg"}/
%p 美国休斯顿近海科技会议上发布的大型逃生舱
%p 在2011年美国休斯敦近海科技会议上，美国国际逃生公司展出的能够容纳60人的逃生舱格外引人注目。这个逃生舱整体呈椭圆形，按照公司的介绍，这样的设计可以让逃生舱结构更加坚固，也能提供更大的侧面撞击结构强度。而椭圆形的船体提供了更小的转弯半径，显著提高了可操作性，能够在安全的范围内避开危险区域。
%p 各地救生舱的纷纷面世，引起了全球民众的广泛关注，这也揭示了在现今社会中民众安全感的流失。然而，在重视人身安全的同时，您有没有想过您辛苦积攒回来的财物、您的收藏品、满载回忆的纪念物也需要一个“安全空间”？
%p 盗窃案例的频发，火灾事故的肆虐，都在威胁着人们的重要物品的安全，打造新一代物件的安全存放空间刻不容缓！
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id002804.jpg"}/
%p 从左到右分别为全能金库、全能风生水起、全能可拉珍藏柜
%p<
  近日笔者了解到，华南地区最大的
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  品牌Qnn Safe全能提出了“创全能安全空间”的理念。笔者从采访中获悉，Qnn Safe全能保险柜具有优秀的防盗功能，新型产品的锁控系统已采用了全球顶尖的双核技术，防盗保险级别能媲美国际著名品牌。同时，全能也把防火、防潮技术灵活应用在保险柜中，全方位，多角度地保护物品的安全。除了技术层面上的不断革新，全能在产品的外观和操作方法上也增添了不少人性化元素。精准型激光切割表面处理，创新触屏式面板，智能化指纹开启，务求给顾客的生活带来更别致的安心享受。
%p 这真的能堪称重要物品的“诺亚方舟”!
