---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 周总理的保险柜
keywords: 保险柜
description: 周总理有两件东西是从不离身的，一件是他的那只老手表，另一件就是办公室和保险柜的两把钥匙，对于那个神秘的保险柜，很多人却从来没见过打开的时候。
---
%p<
  周总理的
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  与红电话
%p 赵炜讲，周总理平时有两件东西是从不离身的，一件是他的那只老手表，另一件就是办公室和保险柜的两把钥匙。周总理的钥匙是几乎24小时不离身，平时他放在衣服口袋里，睡觉时就压在枕头底下，只有出国时才交给邓大姐保管。平时，周总理保险柜里的东西都是他亲自取放，至于里面放的是什么，连同邓大姐在内我们都不知道。从1958年，我就开始出入周总理的办公室，但对于那个神秘的保险柜，却从来没见过打开的时候。
%p 保险柜里三个傅作义先生的存折
%p 文革初起那年，一天，我给周总理送完文件刚要走，你别走，还有点事，周总理叫住了我。接着他从口袋里掏出那两把永不离身的钥匙问我：赵炜，你会开这个保险柜吗？我虽然没开过总理的保险柜，但这么多年大大小小装保密文件的柜子也不知开过多少次，心想开这么个柜子又能难到哪儿去，就说：试试吧，大概没问题.
%p 没问题？周总理笑了，给你试试。说着他就把钥匙递给我。
%p 我拿过钥匙走到保险柜前，先端详了一下，就把钥匙插进锁眼按照开一般保险柜的方法试起来，谁知左转右转也没把柜门打开，急得我出了一头汗，我只好回头告诉周总理我开不开。
%p 怎么样，你不会开吧？周总理抬起头说。
%p 不会开，我老老实实地回答。
%p 周总理走过来开始教我开保险柜，他指挥我动手，保险柜终于打开了。
%p 那里面有三个傅作义先生交来的存折，我昨晚带回来的，你数数看一共有多少钱。周总理吩咐说。
