---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能保险柜贺中国健儿获全能冠军
keywords: 保险柜
description: 作为此届亚运盛会中办公保险柜、枪柜的中标者全能保险柜，向奋战在亚运场上的中国健儿表示祝贺，祝健儿们向梦想冲击，在广州亚运的舞台上勇创佳绩。 
---
%p 激情盛会，和谐亚洲
%p<
  2010年广州亚运会暨第16届亚运会于2010年11月12日至27日在广州举行，该届亚运会包括28项奥运会比赛项目和14项非奥运会项目的正式比赛项目。截至到昨天，中国队摘下第54枚金牌，位居榜首，其中获全能冠军5枚（体操女子个人全能冠军、体操男子个人全能冠军、武术男子南拳南棍全能冠军、武术女子剑术枪术全能冠军、女子南拳南刀全能冠军）。作为此届亚运盛会中办公
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  、枪柜的中标者QNN Safe全能保险柜，在此向奋战在亚运场上的全体中国健儿表示祝贺，祝亚运健儿们向梦想冲击，在广州亚运的舞台上勇创佳绩，为国争光.
%p QNN Safe全能保险柜秉承着为人类创造更加舒适安全的生活和工作环境，积极进取、不断创新，打造业内最高端的品牌的全球著名品牌QNN Safe全能保险柜。最新推出的行业内领先的3G通讯可视频监控报警保险柜、人脸识别技术的高安全性保险柜、远程授权监控、实时查询的智能化枪弹柜、可拍照和视频记录的保险柜，已逐渐应用到政府机关、武警部队、各大盛会等高端领域。QNN Safe全能保险柜相继为2008年奥运会、2009全运会、2010世博会提供专业、个性化和全方位的解决方案和服务。
%p QNN Safe全能保险柜为祝贺中国健儿取得骄人的成绩以及获得全能冠军的运动员们，特推出限量50台238元亚运特价产品，为亚运加油！
