---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 防盗保险柜与防盗保险箱的区别
keywords: 保险柜
description: 防盗保险箱体积小、重量轻，具有一定的防盗性能，适合宾馆和家庭中使用。防盗保险柜防盗性能高于防盗保险箱，它比较适合机关、企事业单位使用。
---
%p<
  防盗
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  \/保险箱是一种特殊的容器，国家对防盗保险柜/保险箱的生产有严格的要求，因此在购买时要对这些要求有初步的了解。
%p 防盗保险箱的宽、高和深尺寸分别小于450mm、320mm和300mm，其特点是体积小、重量轻，具有一定的防盗性能。它的运输、安装比较方便，通过膨胀螺栓等固定装置与地面或墙壁固定，窃贼不易搬走。镶嵌式防盗保险箱镶嵌在墙内，具有一定的隐蔽性。防盗保险箱比较适合宾馆和家庭中使用。
%p 防盗保险柜的尺寸大于上述规定，防盗性能高于防盗保险箱，它比较适合机关、企事业单位使用。防盗保险柜根据其防护性能又可分为A类、B类和C类3种。其中C类防盗性能最高，A类最低。现在在商场里见到的保险柜绝大部分都属于A类防盗保险柜。
%p 依据不同的密码工作原理，防盗保险柜/保险箱又可分为机械保险和电子保险两种，前者的特点是价格比较便宜，性能比较可靠。早期的保险柜/保险箱大部分都是机械保险柜/保险箱。电子保险柜/保险箱是将电子密码、IC卡等智能控制方式的电子锁应用到保险柜/保险箱中，其特点是使用方便，特别是在宾馆中使用时，需经常更换密码，因此使用电子密码保险柜/保险箱，就比较方便。
