---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 保险箱与保管箱的区别
keywords: 保险箱
description: 保管箱与保险箱其外形和颜色与保险箱并无二致，所使用的锁具也仿效保险箱设有机械密码、电子密码等几种，一从业人员对两者之间的差别也极易模糊不清。
---
%p<
  保管箱与
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  不但在字面上只有一字之差，其外形和颜色与保险箱也并无二致，所使用的锁具也仿效保险箱设有机械密码、电子密码等几种，不要说一般消费 者难以辨别区分，就是一些从业人员对两者之间的差别也极易模糊不清。由于保管箱较之保险箱价格上便宜许多，有些厂商就在产品说明书或介绍材料上作文章，故意使用模棱两可的词语，令消费者对两者混淆，诱导消费者进行购买，而保险箱与保管箱在材料使用和最基本的防盗功能上却相差极大。那么，如何对保险箱与保管箱进行区别呢？
%p 一、箱体上是否贴有CCC标志
%p 保险箱：有
%p 保管箱：无
%p 在2004年保险箱就被列入了国家强制性产品目录，2005年10月1日起，未获得强制认证证书和未加贴CCC标志的保险箱，不得出厂、销售、出口或在其他经营活动中使用。所以现在市场上进行销售的保险箱箱体上都必须贴有CCC标志，若是没有，便是所谓的保管箱或是珍藏箱等一类。而保管箱达不到国家强制认证标准，不可能获得强制认证证书，当然箱体上也不能贴上CCC标志。
%p 二、材料使用上的不同
%p 保险箱：优
%p 保管箱：没有标准
%p 依造国家标准，保险箱的用料必须是优质钢材。门板的钢材厚度要达到8~10mm以上，箱体厚度要达到6mm以上。全能保险箱的门板厚度都在10mm以上，箱体厚度6mm以上，材料全部采用优质低碳合金钢，箱体加工采用一次成形技术，门框和门板都采用最先进的激光切割技术加工而成。而保管箱没有相应标准，只有企业标准，用料也良莠不齐，门板使用的钢材厚度没有统一规范，从10mm到不足1mm的都有，箱体钢材更薄。甚至有些不良厂商门板用不足2mm的钢板在四周镶上8~10mm的钢板冒充10~12mm厚的钢材门板，箱体则用比较薄的钢板包裹成箱体的形状，在中间灌注水泥、沙子、碎石等的混合物，所能提供的防护功能可想而知。
%p 三、防盗性能上的不同
%p 保险箱：强
%p 保管箱：弱
%p 保险柜（箱）在门板上的门锁、密码锁、手柄等关键部位国家标准上规定要用硬度达到HRC550高防钻功能的防钻板给以有效保护。门板缝隙紧密，不会超过2mm；抗破坏能力（包括抗开孔能力和抗开柜门能力两项检测指标）强制标准规定，即使保险箱中安全级别最低的A1级产品，也应能阻止普通手工工具、便携式电动工具和磨头以及这些工具的相互配合使用，且在15分钟的净工作时间内无法打开箱门，或无法在箱门或箱体上造成一个38平方厘米以上的孔洞。至于安全级别最高的C类产品，抗破坏能力更规定要长达60分钟以上。
%p 四、价格上的不同
%p 保险箱：一般在1000元以上。
%p 保管箱：几百元不等
%p 保险箱生产时所选用的钢板材料和工艺都有较高要求，成本相应较高，所以保险箱的零售价一般都在1000元 以上。全能保险箱为达到更理想的防护能力，与其他生产厂家相比，投入了更多的经费进行研发，对材料的使用要求更苛刻，在同规格的产品上除国家标准外，还使 用了更多的专利技术。售价上稍高于其他品牌产品也就不难理解了。保管箱因为没有材料和技术上的要求，生产成本自然就低，为抢占保险箱市场份额，售价也低， 一般在1000元以下，甚至有的保管箱售价只有一、二百元，但这样的产品所能起到的保护作用也就可想而知。
%p 五、重量上不同
%p 保险箱：重
%p 保管箱：较轻
%p 因为用料足，选用钢材优质厚实，也为防止能轻松将保险箱轻易搬走，保险箱自身都比较沉重，或附有固定附件，令人难以搬动。因所使用的钢板材料较薄，质量优劣不等，甚至有的保管箱箱体钢材不足1mm，只能算是铁皮;，所以保管箱的自重与保险箱相比较轻。但有些聪明的保管箱生产厂家会在箱体底部浇铸水泥，这样的保管箱也会十分沉重。
%p 六、是否提供产品质量保险
%p 保险箱：有
%p 保管箱：无
%p 保险箱均需获得国家强制认证证书并贴有CCC标志的保险箱并带有产品质量保险。市面上进行销售的保管箱一般都没有产品质量保险。
