---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 保险柜走俏新生宿舍
keywords: 保险柜
description: 据销售人员介绍，有几款的产品也很适合学生使用，其中一款在淘宝网店上销售的全能ME2043电子保险箱基本能迎合这方面的需求，颇受学生欢迎。 
---
%p （新闻来源于信息时报）
%p 笔记本、IPAD、数码相机、手机……现在新生入学都有不少的“固定资产”。随之而来，保险柜也成为了宿舍用品的“新宠”。近日，记者走访某大学2011级新生入学情况时看到，保险柜租赁业务已悄然出现在“入学必备”的各种服务中，前来咨询的人也络绎不绝。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id001601.jpg"}/
%p<
  9月初一般都是各大学校区新生入学的高峰期，除了热情的志愿者和醒目的标识外，各种商家也走进了“迎新”的行列。据报导，除了被褥、桶盆、通讯用品等“入 学必备”物品外，“
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  租赁业务”也悄然打入大学生市场，只见该档口的广告上打着“新时期与时俱进之学生宿舍必备品”字样，称可以预防校园盗窃。
%p 现场不时有新生前来咨询，还有一些家长陪在一旁询问。“多少钱一年，被盗了怎么办？”家长们问得很实际。对此，档主称一年租金是180元，两年320元, 三年460元。如果学生存放在里面的物品被盗，经公安机关立案侦查完毕，最高会赔偿学生5000元。“我会考虑租一个，因为我带了手提电脑。宿舍的抽屉还 是不够安全的。”新生小黄说，他称，租保险柜并非不信任学校的安保，也不是不信任自己的同学，只是以防万一而已。
%p 现在学生的数码产品多了，手提电脑什么的，都要注意防盗。”档主罗先生说。他表示，因为学生有了这样的需求，所以这两年自己开始在附近的高校做这类生 意，没想到越来越受欢迎，“去年我们在这间大学租出去了三四百台，在某间私立学校租出去了200多台，有的学生一租就是三年。今年还没有统计，但前来咨询 的人很多。”
%p 据悉，还不是很多学校有此类的服务，其他学生可以考虑一下自购保险箱带回学校进行物品的保存。笔者到访了全能保险柜的卖场，最近也有家长前来咨询适合学校 存储的保险箱，据销售人员介绍，有几款的产品也很适合学生使用，其中一款在淘宝网店上销售的全能ME2043电子保险箱基本能迎合这方面的需求，颇受学生欢迎。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id001602.jpg"}/
