---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 保险柜走入家用品行列(珠江商报)
keywords: 保险柜
description: 珠江商报讯记者林琳报道：随着中国经济的快速成长，人民生活水平的不断提高，对安全管理与投资理财产生的新认识，保险柜正在成为一个热门的话题。保险柜已不仅仅局限于企业办
---
%p<
  珠江商报讯记者林琳报道：随着中国经济的快速成长，人民生活水平的不断提高，对安全管理与投资理财产生的新认识，
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  正在成为一个热门的话题。保险柜已不仅仅局限于企业办公、银行金融、机关单位等特殊领域使用，开始逐步进入家庭家用。2009年，在金融海啸席卷全球的影响下，全球金融危机却推动了家用保险柜热销，促进了保险柜行业的快速发展。根据有关部门预计，在未来的十年里，我国家庭拥有保险柜的普及比例至少增长5倍以上，保险柜将是最近十年内发展速度最快的行业之一。
%p 记者近日从淘宝网了解到，诸如君霸、全能、艾谱、永发、迪堡等网上热销品牌都有不菲的网上销售记录，购买者多为家庭用户，产品价格在200元至500元之间最为畅销。众买家对保险柜产品表现出强烈的热情和兴趣，频频发帖讨论，乐此不疲。记者发现，某款全能牌家用保险箱在淘宝聚划算促销活动中，居然有日卖1210台的销售井喷现象。看来，家用保险柜的市场需求已远远超出了人们的想象，未来保险柜将与人们的生活和工作息息相关，家用保险柜将会成为人类生活和家庭中必不可少的家具家电，是现代城市人的身份象征，也是富裕起来的农村人的安全管理青睐品。
