---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 智能保险柜助力抓家贼
keywords: 保险柜
description: 目前，由于得到“红外线感应保险柜”的及时报警，安城县城公安成功追回被盗的2万现金及金器，警方经过缜密侦查后认定为该电器公司“内鬼”伍某泉。
---
%p 本报讯 目前，由于得到“红外线感应保险柜”的及时报警，安城县城公安成功追回被盗的2万现金及金器，警方经过缜密侦查后认定为该电器公司“内鬼”伍某泉。
%p<
  3月26日凌晨2时30分许，安陈县公安局城厢派出所接到辖区某电器有限公司报警称：手机联网报警信息提示其公司的
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  被打开，保险柜里有现金及黄金项链已经被贼人移动过。值班民警立即带队赶赴现场展开侦查，民警对案件进行仔细分析，结合出入该公司的视频监控，初步锁定该公司一名员工伍某泉有重大作案嫌疑，便对嫌疑人伍某泉进行传唤接受调查。
%p 伍某泉对公司发生保险柜被盗一事，闪烁其词，回避话题，并对其当天凌晨的行踪无法自圆其说，民警便对其巧攻心，宣讲法律政策。在强大心理攻势和法律震慑下，犯罪嫌疑人伍某泉（男，48岁，安成县城厢镇同福村人）终于如实交代，原来2014年3月26日凌晨1时至2时许，他采用铁棍撬开公司办公室的门锁，将办公室内没进行固定安装的保险柜移出办公室外，并熟练的输入早已窥看到的保险柜密码并打开保险柜将内部的现金1万余元及黄金项链（总共价值近2万元）等物品盗走。
%p 而伍某万万没有想到，这款“全能牌红外线感应保险柜”拥有联网信息开柜提示，受红外线感应，柜内物体被移动后，信息也会及时反应到户主手机信息上。户主第一时间报警并将贼人抓获。
%p 目前，案件正在进一步审理中。 
