---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能保险柜冰桶挑战
keywords: 保险柜
description: 全能保险柜此次除了CEO李政一外，还有几名一线员工自愿参加了这项挑战，李政一同时向公司在北京、上海、广州、佛山、等地的经销商合作伙伴发出挑战。
---
%p<
  自上月29日起，一股名叫“冰桶挑战”的旋风席卷北美大陆，如今也刮到了中国大陆，国内众多一线明星、科技界大佬、商界领袖们纷纷赤膊上阵，用冰冷的水去支持全球ALS及中国“瓷娃娃”基金，而在8月21日，酒店安防业领先品牌——全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的CEO李政一也在全公司员工见证下，浇下冰冷的水，并鼓励公司员工参加到这个有意义的活动中。同时，李政一也身体力行，向中国瓷娃娃基金捐助了1000元，以示支持！据记者了解，李政一是国内安防行业老总进行“冰桶挑战”第一人。
%p 不为耍帅 是为公益
%p 全能保险柜此次除了CEO李政一外，还有几名一线员工自愿参加了这项挑战，李政一同时向公司在北京、上海、广州、佛山、东莞、玉林等地的经销合作伙伴发出挑战，让这一公益活动延续下去，带动全能保险柜公司一股公益风潮。让大家共同关注ALS，关注瓷娃娃，关注弱势群体，将公益进行到底。
%p 冰桶挑战到底是项什么运动？
%p 这项名为“冰桶挑战”的比赛，传自美国“ALS冰桶挑战赛”，规则十分简单：你只需要将一桶带有冰块的冰水从头淋下，然后在社交网络上@好友，向他们提出挑战。如果好友在24小时内没有回应，就要向一个名为ALS联合会的慈善组织捐款100美元。ALS即肌肉萎缩性硬化症，是一种渐进和致命的神经退行性疾病。所以这个“ALS冰桶挑战赛”实际上是为了提高人们对ALS这项疾病的意识以及募集捐款而进行的一项慈善活动。据ALS联合会称，从7月29日活动开始至8月17日，他们已经收到了超过1000万美元的捐款！而在中国也有与ALS联合会类似的慈善组织——瓷娃娃基金，目前大部分参与比赛的明星均往此基金进行捐助。
%p 名人纷纷加入挑战
%p 过去两天，包括雷军、罗永浩等国内知名IT大佬纷纷加入“冰桶挑战”行列。虽然有网友质疑有作秀嫌疑，但不少挑战成功者依然向美国的ALS协会或是国内罕见病公益组织“瓷娃娃”进行捐款。
%p 在国内文体圈，继林俊杰点名王力宏、蔡依林、陈奕迅之后，刘德华也被点名。昨日，刘德华接受此挑战，完成后，点名周杰伦、郎朗、香港残奥金牌选手苏桦伟接棒。另外，在8月23日，姚明将接受NBA中国首席执行官舒德伟的挑战，在姚明篮球学校的师生面前，淋一桶冰水。另外，叶璇等一大拨名人也加入进来。
%p 了解一下： ALS症
%p “肌萎缩性脊髓侧索硬化症”的简称，是一种运动神经元疾病，无法治愈而且致命。因为美国职棒著名球员卢•格里克得了此病，因此这种病在美国又被称为“格里克症”。ALS症的最著名患者，就是英国著名物理学家霍金。
