---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 保险柜GPS定位系统助擒贼
keywords: 保险柜
description: 由于保险柜中安装有GPS定位系统以及联网报警功能，在警察的帮助下，事主找回了保险柜，并擒获盗贼，所幸保险柜中的财物并无丢失，案件在进一步审理中。
---
%p<
  据东南网报道，7月12日下午，一名身材单薄的男子进入思明区美仁前社118号5楼一公寓盗窃，业主虽然购买了
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  ，却没有按要求把柜子固定安装，导致盗贼把100多斤重的保险柜搬下楼，还公然在人来人往的马路上推着走！最终，由于保险柜中安装有GPS定位系统以及联网报警功能，在警察的帮助下，事主找回了保险柜，并擒获盗贼，所幸保险柜中的财物并无丢失，案件在进一步审理中。
%p 逃离现场时，小偷还停下来吃桃子；盗窃期间，他也吃了一根香蕉。这个小偷可真是又大胆又贪吃！7月12日上午，范先生一家人出去“逛街”，下午又去思明岛外办事。这段时间，一个小偷就盯上他们家了。当天下午2点多，小偷撬了5楼范先生家的屋门。当时尚不知情的邻居发现，范先生家门口放了一把雨伞。
%p “雨伞应该是小偷故意放的，有人上门发现雨伞，可能会问几句，发出声响，他有一个保险柜是方形的，底部安有轮子没有拆卸掉，半米多高，重达100多斤。当初把保险柜搬来这里时，范先生请了两个汉子帮忙，才把这个“重家伙”搬上楼。有目击者指认说，这个25岁左右的小偷身高近1.7米，长得很瘦，尖嘴猴腮的样子。可是，小偷竟然把这个保险柜从5楼搬到楼下，而后推着走向通往禾祥西路的巷子，其间途经巷子口一处一楼高的阶梯，可想而知又费很大的劲。
%p 令人哭笑不得的是，下了阶梯后，小偷还停下来休息了一小会儿。有目击者看到，小偷嘴里咬着一个桃子，从容吃完后，他把桃核吐在地上，之后才往禾祥西路走去。“桃子是我家的！今天我打110时候，把这个情况给警方报备了。
%p 范先生说，当时，其实有不少居民都注意到有异样，不过大家都没有确定是小偷。楼下4楼一邻居家里有养狗，小偷竟然主动与邻居寒暄，询问狗会不会咬人，邻居笑了笑说不会咬人。就这样，他成功地消除了邻居对他的警惕。附近监控显示，12日下午3：40左右，小偷出了巷子来到禾祥西路太湖新城站路段。小偷弯着身，推着保险柜，上面盖着一条床单。虽然柜子底部安上了轮子，但看起来他推得很费劲。
%p 小偷背上还有一个黑色背包，应是装了偷来的电脑等物。该路段一个店铺老板看到，其间背包的带子断了，小偷就把背包放在保险柜上，在人来人往的人行道上，继续推在外人看起来，这个推着重物的瘦小男子挺辛苦的，但当时谁能想到，他是一个小偷！
%p 据介绍，保险柜里有5件贵重首饰和公司公章，价值数万元。但是让范先生庆幸的是他所购买的保险柜具有GPS防盗追踪功能，只要手机登陆账号就能即时GPS定位小偷位置，电脑里面很多重要资料也能根据保险柜的GPS定位小偷位置而找回来了。目前，思明警方已介入追查此案。范先生说，小偷吐出的桃核也成为了证物之一。
