---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 企业员工助爱鲁甸灾区
keywords: 保险柜
description: 全能保险柜企业员工通过顺德慈善会、广东狮子会举办的情系鲁甸—德爱服务队803灾区物资收集活动，自发向云南鲁甸地震灾区群众伸援手、献爱心，捐款捐物。
---
%p<
  本报讯 （严梓 记者 花娄穗） 云南省昭通市鲁甸县发生的6.5级地震牵动着全社会的心，社会各界热心人士纷纷捐款捐物，支援灾区抗震救灾。8月初，全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  制造企业员工通过顺德慈善会、广东狮子会举办的情系鲁甸——德爱服务队803灾区物资收集活动，自发向云南鲁甸地震灾区群众伸援手、献爱心，积极捐款捐物，为灾区同胞送去一份温暖、一份关爱，支援灾区抗震救灾，共渡难关。
%p 全能保险柜企业作为我国保险柜领域标杆性的行业，企业员工在第一时间也行动起来了。在得知震后援助消息之后，广东安能保险柜制造发展有限公司员工于第一时间自发开展了赈灾行动。对于云南灾区同胞来说，目前最急需的是水、食物和帐篷。因此，全能保险柜企业员工向云南灾区捐赠了两百五十多箱灾区急需饮用矿泉水以及部分食品物资用于支援灾区，总价值近5千元左右。
%p 我们无法知道还有多少全能保险柜这样的企业在默默地为灾区尽自己的绵薄之力。安防行业是我国的特殊行业，面临诸多难怪与挑战，或许就如云南灾区的灾民一样，急需社会与市场的支持。即使企业应对着重重的考研，但是企业员工们依然没有忘记中国的同胞，献出自己的一份心意。“虽然我们的力量很弱小，我们的支援在巨大的灾难面前或许显得微不足道，但希望能通过自身积极参与爱心捐赠来号召、带动行业齐行动，纷纷伸出援助之手，给灾区人民捎去重建家园的希望！”一位全能保险柜的车间员工说到。
