---
layout: news_article
type: 媒体报道
type_eng: media-reports

title: 全能保险柜冰桶挑战
keywords: 保险柜
description: 全能保险柜企业员工通过顺德慈善会、广东狮子会举办的情系鲁甸—德爱服务队803灾区物资收集活动，自发向云南鲁甸地震灾区群众伸援手、献爱心，捐款捐物。
---
%p<
  自上月29日起，一股名叫“冰桶挑战”的旋风席卷北美大陆，如今也刮到了中国大陆，国内众多一线明星、科技界大佬、商界领袖们纷纷赤膊上阵，用冰冷的水去支持全球ALS及中国“瓷娃娃”基金，而在8月21日，酒店安防业领先品牌——全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的CEO李政一也在全公司员工见证下，浇下冰冷的水，并鼓励公司员工参加到这个有意义的活动中。同时，李政一也身体力行，向中国瓷娃娃基金捐助了1000元，以示支持！据记者了解，李政一是国内安防行业老总进行“冰桶挑战”第一人。
%p 不为耍帅 是为公益
%p 全能保险柜此次除了CEO李政一外，还有几名一线员工自愿参加了这项挑战，李政一同时向公司在北京、上海、广州、佛山、东莞、玉林等地的经销合作伙伴发出挑战，让这一公益活动延续下去，带动全能保险柜公司一股公益风潮。让大家共同关注ALS，关注瓷娃娃，关注弱势群体，将公益进行到底。
%p 
%p 
%p 
%p 
%p 
