%h4 输入密码无反应、显示屏或指示灯无显示：
%ol
  %li 柜内电池没电，需要更换电池，按说明书方式操作，找到保险柜门板后面的电池盒更换电池。
  %li 系统处于睡眠状态，通过按A\B键唤醒系统。
  %li 输错密码键盘被锁，等待15分钟后再进行操作。
  %li 以上无法解决您的问题，请致电当地的办事处电话或联系我司统一售后热线400-830-4555。
%h4 显示屏显示电池没电，更换电新后仍不通电或仍显示没电：
%ol
  %li 查询电池是否有装反正负极。
  %li 若电池正负极已安装正确，显示屏仍无显示或显示没电，属显示屏处出现故障，请致电当地的办事处电话或联系我司统一售后热线400-830-4555。
%h4 保险柜内部电池盒有电，接入外接电池盒不通电：
%ol
  %li 外接电池盒更换新电池，检查是否有装反正负极。
  %li 上述不能解决，属外接电池盒已损坏，请致电当地的办事处电话或联系我司统一售后热线400-830-4555。
%h4 耗电量大，一周换几次电池：
%ol
  %li 请选用质量较好的碱性电池。
%h4 密码正确输入，操作一切正确，钥匙不能转动，门打不开：
%ol
  %li 锁具有问题，请致电当地的办事处电话或联系我司统一售后热线400-830-4555。
%h4 忘记密码，钥匙掉失无法开柜：
%ol
  %li 请致电当地的办事处电话或联系我司统一售后热线400-830-4555。
