---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title:  全能保险柜力助全运会打响第一枪
keywords: 保险柜
description: 8月27日，广东省佛山市安能保险柜制造有限公司生产的QNNSafe全能牌保险柜正式亮相全运会，真正接受运动员和赛事组委会的检阅。
image: 
---
%p
  荷花飘香映人，柳树婆娑生姿。8月27日，国内最优秀的射击运动员齐聚泉城济南，维持五天的第十一届全运会射击锦标赛今天在济南顺利结束。这也标志着本届赛事唯一指定枪类
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  、广东省佛山市安能保险柜制造有限公司生产的QNNSafe全能牌保险柜正式亮相全运会，真正接受运动员和赛事组委会的检阅。
%p 全能保险柜总经理表示，我们将切实践行在本届组委会所需竞赛专用体育器材采购项目枪类保险柜（E包）投标会上的承诺，配置最优质的产品，提供快捷方便的服务，全力协助全运会打响第一枪。
%p 据悉，本次全能中标产品主要用于体育赛事射击类枪械保管，产品涉及枪柜、弹柜及信息箱。
