---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜通过涉密信息系统产品检测认定
keywords: 保险柜
description: 全能保险柜文件保密柜系列经国家保密科技测评中心检测，符合国家保密标准《存放涉密载体的保密柜安全技术要求》，并取得涉密信息系统产品检测证书。
---
%p<
  近日，记者从国家保密科技测评中心获悉，广东安能保险柜旗下品牌全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  产品文件保密柜系列经国家保密科技测评中心检测，符合国家保密标准《存放涉密载体的保密柜安全技术要求》的要求，并取得涉密信息系统产品检测证书。 
%p 据了解，全能保险柜是国内首家获得此证书的保险柜生产厂家。全能保险柜品牌直属广东安能保险柜制造有限公司，是目前中国大陆领先的保险柜制造企业，广东安能保险柜制造有限公司自成立以来，就极为重视技术研发和产品权威检测。在此之前，全能保险柜多款产品已顺利通过国际CE认证、GS认证、 ISO9001认证、中国3C强制认证、中国公安电子产品认证等诸多国内国际权威机构的品质认证。
%p< 
  %img{alt: "涉密信息系统产品检测认定证书", src: "http://www.qnnsafe.com/images/news/id017501.jpg"}/ 
