---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 扬帆起航，再创辉煌
keywords: 保险柜
description: 新年新起点，藉此佳节，代表广东安能保险柜制造有限公司、全能保险柜品牌，祝愿广大客户、合作伙伴、社会各界龙年吉祥，合家安康，新年进步！
image: 
---
%p 全能2012新春寄语
%p 龙腾霄汉开新运，鹊立枝头报好音。
%p
  当喜庆的气氛弥漫之际，正是龙年新春来临之时。藉此佳节，代表广东安能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  制造有限公司、全能保险柜品牌，祝愿广大客户、合作伙伴、社会各界龙年吉祥，合家安康，新年进步！
%p 新年新起点，新年新希望，在新的一年里，让我们共同见证全能佳绩，传达我们的期望与祝福。
%p 2011，汗水与收获同在
%p 在公司领导的指导下，在安能团结拼搏的氛围中，全能2011取得了辉煌的成绩。新技术的开发、新设备的投入生产，给产品性能标准带来了新一轮的革新；新政策的实施、新员工的入职，让全能的精神面貌更显朝气蓬勃。
%p 2011年，全能不断加强品牌推广力度，品牌知名度不断提升，获得行业及消费者的认可，荣登2012年“保险柜十大品牌”榜首；在网络建设上，公司对重点市场进一步深耕、精耕，取得了非常理想的效果，销售网络逐步完善，遍布神州大地。经过各方面的共同努力，使全能产品销量获得快速提升，销售增长率超过了40%。
%p 2012，梦想与希望交织
%p 在2012里，全能坚持“创新第一、品牌至上、质量为本、效率领先”的十六字方针，以创“保险柜的全能冠军”为目标，继续致力于为广大人民打造优质、创新的新一代安全空间。
%p 一年之计在于春，新年有新的祝愿：愿全能品牌像巨龙般腾飞，愿我们的事业像鲜花般绚丽多彩，愿安能公司像磐石般坚强稳固，愿我们的员工、合作伙伴像兄弟姐妹一样紧密联结，愿我们的产品像佳节祝福一样走进千家万户，愿我们的生活像蜂蜜般甘甜圆满！
%p 宏图已绘就，号角已吹响；壮志在心头，扬鞭在脚下。让我们以满怀豪情，再创全能辉煌！
%p 安能辞旧迎新庆典回顾：
%p
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id036401.jpg"}/
%p 2012年1月30日，安能总经理李政一、副总经理艾常雄一同主持了开工庆典。鞭炮齐响，狮舞庆贺，寓意安能新的一年定必龙腾虎跃，再创辉煌。
%p
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id036402.jpg"}/
%p 2012年2月4日，安能公司举行了春茗及优秀员工表彰大会，会上安能总经理李政一先生发表了新年讲话，他提出了2012年的工作重点——“一个基本点，三个着力点”。一个根本，就是以人为本！我们做企业的目的是什么？赚钱？不完全对。如果满足消费者的需要，满足客户的需要，满足员工的需要，能做到，企业就一定能赚钱，也一定能满足企业投资者的需要！公司多年以来一直坚持以人为本，公司培养扶持了不少从公司走出去的创业者，也培养了不少的人才，为我们的发展壮大做出了贡献。员工发展了，企业才有更大的发展。这是我们企业价值观和企业文化的基础！未来以人为本一定会越做越好，今年我们会提供更多的给员工学习培训的机会，在公司的发展壮大中带给大家更多的晋升机会，我们也会扶持和帮助有志于创业的员工成为全能的代理商或经销商。
%p 关于三个着力点，分别是创新，营销，精益生产。
%p 第一是创新！产品，技术和工艺的创新，也包括经营环节的各种创新！只有创新，才能打破平衡，才能领先行业，才能持续发展，才能有高附加值，才有生命力，才有未来！
%p 第二是营销，是品牌建设和渠道建设！品牌带来溢价，带来知名度，带来信任感，安全感，提高竞争力，通过渠道开通，建立更大的销售网络，战胜对手，带来最大的市场销售份额。
%p 第三是精益生产。我们会坚持持续改善！引进自动化设备，以日本企业为标杆，德国企业为榜样，带来效率提升，带来质量提高，消除浪费，降低成本，增加效益，加强应变能力，带来国际竞争力。精益生产就是制造业的企业文化！
%p 会议同时表彰了在过去一年表现突出的优秀员工，以及2011公司运动会的优胜者。会后，公司员工齐聚一堂，气氛热烈，共享佳肴。
