---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 记2011安能员工保险箱运动会之拔河比赛
keywords: 保险箱
description: 携手拼搏，情暖安能，12月12日下午，气氛热烈的拔河比赛为2011安能保险柜公司员工运动会顺利拉开了帷幕，公司各部门、生产组均派代表参加。
---
%p< 
  “携手拼搏，情暖安能”，12月12日下午，气氛热烈的拔河比赛为2011安能员工运动会顺利拉开了帷幕，公司
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  各部门、生产组均派代表参加。比赛中，各队员积极交流，相互配合，展现了安能公司团结互助的精神风貌。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id004501.jpg"}/
%p 比赛现场人头涌动、热闹非凡，员工们都热情地充当起拉拉队，为同事加油助威。
%p<
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id004502.jpg"}/
%p 在场的同事们都充分感受到了比赛的气氛，在这种紧张、刺激的气氛中，也充分体现了全能上下一心、团结一致的企业精神，每一个成员都抱着为部门争光的决心努力拼搏。在繁忙的工作中领略着运动带来的畅快淋漓，真是一次有益身心的活动。
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id004503.jpg"}/
%p 看看机加工队多卖力
%p 经过多伦激烈的角逐，最终由机加工队获得了全场总冠军，涂装队、办公室队分获二、三等奖。
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id004504.jpg"}/
%p 拔河的境界：团结就是力量
%p 祝愿在接下来的比赛项目中，各同事们能发挥所长，创造更多佳绩！
