---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜推出物联网银行保险柜
keywords: 保险柜
description: QNN Safe全能保险柜近日又率先成功研发了物联网银行保险柜，解决金融业、机关单位等高领域在金钱、贵重物品、机密文件保管时的失窃问题。
image: 
---
%p
  正当人们还在为阿根廷银行保险箱被盗事件感到迷惘时，作为中国保险柜业内第一个引入和运行物联网概念的先行者QNN Safe全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  ，继成功研发智能化枪弹柜、3G通讯可视频监控保险柜等物联网保险柜产品后，近日又率先成功研发了物联网银行保险柜，解决金融业、机关单位等高领域在金钱、贵重物品、机密文件保管时的失窃问题。
%p 据报载：今年新年伊始，阿根廷一伙盗贼挖通地道潜入银行，搬空了银行内130到140个保险箱里的钱和贵重物品。这一事件被媒体称为最奇特的盗窃.近年来屡屡发生的各种盗窃大案留给人们深深的思考：在科技日新月异的今天，可否找寻到一种更安全的财产保护新方法？其实，当前方兴未艾、不断发展的物联网正着力破解这一难题。
%p 物联网概念是在1999年提出的。所谓物联网，就是物物相连的互联网。它通过射频识别、红外感应器、全球定位系统、激光扫描器等信息传感设备，按约定的协议，把任何物品与互联网连接起来，进行信息交换和通讯，以实现智能化识别、定位、跟踪、监控和管理。中国社会科学院信息化研究中心秘书长姜奇平指出:物联网也被称为智能地球，物与物之间实现智能化，相当于遥控。你可以通过网络进行设置而一劳永逸。物联网以智慧的状态，更加精细和动态的方式管理人们的生产和生活。
%p QNN Safe 全能保险柜一直致力于为客户提供更人性化、智能化、安全化的解决方案，早在2009年就率先触网，引爆保险柜业物联网革命，抢占保险柜业信息化高科技的制高点，公司已推出的物联网保险柜产品全能智能枪弹柜，成为了枪弹柜领域智能、安全的代名词；全能3G通讯保险柜则以随时随地监控，安全无处不在特点，受到消费者的热烈追捧。
%p QNN Safe全能保险柜，最新推出的物联网银行保险柜，更是全能保险柜物联网产品技术的又一突破。据该公司研发人员介绍，此款保险柜布防后，当保险柜被移动或柜门被打开、柜内物品被移动即可触发报警输入，通过网络上传到银行或110中心的安全监控平台。由平台提供声光电、电子地图显示、监控画面自动切换、短信等多种方式的报警输出，以便于银行工作人员实时查看所发生的事情，及时采取相应的处理措施。该款保险柜可根据用户需要进行组合安装多种密码锁，如机械密码锁、电子密码锁，刷卡电子密码锁、指纹密码锁等，其中带电子密码锁的可使用无线联网功能，对电子锁的操作进行实时监控，电子密码锁具有狭持密码开锁并报警功能。
