---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜牵手山区贫困小学
keywords: 保险柜
description: 曲折狭小的山区泥路，泥砖瓦房，2009年6月29日，全能保险柜员工代表在阳山县杜步镇政府领导的陪同下，为贫困山区小学送去了慰问和学生物资。
image: 
---
%p 曲折狭小的山区泥路，陈旧矮小的泥砖瓦房，简陋陈旧的木制教学设备每一个角落、每一件设施都散发着贫困落后的气息。虽然在广东珠三角的大城市里已经高楼林立、车水马龙、商业繁华，但在我们身边仍然存在着贫困落后的山区农村清远市阳山县杜步镇独树小学。
%p
  2009年6月29日，全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  员工代表在阳山县杜步镇政府领导的陪同下，为贫困山区小学送去了慰问和学生物资。
%p 独树小学位于广东省清远市阳山县杜步镇，成立于1950年，是五个自然村共建的学校，经过几十年的历史，泥砖瓦房代替了初建庙堂。全校师生共91人，85名学生，6位老师（其中包括校长和一位兼职英语老师），由于教学资源短缺，一个老师不得不身兼数门课程。学校四面泥砖墙，只有个约3平米狭小的门是唯一的通道，门左侧面用红漆染了四个大字独树小学.校内仅有老师的办公住宿房和学生的教学楼两排建筑，2006年建筑物大普查期间这两排建筑已登记为危房，约十平方米的老师办公室挤放着六张脱了油漆的办公桌椅，没有电视、没有空调、没有教学工具；教室简陋整洁，黑板和墙壁的涂层大量脱落，窗户的大部分玻璃破烂。由于地理环境，他们经济落后，没有好的教学环境，没有多余的钱上学，全校学生的学费全部免费，省政府每年都拨部分款作为教学资助金。
%p 独树小学陈校长沉痛地向我们讲述了小朋友们的艰苦：村里偏僻奚落，孩子们上学需跋涉一两个小时的山区小路，上课时间只能按排在上午9点到下午4点，教室里冬冷夏热，部分窗户破烂不堪都是用木板来挡风雨，教学器材和教学教材对他们来说是奢侈品。在这里从事了13年的校长工作，面对孩子们我很愧疚，但真的没办法，我尽自己最大努力给予孩子们最好的教育，灌输他们养成勤俭节约的良好品德，激励他们积极进取、努力学习，培养他们全面发展、走出山村、报效祖国。
%p 听完校长的一番话，我们的心也很沉痛。是呀！风吹日晒的教室，陈旧简陋的桌椅，寥寥无几的教学课本和参考书，遥远的上学路程，没有通大路、通自来水、没有电脑、广播。面对艰苦的条件和环境，他们坚强勇敢的去面对，从他们可爱活泼的笑脸里，炯炯有神的眼神中都洋溢着对知识的渴望，对生活的热爱，对未来的憧憬！在政府及一些热心人的资助下，他们延续到了今天，作为生活在经济发达地区的我们，更应该义不容辞的去关注他们，帮助他们！
%p 让我们关注贫困学校，承担社会责任。为传达社会各界人士的关爱，2009年7月18日2010年2月13日期间，每销售一台全能牌保险柜，独树小学将会收到您的热心助学金10元人民币。为祖国未来的花朵，请献上我们热情的爱心！
%p 阳山县地处粤北部的边界地带，境内多山，属石灰岩山区，五行欠缺，唯一拥有的是岩石，给当地的交通、经济和种植带来很大阻碍，据说他们在山上种植树木，必须先用炸药开个坑，再从别处挑来土才可耕种。经济基础薄弱，又是集老、少、山、边、穷于一身的山区县，生产资源极度匮乏，生存条件极为恶劣，特困的区域为石灰岩地区，石多土少、坑多水少、人多地少，生产生活条件极差。八七扶贫攻坚计划期间被列为全国重点扶贫县和广东省特困县，是全省16个重点扶贫开发县之一，1994年9月被确定为国务院侨务办公室定点扶贫县。
