---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 安能保险柜入围“佛山市民最喜爱的品牌企业”
keywords: 保险柜
description: 最具成长性中小企业候选企业名单出炉，伊之密、瑞图万方、好帮手、亿龙、广东安能保险柜等123家企业入围第三届佛山市民最喜爱的品牌企业候选名单。
image: 
---
%p
  广佛都市网讯报道：据第三届“佛山市民最喜爱的品牌企业”评选活动组委会公布，“最具成长性中小企业”候选企业名单昨日出炉，伊之密、瑞图万方、好帮手、亿龙、广东安能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  等123家企业入围候选名单。
%p 中小企业不但是佛山经济的根基，而且还是佛山经济持续发展的“成长力量”。作为制造业之都，截至今年上半年，佛山市企业数量达34万家，中小企业占到90%以上。活动主办方认为，因应国内经济形势和佛山产业结构调整，在第三届“佛山市民最喜爱的品牌企业”评选中同步推出“最具成长性中小企业”评选，媒政互动搭建平台，共同挖掘佛山制造业中更多的“智造之星”，在工业经济领域弘扬榜样的力量，助推佛山中小企业群体更好、更快成长。
%p 据活动主办方介绍，“最具成长性中小企业”评选整合发挥传媒各方资源，所有企业免费参评，不收取任何费用，搭建平台推动中小企业与各级政府、市民、市场等社会各界进行互动沟通，全方位展示和提升中小企业的品牌形象。今天公布的123家候选企业名单（详见佛山日报A10版）由市工商局、市质监局、市金融局等政府职能单位推荐和企业自荐，强调中小企业的成长性、品牌意识、质量意识和科技创新能力，其中包括2009、2010年拥有省著名商标、省名牌产品的企业，申报省著名商标、省名牌产品的梯队企业，佛山上市梯队企业。同时具备以上任何一项条件，企业所在行业又属于国家“十二五”产业规划倡导的先进制造业，或符合佛山市政府大力培育扶持的重点产业的企业优先入选。
%p 据悉，入围的123家中小企业将由专家、政府职能部门、活动主办代表等组成评委会进行打分，对年产值在1亿元至10亿元的中小企业，重点评价企业的领先性、品牌意识、产品质量意识、企业创新性、高成长性、融资能力和诚信意识。评委们将对每一家企业进行打分，最终评选出20家获奖企业。
