---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 中国保险柜行业首款风水保险柜面市
keywords: 保险柜
description: 全能风生水起保险柜设计新颖，匠心独运,根据人体工程力学设计而成，与箱体颜色相互映衬、错落有致，极具现代风格，更显包容兼蓄、刚柔并济。
image: 
---
%p 风水作为一门古老的文化，千百年来与人们生活密不可分。最近，一则新闻被媒体炒的沸沸扬扬：伦敦证券交易所另类投资市场迎来了一位特殊的募资客——新加坡新天地集团，这家要上市的公司总部位于新加坡，其主营业务是风水命理，也就是国人所熟悉的占卜问卦、看风水、算命等。看风水的企业都可以上市，可见风水概念在现代生活中被关注的程度。
%p 正当新加坡的风水公司为上市事宜奔忙之时，中国保险柜行业领军企业全能保险柜，近日率先推出了业内首款风水保险柜——“风生水起”。据了解，该款被命名为“风生水起”的保险柜已在国内面市。
%p 风水，古称堪舆术，我国比较完善的风水学问起源于战国时代。风水的核心思想是提倡人与大自然和谐。关于风水，鲁班符咒记载：伏以，自然山水，镇宅地板，抵抗一切灾难，家宅吉祥如意，家庭兴旺发达安康。2004年国家住宅与居住环境工程中心发布的《2004年健康住宅技术要点》指出：“住宅风水作为一种文化遗产，对人们的意识和行为有深远的影响。”强调人与自然的和谐统一，关注居住与自然及环境的整体关系,可丰富健康住宅的生态、文化和心理内涵。
%p
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  发展到今天，既是人们用来保护财产和贵重物品的防盗、防火、防水容器，更成了一种寓意着生财、平安的“镇宅之宝”。在保险柜产品中赋予风水理念，是顺应现代人消费文化、心理的一种创新。据了解，全能保险柜在业内推出首款的风水保险柜——“风生水起”，是一款引入风水学原理精心打造的保险柜。该款保险柜在产品的外观设计上，结合风水学对数字的寓意，合理和谐地布局产品的高、宽、深空间组合。全能“风生水起”保险柜，高为69mm，代表“兴旺”；宽度60mm，代表“进宝升官”；深度48mm，代表“迎福、喜事旺”。该款保险柜特有功能与风水寓意合一，体现了“兴旺发财，富贵显达，福禄延绵”丰富的人文内涵。
%p
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id036701.jpg"}/
%p 全能“风生水起”保险柜设计新颖，匠心独运。箱体外观以浅灰颜色进行亮光沙面处理，面板右上角有丝印“风生水起”篆刻章，优雅古典，极具东方神韵。中间以不锈钢面板镶嵌高档锁具，彰显金属质感。根据人体工程力学设计而成的进口拉丝三扶把手，与箱体颜色相互映衬、错落有致，极具现代风格，更显包容兼蓄、刚柔并济。同时，“风生水起”在防盗性、防火性、实用性上也有独到的创新：
%p ——防盗性能更高。采用世界先进的数码激光切割工艺，突破传统剪切板焊接工艺，门板和箱体之间间隙不超过1mm，增强了防撬性能。在锁具防盗系统设置上，采用了电子智能锁控系统和机械锁系统合二为一，所有锁具都采用锌合金压铸材质，电子锁采用按国际锁具标准结构研发设计生产的金钢锁，在行业内实属罕见的，使安全性具有多重保障。这款保险柜除了在锁具上拥有一系列的防盗设置外，在门板和箱体上均增加了很多防盗装置，大大提高了其防盗级别。
%p ——防火性能更好。这款保险柜符合国家B级保险柜防火防盗认证标准、美国UL-RSC防火认证标准，箱体和面板所用材质均采用碳合金高强度钢板，它的门板厚度为12mm、箱体8mm，其中它的防火功效可达到960 ℃的高温防阻燃一小时。
%p ——设计更人性化。电子密码锁具采用进口微电脑芯片，集用户自由定置单人开箱密码或两人密码开启功能、定时开启功能于一体，且在金刚锁的密码设置上安全级别更高。同时兼备其他人性化的设计：内铺优质绒布、自动感应照明、双层活动层板等，尽显产品的完美性。
%p 据悉，全能保险柜是一家集研制、生产、销售于一体的高新技术企业，产品在国内销售一直处于领先地位，同时产品还行销美国、英国、法国、澳大利亚、比利时等70多个国家和地区。全能公司以不断创新的精神，先后成功推出了中国首台人脸识别保险柜，自主研发了可拍照和摄像的新型专利保险柜，率先研制了除湿防潮保险柜、物联网保险柜、网络保险柜等新产品，成为保险柜行业致力于“全能”创新的先行者和实践者，也成了业内名副其实的“全能冠军”。
