---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 中国首台人脸识别的全能保险柜
keywords: 保险柜
description: 近日，国内首创、业界领先的带人脸识别系统功能的保险柜在广东省安能保险柜制造公司诞生，凸显了QNNSafe全能保险柜创新第一的企业战略定位。
---
%p 近日，一款国内首创、业界领先的带人脸识别系统功能的保险柜在广东省安能保险柜制造有限公司诞生，凸显了QNNSafe全能保险柜创新第一的企业战略定位；标志着国内对此项高科技技术的应用又开辟了一个新的领域。
%p 据全能保险柜专项技术研究小组介绍，这款人脸识别系统保险柜柜体高约一米五，主要由人脸识别系统和全钢制保险柜两部分构成。人脸识别系统安装在柜体门正面，采用TI DM6446 CPU 600MHz处理器；SD卡8G存储器；100Base-T网络接口；RS485数据接口；CCD摄像机；640*480摄像机分辨率；维根32控制接口；3.0寸TFT LCD显示屏组件，含有英文、简体中文、繁体中文三种语言界面，而且配有语音提示。
%p 它通过生动地人脸采集、人脸定位、人脸识别预处理、3D融合、算法技术提取、数据模型等工作原理，判断数据里是否存在相同的图像信息而完成开锁工作。也就是说，当第一次使用保险柜之前首先采集、记录下用户脸部的综合图像信息并存储在数据库内；当需要打开保险柜时，用户只要站在摄像头面前，几秒钟的时间即可开启保险柜。全能保险柜经历了一年多的技术攻关和反复试验，解决了现有市场上人脸识别技术的具体应用难题。
%p 人脸识别的研究历史比较悠久，早在1888年国外专家就发表了关于利用人脸进行身份识别的论文，对人脸识别技术的可行性进行了分析。近年来，人脸识别研究得到了诸多研究人员的青睐，尤其是1990年以来，人脸识别更得到了长足的发展。有关专家介绍，人脸识别是一种基于人的脸部特征信息进行身份认证的生物特征识别技术，是一种符合人类习惯、最自然、非接触性的认证，人脸识别认证由于非侵犯性好、安全性和准确性高、速度快、操作简单方便，无论室内还是户外均可使用等特性，比认卡不认人的IC卡和可复制、可伪造的指纹认证更具发展前景。人们在日常生活中几乎每时每刻都需要证明身份，在信息技术飞速发展的今天，电子商务、网上银行、公共安全等领域对身份认证的可靠性和认证方式提出了更高的要求。人脸具有不易伪造、不会遗失、特征不变性和随身携带的优点，与指纹、视网膜、虹膜、基因等其他人体生物特征识别系统相比，人脸识别系统更加直接、友好，使用者无任何心理障碍，而且已广泛应用于商业领域。
%p QNNSafe全能保险柜自成立以来，在保险柜产品领域成功研发的国内首创、业界领先的技术产品举不胜数。该企业的经营高管表示，QNNSafe全能保险柜代表了国内中小企业产业结构转型，从国际OEM加工企业转向品牌经营生产企业的典型，未来国际市场上最具竞争力的企业是那些重视产品的技术创新和设计创新的企业，创新第一、质量为本、品牌至上、效率领先的企业在全球市场上一定大有可为。
