---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: “全能”荣获品牌价值奖
keywords: 保险柜
description: 2009年7月30日，北京传来好消息：全能保险柜在隆达杯2009中国酒店用品行业十大评选活动中，被评为酒店保险柜供应商品牌价值奖。
image: 
---
%p
  2009年7月30日，北京传来好消息：全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  在隆达杯2009中国酒店用品行业十大评选活动中，被评为酒店保险柜供应商品牌价值奖.
%p 隆达杯2009中国酒店用品行业十大评选是由慧聪网联合新浪、搜狐等网络媒体以及中国饭店协会等行业协会，通过网络、手机投票以及行业专家评审，历时5个月后产生，获奖单位均为酒店用品行业内重量级企业。其中，全能保险柜被评为酒店保险柜供应商品牌价值奖，与美的、马尼托亚等品牌同列十大品牌价值奖，成为保险箱行业唯一上榜企业！
%p 对于此次获奖，全能保险柜总经理李政一表示：全能保险柜经过长期的市场耕耘，围绕创新第一、品牌至上、质量为本、效率领先的经营战略，保险柜的全能冠军是全能人永不止步的追求。在酒店保险箱市场，全球每年新增20万个客房使用全能的保险柜，说明了全能品牌在此行业中的地位。全能热心公益事业，支持广东贫困山区教育，承担企业社会责任，身体力行、不遗余力。因此，全能保险柜荣获酒店保险柜供应商品牌价值奖可谓实至名归！展望未来，全能的目标是致力于成为全球酒店客房保险箱的最佳品牌，提供更人性化的产品、更完善的服务，为全球所有酒店以及所有酒店宾客提供最好的安全感受。
