---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 保险箱用新型伸缩式手柄机构发明专利
keywords: 保险柜
description: 全能保险柜成功申请国家发明专利保险箱用新型伸缩式手柄机构，利用手柄机构与锁具及电子器件的衔接，实现多极联动，达到双重防护的作用。
---
%p<
  近日，广东安能保险柜制造有限公司传来喜讯，该公司旗下品牌全能保险柜再次成功申请到一项国家发明专利，该专利是一款适用于各类保险柜、
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  、保管箱的新型伸缩式手柄机构，具有隐藏性高、私密性强等特点，该专利发明是利用手柄机构与锁具、电子器件的衔接，实现多极联动，双重防护的作用。在锁定状态时，手柄表面与柜面持平，并不突出，可有效防止外力导致锁具损坏，通过钥匙开启后，手柄会自动弹出，以便柜门开启操作。同时通过钥匙及电子密码盘双重开启后，旋动手柄即可开启柜门。 
%p< 
  %img{alt: "保险箱用新型伸缩式手柄机构发明专利证书", src: "http://www.qnnsafe.com/images/news/id017401.jpg"}/ 
%p 上图为保险箱用新型伸缩式手柄机构发明专利证书  
%p 今年是国家知识产权战略实施五周年。五年来，战略实施为社会创新注入新的活力。截至2012年底，我国发明专利累计授权量达到111万余件，国内有效发明专利拥有量达43万多件，PCT国际专利申请数量升至世界第4位。随着经济发展从要素驱动向创新驱动转变，社会对专利信息服务提出更高要求。 
%p 全能保险柜向来重视企业的产品研发及技术储备，成立以来对于外观设计、实用新型设计、发明专利等工作投入了巨大的人力物力，其中发明专利是最具含金量的一项。发明专利作为产品核心，已成为一家企业的发展支撑，是打造企业市场竞争的利器。在可预见的未来，发明专利的研发及申请将会成为全能保险柜企业发展的重要一环，必将对保险柜生产行业带来深远的影响。 
%p< 
  %img{alt: "保险箱用新型伸缩式手柄机构实际应用产品", src: "http://www.qnnsafe.com/images/news/id017402.jpg"}/ 
%p 上图为保险箱用新型伸缩式手柄机构实际应用产品
