---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜中标上海世博会供应商
keywords: 保险柜
description: QNNSafe全能保险柜收到了上海世界博览会器材装备中心发来的合作通知书，成为2010年上海世界博览会的保险柜产品供应商。
image: 
---
%p
  欢庆元旦，喜迎世博。继百年奥运梦圆的喜庆之后，中国的又一大盛事上海世界博览会。届时，全世界人民的目光都会投向中国，投向上海。园地、世博村，将为进驻世博会的各国嘉宾和友人提供最先进、最完善的配套服务。作为一家极具有社会责任感的企业，QNNSafe全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  也在积极为世博会的成功举办奉献自己的一份力量。
%p 近日，在刚刚结束的中国2010年上海世界博览会（Expo 2010）世博村东湖公寓酒店大堂保管箱招项目投标会上传来喜讯，安能保险柜制造有限公司生产的QNNSafe全能牌大堂保管箱系列产品凭借典雅的外观，一流的品质，方便、快捷、实用的性能，经过标书的准备、保险箱的研制与试验等多重考验和专家评审，在上百家保险柜投标企业中脱颖而出，成功中标该项目，摘得了为世博会东湖公寓提供大堂保险箱的桂冠，收到了上海世界博览会器材装备中心发来的合作通知书，成为2010年上海世界博览会的保险柜产品供应商。
%p 据悉，世博村是在世博会期间供各国的工作人员及VIP人员居住使用的。世博东湖公寓酒店位于世博村的B地块，占地面积约19万平方米。届时来自各国的工作人员都会在此生活、工作。
%p 全能保险柜为世博会量身定制的大堂保管箱主要是为世博工作人员提供安全保管服务，如存放护照、证件等贵重物品。将切实践行按世博会按招标项目要求，配置最优质的产品，提供快捷一流的服务，倾心倾情服务好2010年上海世博会。近期，全能保险柜已派出多名专业的技术人员前去指导安装。
%p 该公司相关负责人表示，全能保险柜中标上海世博会，这是继2008年为国家奥林匹克体育中心运动员公寓提供客房保险柜、2009年成功中标第十一届全运会后的又一大喜事。
