---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜广东区域代理商会议顺利召开
keywords: 保险柜
description: 面对机遇与挑战并存的2012年，公司在总部召开广东区域代理商总结及规划会议，来自广东区域的各核心代理商齐聚一堂，共商2012年发展大计。 
---
%p<
  面对机遇与挑战并存的2012年，全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  以全新的姿态踏上新的征程。1月6日,公司在总部召开广东区域代理商总结及规划会议，来自广东区域的各核心代理商齐聚一堂，共商2012年发展大计，会议同时邀请北京及上海区域优秀代理商参加。
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id004901.jpg"}/
%p 会议现场图
%p 会上，公司销售部、市场部、研发部各部门经理对本部门2011年工作进行了全面总结，并确定了下半年工作规划，新的一年，公司将投入更多的资源做网络开拓、品牌建设、市场推广及产品研发方面的工作。各与会代理商也纷纷上台发言，对本区域工作进行了详尽的总结，同时根据本区域不同的市场环境，针对性的制定了2012年市场发展策略。
%p<
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id004902.jpg"}/
%p 全能副总经理艾常雄发言
%p 公司副总艾常雄代表生产系统做了发言，对公司2009年-2011年生产设备、检测设备、厂房建设等进行了总结，公司的硬件投入每年都在增加，2012年增加额度将更大，公司产能完全可以保证明年销售增长的需要，给了与会代理商操作市场的信心。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id004903.jpg"}/
%p 全能总经理李政一发言
%p 公司总经理李政一最后做了重要讲话，他对中国保险柜市场整体环境、发展趋势进行深入浅出的讲解，根据2011年市场发展情况及公司运作情况，对2012年公司战略做了重点阐述。
%p 2011年，公司不断加强品牌推广力度，品牌知名度不断提升，获得行业及消费者的认可，荣登2012年“保险柜十大品牌”榜首；在网络建设上，公司对重点市场进一步深耕、精耕，取得了非常理想的效果，广东省份网络已经遍布各乡镇市场。今年公司销量快速提升，销售增长率超过40%，在整个行业排名第一。
%p 对于2012年工作，李总提出16字战略方针：创新第一、品牌至上、质量为本、效率领先。公司从创立第一天开始，就不断强调创新的重要性，公司现在是以后也会是一个创新型的公司，创新不仅仅是产品的创新，同样也要有营销的创新、管理的创新，我们要通过创新取得领先。对于品牌建设，2012年将是全能的品牌年，公司将进行一系列的品牌推广及活动，以行业代表的身份做更多的消费者教育工作，承担起应有的责任。质量则是公司发展的基石，市场竞争最终还是靠产品和质量说话，2012年公司在硬件和软件方面投入巨大，为更高的销量提供强有力的保证。效率同样重要，没有效率，公司成本太高，导致没有竞争力，同样也没有再次投入的资源，因此，公司一定要更加注重效率的提升，向调整流程要效率、向管理要效率，使公司成为一个效率领先的企业。
%p 新的一年、新的思维、新的征程！全能保险柜在新的战略指引下，将继续高奏凯歌，成为保险柜的全能冠军！
