---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 梦想全能,增长2013
keywords: 保险柜
description: 2013年2月4日晚，“梦想全能 增长2013”安能公司 2012年度优秀表彰暨2013迎新春团年宴活动于顺龙大饭店隆重举行。
image: 
---
%p 梦想全能 增长2013–安能公司2012年度优秀表彰暨2013喜迎新春团年宴隆重举行
%p 2013年2月4日晚，“梦想全能 增长2013”安能公司 2012年度优秀表彰暨2013迎新春团年宴活动于顺龙大饭店隆重举行，集团公司董事会代表、公司总经理李政一、副总经理艾常雄携公司管理层出席，和来自各部门共计300人员工共同见证精彩时刻，分享志达2012年所取得的成就，展望美好未来。
%p 活动于晚上18:00正式开始，首先通过现场投影屏幕播放了公司总经办、各部门团队代表带给安能公司所有人的新年祝福视频和荣获安能公司2012年优秀表彰人员的风采展示画面。
%p 安能公司总经理李政一先生发表新年致辞，李总在致辞中说，过去一年，全体安能人以及合作伙伴的同心同德、求真务实、携手并进，在极端复杂的全球经济环境中，在低迷的国内市场中，闯出了一条稳健的道路，取得了一定的进步；特别是公司的电子商务部、出口部均实现了销售业绩的增长。他表示2013年将视为公司的增长之年，通过销售系统、生产系统、后勤系统的紧密合作，将抓紧全球经济危机后时代的发展、变革大潮，开创更加美好的局面；相信在我们全体安能人共同努力、下定能梦想全能实现。
%p 副总经理艾常雄宣读了荣获安能2012年度优秀表彰决定，黎少雄、张概丰、陆汝婷、陈荣、曾永坚、闵建勋、林国宁、王仁江、肖汉勇、郭银婵、谢凤英等来自销售、生产、后勤系统各部门的30名员工，荣获“2012年度优秀员工”荣誉；销售部刘美平、制造部黄庆参、陈维，品管部杜颖才被授予“2012年度优秀管理干部”荣誉称号， 出口部高义芳被授予“2012年度优秀经理”荣誉称号，制造部机加工车间冲压组（14人）授予“2012年度优秀班组”荣誉称号。艾总在表彰决定中提到：表彰先进个人及团队，因为他们是安能持续稳健发展过程中一支不可磨灭的巨大力量，是他们的不离不弃、风雨共舟，才使得安能公司一路披荆斩棘，走向成功，也希望他们成为全体志达人的楷模，带领大家一起争先创优。此次获得表彰的个人将有1000元现金奖励及参加公司组织的全能欢乐之旅活动，优秀班组将获得1500元奖励及锦旗一面以资鼓励。
%p 晚宴中，来自销售部精心准备、自编自演的【全能style】流行舞蹈轰动全场，同时也拉开了团年晚宴及抽奖环节的帷幕，火树银花不夜天，良宵盛景贺新春。集团董事会代表、李政一总经理、艾常雄副总经理及公司中层管理人员上台祝酒。舞台上下欢声雷动，全体员工一起举杯，为安能的成功与辉煌干杯。 员工们互致祝福，在喜庆的氛围中愉快地聊起了家常、工作，共同分享着一年来各自的人生体会、工作心得。灯光照耀着笑容，酒杯盛满了祝福，晚会恰如一场家庭盛宴。
%p 到了抽奖时刻更是激动人心，微波炉、电磁炉、智能电饭煲、旅行包、现金大奖、幸运奖……一个个奖项花落谁家，现场人人欣喜不已，当获奖名单公布之时，呐喊、欢呼的声音都会响彻全场；伴随着领导们娱兴未尽临时追加多名现金奖，迎来整整掌声，现场气氛热烈无比。
%p “梦想全能•增长2013”团年晚宴活动最后在欢歌笑语中落下帷幕，但团年宴活动的正能量，延伸传递到了每一个安能人，我们要以终为始，奋力前行，以新的业绩续写新的传奇。
%p （图/文 人事行政部）
