---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 新皇冠系列产品批量上市
keywords: 保险柜
description: 安能公司技术研发中心与电子产品日新月异的快速发展接轨，对皇冠HG系列产品进行了改进创新，目的：让HG用户在使用过程中享受更贴心的服务。
image: 
---
%p 皇冠HG系列产品自2005年问市以来一直走高端销售，产品无论外型、色调还是功能都能给消费者高品位的享受。安能公司技术研发中心与电子产品日新月异的快速发展接轨，对HG产品进行了改进创新，目的：让HG用户在使用过程中享受更贴心的服务。
%p 新皇冠HG系列产品外型、色调已深入人心，因而未做改动，改进创新在面板及其使用功能方面：新面板外观采用IMD技术，不仅美观且耐磨防刮花；显示为液晶显示，睡眠状态显示日期时间，且可进行开门查询；箱体内均有带照明功能，方便用户；在防盗功能上增加了ATM机专用的防盗凹槽；HG5840型号以上都增加了我们获有专利的偃月锁钩，增强了防盗功能。
%p 新皇冠HG系列产品于4月份批量上市，希望带给每一位消费者全新的使用享受。
