---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜跻身高新技术企业
keywords: 保险柜
description: 经广东省科学技术厅、广东省财政厅、广东省国家税务局、广东省地方税务局联合考评，QNNSafe全能保险柜被认定为高新技术企业。
image: 
---
%p
  经广东省科学技术厅、广东省财政厅、广东省国家税务局、广东省地方税务局联合考评，QNNSafe全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  被认定为高新技术企业。这标志着该公司成功地由传统产业向高新技术产业转型，企业发展跃上了新的台阶，在高新技术领域得到一致的认可和肯定。
%p QNNSafe全能保险柜的迅速发展，得益于不断的科技创新，不断的追求成长与突破，全心致力于新产品与新技术的研发。为不断开发新技术和新产品，公司建立和完善了以技术为核心的创新体制，创建了保险柜技术研发中心，制定出《科研项目立项管理制度》、《设计和开发控制程序》等系列管理制度，对科研项目进行立项、跟踪、检查和验收等。公司研发团队既有硕士、学士高学历专业人才，也有具有丰富实践经验的高级工程师、工程师、助理工程师等，他们以严谨的科研精神及积极创新的进取态度，创造了众多为行业所瞩目的科技成果。近三年来，该公司投入近800万元，累计开发项目19项，所形成的19项科技成果全部实现转化应用。经过多年的持续发展，公司已跻身为中国大陆领先、华南地区产销量第一的保险柜制造企业，保险柜市场的占有率雄踞华南第一，同时也是全球产品种类最齐全、最专业的保险柜制造商之一。
%p 对于全能保险柜未来的发展，总经理李政一豪情满怀：在今后的发展中，安能公司将充分发挥技术和人才的优势，立足于全球市场，积极开展保险柜的研发和销售，为市场提供更全面更安全的优质产品和服务，把全能品牌打造成中国最专业、产品质量和服务质量最优秀的保险柜品牌，把全能扩展为综合的安防产品和服务的品牌，让QNNSafe全能保险柜成为全球市场最值得信赖的安防产品品牌。
