---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜中标第十一届全运会
keywords: 保险柜
description: 第十一届全运会项目招标结果，我司的枪柜荣获中标，是继08年以来中标国家奥林匹克运动员公寓之后全能品牌再一次得到国家级体育运动组委会的认可。
image: 
---
%p 6月10日，山东省第十一届全运会省建设组委会和山东体院建设领导小组公示了第十一届全运会项目招标结果。我司的投标产品枪柜荣获中标，是继08年以来中标国家奥林匹克运动员公寓之后全能品牌再一次得到国家级体育运动组委会的认可，是全能枪柜广泛用于军警司法系统以来又一个大的突破。
%p 此次参加投标，我司以优质的产品方案，合理的价格，赢得了此次招标项目，主要用于体育赛事射击类枪械保管，合同金额共为54万，产品数量共162台。安能公司近年来，在产品技术上不断创新，在质量管理上也得到较大改善，领先的技术和优良的品质，已深受国内外客户的好评和社会人士的喜爱。全能这个伴随安能保险柜公司走过几十年的品牌，已深入人心。正是安能公司知名的名牌、领先的技术、优良的质量、热情的服务以及坚固的团队为每一次的商机挑战做好了准备，为又一次勇夺体育运动会的招标项目打下了牢固基础。
%p 枪柜主要应用于武警、部队、公安局、法院、检查院、看守所、劳教所、监狱等保卫单位，选用优质钢板材料，可配备密码加钥匙，也可配备机械码盘锁或智能指纹锁。针对目前枪支管理仅依靠枪支上的出厂编号管理存在的隐患，安能公司勇于创新，生产出一款人性化、系统化、智能化、便管理、防盗性能高的智能枪弹柜，采用RFID技术与计算机技术开发的枪支安全监管系统。
