---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜支持顺德教育基金百万行活动
keywords: 保险柜
description: QNN Safe全能保险柜为了贯彻顺德区教育基金百万行活动的精神，配合区委、区政府做好这次基金募捐活动，为顺德教育事业的发展尽绵薄之力。
image: 
---
%p 据了解，顺德区教育基金会成立于1994年，并于1996年举行了首届教育基金百万行活动，今年是第三届，本届教育基金筹款活动于10月开始启动，一个多月来，得到顺德市民、顺德海外乡亲以及顺德企业界的热烈响应，共筹集资金超过1.3亿元人民币。
%p QNN Safe全能保险柜为了贯彻顺德区教育基金百万行活动的精神，配合区委、区政府做好这次基金募捐活动，全体员工慷慨解囊，踊跃捐款，积极倡议大家共献爱心，为顺德教育事业的发展尽绵薄之力。近年来，QNN Safe全能保险柜为回报社会对其发展的支持，默默无闻、身体力行地关注贫困儿童、支持山区教育，投身社会公益事业，承担企业社会责任。
%p 顺德教育基金的创立，主要是发挥奖教奖学的功能，激励教师安教乐教，激发学生刻苦求学，调动全社会关心教育、支持教育。现已举行十七届奖教奖学颁奖大会，对优秀教师、杰出学生、社会热心支持教育的单位与个人进行表彰。
%p 30年来，顺德教育事业发展实现了三次大跨越：农村教育的大跨越、城镇教育的大跨越和实现现代化教育的大跨越，特别是在教育现代化实现的进程中，顺德区始终将教育放在优先发展地位，将让百姓享受幸福作为宗旨，并以不断满足学习型社会需要、实现教育高位均衡及提高教育综合实力为现实任务和不懈的追求目标。经过30年的努力奋斗和推进，走出了一条具有先进性、超越性及引领性的教育现代化的科学发展之路。
