---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜植树造林支持环保
keywords: 家用保险柜
description: QNN Safe全能保险柜专程赶往清远市阳山县，与贫困山区小学阳山独树小学师生们一起开展植树造林活动，进一步保护生态环境，感恩和回馈社会。
image: 
---
%p
  阳春三月，春暖花开。3月12日迎来了第33个全国植树节，QNN Safe全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  专程赶往清远市阳山县，与贫困山区小学阳山独树小学师生们一起开展植树造林活动，以植树支持环保，以造林抵消企业所生产排出的二氧化碳，力争实现企业二氧化碳的零排放，进一步保护生态环境，感恩和回馈社会。
%p QNN Safe全能保险柜在不断发展壮大过程中，十分注重经营发展与环保低碳的同步，积极倡导低碳生产和生活。一方面，公司积极进行技术革新，不断改进和升级生产技术，推行资源节约、环境友好的生产方式，切实减少生产过程的能耗和排放；另一方面，积极开展绿色办公和低碳办公,公司内部完善办公自动化制度，坚持在日常办公中尽量运用网络技术，尽量办公无纸化节省纸张，提倡少用复印机、少开空调、少浪费电。与此同时，并建设网络销售渠道，在淘宝商城网、京东商城、官方网站等都开展了保险柜品牌直销，减少中间环节，节约资源损耗，坚持不懈地做低碳生产经营的先行者和实践者。
%p 为了更好地保护环境，回馈和感恩社会，QNN Safe全能保险柜今年率先提出了植树造林支持环保，做到二氧化碳零排放口号，就是要通过每年的植树造林来抵消公司生产制造所排出的二氧化碳。QNN Safe全能保险柜植树造林行动，一是对生产制造产品过程的能耗，通过植树造林进行补偿抵消，力求达到二氧化碳的零排放，共同保护我们的家园；二是通过植树造林，优化环境，共同营造良好的生态环境，感恩回报社会的支持；三是培养员工的环保意识，让员工不断提高环保意识，并把低碳环保贯穿到生产销售的每一个环节。以植树支持环保，以造林抵消排放这种做法，QNN Safe全能保险柜将不断持续传递下去.
%p  
