---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜三夺最受欢迎酒店保险箱奖
keywords: 保险箱
description: 一年一度的酒店行业“奥斯卡”盛典在北京如期举行，广东安能保险柜制造有限公司第三次荣获“2013年度中国酒店行业最受欢迎保险箱供应商”大奖。
---
%p< 
  近日，一年一度的酒店行业“奥斯卡”盛典在北京如期举行，对于酒店行业供应商来说意义非凡。由某权威媒体举办的“以影响力改变行业未来•2013酒店及商用橱柜行业十大评选颁奖盛典”在京盛大开幕，广东安能保险柜制造有限公司第三次荣获“2013年度中国酒店行业最受欢迎
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  供应商”大奖。
%p< 
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id017101.jpg"}/ 
%p 上图为广东安能公司总经理李政一上台领取最受欢迎酒店保险箱奖。
%p 2013年中国酒店行业十大评选活动，自3月1日启动以来，引起了行业的广泛关注，共有近4000家企业和个人参与评选，经过网上投票、两次专家评审会、线下调研等层层筛选，最终决出多个奖项，其中广东安能保险柜制造有限公司旗下品牌全能保险柜再次荣膺“酒店行业最受欢迎保险箱”称号。
%p 酒店保险箱作为酒店行业特别是高端酒店房间的必备品，产品质量、安全性等越来越受到行业内人士的重视。作为中国保险柜行业的领军品牌，广东安能保险柜制造有限公司拥有十八年的保险柜研发及制造经验，产品销量在行业内保持遥遥领先，拥有近500多万忠实用户、近百项自主知识产权专利，出口到美国、俄罗斯等70多个国家及地区，是中国保险柜行业名副其实的全能冠军。
%p< 
  %img{alt: "保险箱MI系列", src: "http://www.qnnsafe.com/images/news/id017102.jpg"}/ 
%p 上图为全能保险柜优质酒店保管箱MI系列。
%p 对于酒店保险箱的研发，全能保险柜一直秉承以市场需求为导向的原则，大力引进国外先进工艺及技术，开发出上翻式保管箱、组合式酒店大堂保管箱、手动滚筒式投入式保险柜等多种品类的保管箱产品，填补国内市场空白，本次三夺酒店行业最佳保险箱品牌，也是公司多年来不断创新和积累的鉴证。
%p 广东安能公司的产品严格按照国际酒店保险箱行业标准制造，并经过国际CE认证、GS认证、 ISO9001认证、中国3C强制认证、中国公安电子产品认证等，同时，将保险柜的安全、生活、艺术理念注入酒店保管箱中，通过不断创新，研发出多款实用型酒店保管箱，凭借优秀的品质、美观的造型受到业内众多知名酒店集团的关注，成为喜来登、香格里拉、帆船等国内多家知名酒店集团的供应商。
%p< 
  %img{alt: "保险箱DM系列", src: "http://www.qnnsafe.com/images/news/id017103.jpg"}/ 
%p 上图为全能保险柜优质酒店保管箱DM系列。
%p “有备才能少患或无患，选用知名品牌和过硬品质的保险柜，才是对生命财产最好的尊重与保护。”这是广东安能保险柜制造有限公司总经理李政一的肺腑之言，也可以视作为是全能保险柜的自信宣言。酒店保管箱已成为保险柜行业新的增长点，未来全能保险柜仍将不断追求探索，继续为之努力，继续传递全能“全心服务用户，勤勉探索创新，铸造诚信品牌”之正能量。“未来国际市场上最具竞争力的企业，是那些重视产品的技术创新和设计创新的企业。包括全能保险柜在内的创新第一、质量为本、品牌至上、效率领先的品牌在全球市场上一定大有可为。” 全能保险柜超凡的品质让李政一言对未来充满信心。
