---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 顺德广播电台走进全能保险柜
keywords: 保险柜
description: 佛山电台《商务地图》栏目走进多个行业中的领军企业进行实地采访，作为保险柜行业的领军品牌，广东安能保险柜制造公司近年来的高速发展受到政府认可。
image: 
---
%p
  为贯彻顺德区经济促进局的指导思想，弘扬传播顺德本土企业的品牌创新精神，佛山电台顺德广播（FM90.1）《商务地图》栏目走进多个行业中的领军企业进行实地采访。作为
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  行业的领军品牌，广东安能保险柜制造有限公司近年来的高速发展受到政府认可，推荐公司为栏目的重点报道对象。
%p 近日，顺德电台记者一行专程来到安能公司，与公司总经理李政一深入探讨了全能品牌的发展之路，并录制相关访谈节目。
%p
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id036201.jpg"}/
