---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 2011年全能保险柜腾飞年
keywords: 保险柜
description: 2011年是全能腾飞的一年，是努力拼搏的一年。在公司上下一心，齐头并进的工作氛围下，全能在各个方面都有了质的飞跃，迎来了全新的景象。
---
%p 2011年是全能腾飞的一年，是努力拼搏的一年。在公司上下一心，齐头并进的工作氛围下，全能在各个方面都有了质的飞跃，迎来了全新的景象。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id004201.jpg"}/
%p 企业架构，逐步完善
%p 为了促进公司的长远发展，增强公司产品市场竞争力，2011年公司在组织架构上增设新品研发部、市场部两个部门。公司领导曾多次强调“在科技创新的时代，企业要获得长久发展，能否不断研发新产品并成功进行市场运作是关键”，本公司秉承以“创新第一，品牌至上”的企业战略，成立专职研发部门，招募专业研发设计人才，及时跟踪和掌握国际、国内同类技术发展趋势，开发出体现时代潮流、符合大众需求的新产品，为公司发展提供产品基础。在过去，公司由销售部来承担产品线规划、市场调研、产品销售、品牌塑造、终端管理等综合职能，在销售任务面前，销售人员难以将企业的长远发展与短期利润，企业品牌建设与产品销售任务等方面达成有效统一。鉴于此，公司成立市场部，通过市场调研、需求预测，企业优劣势及竞争力的调查，及时对公司产品策略、技术策略、定价策略、销售渠道策略和促销策略制定和调整，并结合企业产品特点进行有效策划、包装、品牌塑造等，兼顾公司长期发展和短期利益。
%p 生产设备，与时俱进
%p 新建安能分厂，为缩短产品交期，提高产能奠定基础。2010年，公司出现订做产品交货周期长的现象，导致制造部门和销售部门扯皮现象，相互埋怨，部分客户失去信心。痛定思痛，公司决策层为了从根本上解决这一现状，缩短产品交货周期，提高客户满意度，2011年投入资金购买机器、招募专业人才新开生产基地，并于2011年6月投入生产，专业从事客户订做柜和小批量订单的生产。目前运作状况来看，分公司已经可以独立生产，这无疑成为本公司在2011年的又一重大突破，将为缩短客户订单周期，最大程度满足客户需求提供重要保障，亦将为公司在2012年在同业竞争取得更大优势、获得快速发展新添砝码。同时，公司今年新增设以下设备：数控剪板机、大功率激光切割机、三星SMT（贴片机）等国际先进设备。好的硬件是成功必不可少的一部分，公司加大对设备的投入，从“质”和“量 ”上提高全能保险柜的市场竞争力。
%p<
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id004202.jpg"}/
%p 产品研发，推陈出新
%p 公司自成立以来，始终树立以产品赢市场的理念，做好产品是一切的基础。2011年，研发部成立以后，在产品的研发上加大了力度，注重产品线的延长扩宽，针对市场竞争激烈的3C柜推出高尔夫、钢铁侠系列；针对公司产品保管箱类别的稀缺，加大了对保管箱研发力度的投入；在高端产品中，推出了安全性能媲美国际标准的家用金库系列……一切的一切都表明了公司对于扩大产品市场的决心与投入。
%p 品牌营销，稳步推进
%p<
  全能看到了家用市场的潜力，在品牌操作上推出了“保险柜创家居安全收纳空间”的理念。这一理念显示了全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  将走向家居化，从消费者的观念上灌输保险柜为家居必备品的理念。同时，在产品研发上也向这一理念迈进，争取创造更适合家庭使用的产品。在宣传策略上，除了物料的制作以此为中心外，公司还大力投入资源，搭建多个网络平台，运用网络高效、快速的传播能力，通过论坛、微博、软文发布等多种方法，务求激发起广大人民的意识，让全能成为家用保险柜最亮丽的旗帜，把全能打造成家喻户晓的保险柜品牌。
%p 岁月不居，天道酬勤。全能的发展需要我们每个人的不懈努力，让我们团结一致，把握市场机遇，勇于面对挑战，灵活创新，开创保险柜事业的美好未来。
%p 携手共赢，全能创造！
