---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 销售精英特训营活动通知
keywords: 保险柜
description: 兹定于2012年4月24日-26日举办全能保险柜“赢在终端”销售精英特训营活动，现将本次赢在终端会议的相关具体事宜通知如下。
image: 
---
%p 各办事处、区域代理商、参训人员：
%p
  兹定于2012年4月24日—26日举办全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  —“赢在终端”销售精英特训营活动，现将本次会议的相关具体事宜通知如下：
%p 一、会议安排
%p 1、会议主题：赢在终端
%p 2、报到时间：4月24日  13:00-17:00
%p 3、会议地点：顺德区党校
%p 4、参会人员：各区域店长及导购员
%p 5、会议时间：4月24日晚—26日上午
%p 6、返程时间：4月26日下午
%p 二、培训内容
%p 行业发展分析、竞品分析、企业介绍、产品培训、销售技巧培训、店面管理等
%p 三、乘车线路及会议地点分布图
%p 1、乘车线路图：
%p 1）到达广州火车站东站，可乘坐地铁到广州火车南站再购买广珠轻轨顺德站（二等座8元，时间8分钟）下，然后打的到顺德区党校（约30元）或乘坐公交车从太澳桥下走约530米到碧桂路三洲路口站(广珠轻轨顺德站)乘坐顺德314路佛广线(宝墨园-顺德客运站)到清晖园站，再转301305306路线到宝林寺站或顺德党校站下车即可。
%p 2）到达顺德客运站，可打的到顺德区党校（约15元）或坐公交车可乘312路（顺德客运总站-番禺大岗站）或318路（顺德客运站-细滘站）途径9个站到达顺德区党校。
%p 3）到达白云机场，可乘坐机场大巴到顺德大良格林公寓候机楼，打的到顺德区党校（约15元）或乘坐公交车在旁边公交站牌乘坐306路线到顺德党校站即可。
%p 2、会议地点分布图：
%p
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id036301.jpg"}/
%p 四、重要提醒
%p 此次特训营活动为期两天，结束时间为4月26日14:00，为了不耽误您的时间安排，外省参会人员务必提前购买好返程车票，以便顺利返程。
%p 五、会务组联系方式：
%p 不明之处可咨询会务组人员：
%p 何先生：13924853533
%p 邵先生：1362015485
%p 谢先生：13823450148
%p 特此通知！
%p 广东安能保险柜制造有限公司
%p 2012-4-18
