---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜将参加2009年安博会
keywords: 保险柜
description: 2009年11月1日至4日，第十二届中国国际安防产品博览会（CPSE）将在深圳会展中心隆重开幕，全能保险柜将一展安全、科技、环保的风采。
image: 
---
%p 2009年11月1日至4日，第十二届中国国际安防产品博览会（CPSE）将在深圳会展中心隆重开幕。
%p
  作为中国大陆领先、华南地区产销量第一的
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  制造企业，QNN Safe全能保险柜除携带武警步枪柜、武警手枪柜、文件柜、复合柜、酒店柜、指纹柜等热销产品参展外，还将隆重推出具备人脸识别功能和视频拍摄功能的保险柜等多款自主研发产品，一展QNNSafe安全、科技、环保的风采。截止今天，各项布展工作已经完成，盛装打扮的全能保险柜，期待与您在本届安防展的4号馆（消防/警用装备/防伪）A020展厅精彩邂逅！
%p 据了解，本届展会面积跃居全球安防展会第一，展出面积达9万平方米，标准展位4000多个，共有20多个国家和地区的近1000家世界安防知名企业与QNNSafe全能同道，为业内10万参观者搭建了规模恢宏的世界安防大舞台。
