---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 张学良帅府保险柜里的秘密
keywords: 保险柜
description: 张学良偌大个保险柜里既没有古玩字画，也没有金银珠宝，静卧着一枚小小的银元和一张折了两折的信纸，这张普普通通的收据背后又隐藏着怎样一段故事呢?
image: 
---
%p 1931年9月18日，阵阵枪炮声过后，日军突破城垣，逼近大帅府.
%p 面对着突如其来的灾难，大帅府没有丝毫准备，帅府内二十年来的珍藏完全来不及转移，张氏父子多年积攒的家底轻易地落到日本人手里.
%p 上百个日本兵在帅府里东走西窜，一会儿抱俩瓷瓶出来，一会儿又抬出两箱金条，忙得不亦乐乎。据不完全统计，日军仅在帅府内抄走的金条就有20多箱，至少有56，000两，另外还有银元40多箱，古玩字画无数。张学良晚年回忆说：我从前没有别的嗜好，就是收藏字画。我有一幅字，王献之的。是我当年是花三万块钱买的，现在这幅字，有人看见了，在日本横滨博物馆里。
%p
  混乱中，一小队日本兵冲进了位于大青楼二楼的张学良卧室，他们的目光不约而同地盯上了位于屋角的一个大保险柜。这个
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  ，完全是铸铁打造，柜门上上了一把硕大的锁头。一看到这个保险柜，几个日本兵欣喜若狂，这里是张学良和于凤至的卧室，保险柜中一定锁着帅府内最最贵重的宝贝。于是，日军一哄而上，一阵乱砸，将锁头撬开。当一个士兵颤抖着双手拉开柜门时，所有人都傻了眼，他们实在无法相信眼前的一切。原来，偌大个保险柜里既没有古玩字画，也没有金银珠宝。仔细一看，才发现柜中一个角落里静卧着一枚小小的银元和一张折了两折的信纸。
%p 这块银元就是张学良六次抛掷，决定杨、常生死的那枚袁大头。而打开信纸后，发现它实际是一张收据，上面写有收到现大洋五十万元整的字样，署名是赤冢、鹤见，日期是一九二九年九月。这张普普通通的收据背后又隐藏着怎样一段故事呢?
