---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 双十一安能保险柜再创纪录
keywords: 保险柜
description: 专业从事于致力于高品质、高安全性能的保险柜制造企业，广东安能公司集聚了行业资深的专业人员，形成了一支强有力的市场、研发、制造和营销团队。
---
%p “双十一”购物狂欢的传统始于2009年，当时阿里巴巴旗下天猫(Tmall)网站上的27个商家在这个原本平淡无奇的日子提供了促销折扣。自此之后，11月11日成为中国一年中最大的网络购物日。“双十一”这个光棍节也为电商狂欢起到了锦上添花的作用。“双十一”购物狂欢的品牌效应已经形成，电商制造的节日逐渐因知名度和认可度而拥有了一丝文化的意味。据淘宝网官方数据显示，11月11日零点44分38秒，淘宝网成交额突破55亿元，已经超过了2011年 11月11日24小时的成交额52亿元。11日凌晨5:49分，销售额突破100亿，比去年提前了7小时49分。六小时内百亿成交额，巨额订单吸引无数商家竞折腰，从凌晨0点到23点59分59秒，淘宝网“双十一”支付宝总成交金额350.19亿!安防企业不甘落后，知名厂家纷纷在双十一推出优惠活动。
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019401.jpg"}/ 
%p 广东安能保险柜制造有限公司
%p 今年大幅攀升的销售额说明中国消费者的购买实力日益提高，电子商务在整体消费中扮演了越来越重要的角色。
%p 专业从事于致力于高品质、高安全性能的保险柜制造企业，广东安能保险柜制造有限公司集聚了行业资深的专业人员，形成一支强有力的市场、研发和制造团队。安能保险柜产品在业内名声四扬，双十一来临之际，公司应声推出优惠活动，给力促销被受青睐。2013年11月11日0点开始，30分钟，销售额突破100万，超过去年双十一全天销售额;全天销售额500万，是天猫双十一保险柜类目排名第一。此外，在京东平台，今年双十一数据是去年同期的30倍，销售额与售出台数均创单日最高纪录。
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019402.jpg"}/ 
%p 电商部庆功
%p 安能相关负责人告诉记者，电商不仅影响了我们的生活方式，也在改变零售行业架构，社会在进行变革，零售行业也应该做出调整，适应电商化这一趋势，是所有有行业的必然选择。随着中国老百姓生活水平的提高，安全和理财意识的增加，特别是近年来，随着金融理财渠道的多元化，不少家庭中的黄金、珠宝、现金、存折、房产证、古董等贵重物品日渐增多，加上现代家居装饰的无锁化，人们生活方式的改变，保险柜以其“财产保护神”的特殊功能，正已受到了人们的热烈追捧。
