---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜荣获优秀供应商称号
keywords: 保险柜
description: 2010年1月19日，全能保险柜以卓越的品质、广泛的市场占有率和完善的售后服务荣获中国饭店协会授予的2009中国饭店与餐饮业优秀供应商称号。
image: 
---
%p
  2010年1月19日，全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  应邀参加了在北京举行的2010年中国饭店业总经理新年联谊会。并以卓越的产品品质、广泛的市场占有率和完善的售后服务荣获中国饭店协会授予的2009年度中国饭店与餐饮业优秀供应商称号。
%p 全能保险柜与两面针（扬州）、比特等55家企业同获优秀供应商称号，在保险箱行业，是唯一一家保险箱品牌被授予荣誉称号。全能保险柜多年来不断创新、品种齐全，为酒店、饭店等提供最优质快捷地解决方案。据统计，全能保险柜是全球酒店用品市场覆盖面积最广，年增长率最大的产品，每年安装全能保险箱的客房新增数达20万个。而且相继中标于2008奥运会、2009全运会、2010世博会，与各地区五星级酒店保持长期合作关系。
%p 此次获奖是继2009年荣获酒店用品行业品牌价值奖又一次荣获佳称。展望未来，全能的目标是致力于成为全球酒店客房保险箱的最佳品牌，提供更人性化的产品、更完善的服务，为全球所有酒店以及所有酒店宾客提供最好的安全感受。
