---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能防火保险柜市场潜力巨大
keywords: 保险柜
description: QNNSafe全能保险柜为国内提升防火 保险柜 消费意识提出倡议。呼吁全社会加强对防火保险柜的消费引导，呼吁整个保险柜行业加强产品技术的自主创新步伐。 同时邀请同行业人士、政府
image: 
---
%p
  QNNSafe全能保险柜为国内提升防火
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  消费意识提出倡议。呼吁全社会加强对防火保险柜的消费引导，呼吁整个保险柜行业加强产品技术的自主创新步伐。 同时邀请同行业人士、政府监管部门和媒体共同携手，为树立防火保险柜消费理念、维护国家和人民财产安全、构建和谐社会共同努力。
%p 2月5日，武汉汉正街的火灾令100多家商户数千万的财产付之一炬。中国安防协会付理事长兼秘书长靳秀凤表示：无情的大火增强了公众的安防意识，也引起了安全的观注和思考。以武汉市场为例，去年防火保险柜在当地仅售出了几十台，而汉正街大火后，同样的产品出现了脱销现象。不过，靳秀凤也不讳言：目前我国防火保险柜市场还未成熟，特别需要业内人士高度重视市场的推广和宣传，从广大消费者的实际需要出发，加速产业整体升级。
%p 防火保险柜的推广普及是行业发展的必然趋势。在国外，防火保险柜的销量远远超过了防盗保险柜，而在国内市场，防火保险柜市场比例还不到5%。他说，随着我国人民经济生活水平的不断提高，重要财产的定义已经不局限在现金、存折或者金银珠宝等有形价值上，商务票据、收款单、合同书、机密文件、技术资料等书面文件的无形价值，远远要高于有形资产。拿汉正街大火来说，损失最严重的一家商户，最痛心的并不是财物的损失，而是价值上百万票据的焚毁。还有很多商户也由于烧毁了收款凭证，应收账款无法追回。可见，树立防火保险柜的消费意识，是目前企事业单位与个人财产维护的当务之急。
%p QNNSafe全能保险柜制造商安能保险柜制造有限公司是一家集研制、生产、销售防盗、防火保险柜、枪械柜、智能安全柜、酒店保险箱、银行金库门、保管箱为主导产品的专业生产企业，是目前中国华南最大的保险柜生产基地和创汇基地之一，产品远销国内外，多个领域的产品行销于美国、英国、法国、澳大利亚、比利时等70多个国家和地区。
