---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 2012年全能保险柜寄语
keywords: 保险柜
description: 值此佳节之际，谨代表安能保险柜公司的员工，向所有新老客户、合作伙伴们表示衷心的感谢。祝愿2012年里，心想事成，工作顺利，阖家欢乐！
---
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id004301.jpg"}/
%p< 
  当钟声响彻夜空之时，我们迎来了一个充满希望的2012年。值此佳节之际，谨代表安能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  公司的员工，向所有新老客户、合作伙伴们表示衷心的感谢。祝愿2012年里，心想事成，工作顺利，阖家欢乐！
%p 过去的一年，我们共同经历了市场里的风风雨雨，感谢您们的支持与信任，我们才能得到今天的硕果。
%p 展望2012，将会是机遇与挑战并存的一年，我们将会继续坚持做好产品是基础的原则，加快新产品研发的进度，制定更完善的市场战略，继续强化为消费者创安全空间的理念，争取市场效益的最大化。
%p 春回大地，万象更新。让我们携手在一起，创造全能更美好的明天。
%p 让我们互相祝愿，梦想全能实现！
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id004302.jpg"}/
