---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 智能化可拍照摄像的全能保险柜
keywords: 保险柜
description: 随着人类生活水平的日益提高，QNNSafe全能保险柜正式向市场推出一款自主研发的可拍照和摄像的新型专利保险柜产品，在市场引起强烈反响。
image: 
---
%p
  近日，QNNSafe全能保险柜正式向市场推出一款自主研发的可拍照和摄像的新型专利
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  产品，在市场引起强烈反响，尤其是在力拓事件后，此款产品在国家机关、企业事业单位、大型商业机构备受青睐。这是继QNNSafe全能保险柜最新推出的人脸识别保险柜后更具市场价值产品，此项技术已于2008年获得了国家知识产权局颁发的具有摄像功能保险柜实用新型专利证书。
%p 随着人类生活水平的日益提高，保险柜也逐渐融入到部分家庭、企业办公、银行金融、机关单位、公共服务场所等，它对物品易管理、安全性高、操作方便、实用性高等特点，受到越来越多的人青睐，成为了大众的财产保护神或现代人类生活的必须品。保险柜由最原始的只是用铁箍着的坚固原木箱发展到今天的各类钢制保险柜，产品的发展随着时代演变在更新，伴随的安全问题深受大众的关注。QNNSafe全能保险柜推出这款性价比极高的可拍照摄像的保险柜及时弥补了市场上保险柜安全问题又一空白点，是高端保险柜产品又一技术突破，引领保险柜行业迈入智能化时代。
%p 据QNNSafe全能保险柜技术专家介绍，该款可拍照摄像的保险柜采用先进的视频监控技术和生物识别技术之一指纹识别技术相结合，柜门上装有针孔广角摄像头和红外线发射器，当监控模块检测到外物的移动或者有人对电子锁进行操作，就会自动执照拍照或录像，管理员可通过电脑读取SD卡上的照片或者录像记录；在光线微弱的情况下，采用红外线摄像技术，即使在伸手不见五指的夜晚也能正常工作。安全性能在常用的机械锁和电子密码锁的基础上又得到新的提升，而且即将与现市场上是主流的新型技术3G手机相结合，不仅在电脑上可查询保险柜使用情况，拍照或录像的情景可立即储存发送到管理员手机上。
%p QNNSafe全能保险柜作为华南地区保险柜行业的龙头制造商，肩负着保护广大人民财产安全的使命，视自主研发、技术创新为企业战略，在产品发展方面狠下功夫，新研制的高科技、多功能产品将层出不穷，满足市场不断变化的需要。
