---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜慰问贫困山区小学
keywords: 保险柜
description: 随着改革开放的春风，广东省经济得到快速发展，解决了基本的温饱问题，但在教育发展方面相对滞后，特别是贫困山区农村。在1994年9月被确定为国务院侨务办公室定点扶贫县的广东
image: 
---
%p 随着改革开放的春风，广东省经济得到快速发展，解决了基本的温饱问题，但在教育发展方面相对滞后，特别是贫困山区农村。在1994年9月被确定为国务院侨务办公室定点扶贫县的广东阳山县贫困山区，分散着各类条件艰苦的贫困山区学校，这里培育着我们祖国未来的花朵。这些孩子就像岩石缝里的花朵，具有着顽强的生命力，虽然得不到花匠的精心修剪，却依然开得美丽动人。
%p
  3月12日，第33个全国植树节，QNNSafe全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  保险柜专程赶往清远市阳山县，对近些年一直在关注的贫困山区小学阳山县杜步镇独树小学送去了学习物资与问候，并与小学较高年级 的学生一起展开了十年树木 百年树人为主题的植树活动。
%p QNNSafe全能保险柜从2009年初牵手这所贫困山区小学，至今年已是第三个年头，三年来，QNNSafe全能保险柜每年都会在这条曲折的山间公路上辗转两个来回。不管酷暑、寒冬，每个学期QNNSafe全能保险柜都会抽一个时间前往学校，为学生们送去学生用品,为学校改善教学设施，为孩子们提供良好优越的学习条件和环境。
%p 每当想起这些美丽而纯真的笑容和一双双渴求知识的眼睛，黝黑的小身躯顶着几个小时的烈日返转在上下学途中，单薄的衣服在寒冷的冬季也一样能够抵御严寒的侵袭。时常穿着一身邋遢的衣服，把自己弄得灰头土脸一身汗味，可他们脸上依然洋溢着的那灿烂的笑容和对知识的渴求。坚强的毅力和顽强不屈的精神使这些小天使们在这里开启教育之门奔向未来的天空，虽然他们看起来是那么的不起眼，就像是开在岩石上的花朵。
