---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 关于网上销售“全能”牌保险柜有关事宜的声明
keywords: 保险柜十大品牌
description: 本司未授权任何机构、单位和个人在网上销售全能品牌的保险柜产品。请各网站对涉及有关网上销售全能品牌的保险柜产品的店铺自行清查和清理。
image: 
---
%p 近期，本公司收到诸多消费者、客户投诉:一些不明网站在大量发布和转载我司产品资料，在网络上进行低价或跨区域销售，导致售后无法处理。此种不规范销售行为严重影响到消费者、客户的利益以及本司形象，为此，我司郑重发表以下声明：
%p
  一、截止本声明发布之日，本司未授权任何机构、单位和个人在网上销售全能品牌的
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  产品。
%p 二、从本声明发布之日起15日内，请各网站对涉及有关网上销售全能品牌的保险柜产品的店铺自行清查和清理，并删除相关内容，否则，本司将采取法律诉讼的权力，追究相关网站的相应法律责任.
%p 三、对于在非本司授权网店购买的全能品牌保险柜，本司不保证产品的真伪，也不提供任何售后服务。
%p 四、本司自建的网销店铺除外，在此购买的全能品牌保险柜，按本司售后条例享受售后服务。本司官方网销店铺如下：
%p 1、全能保险柜淘宝商城旗舰店：http://qnn.tmall.com
%p 2、全能保险柜淘宝直营店：http://qnnsafe.taobao.com
%p 3、全能保险柜诚信通商铺：http://www.qnn-cn.cn
%p 4、全能保险柜慧聪网商铺：http://qnnsafe.b2b.hc360.com
%p 5、全能保险柜官方网：http://www.qnnsafe.com
%p 五、若有诚意加入全能保险柜网络销售行列中，请15天后致电（0757-22308229）详谈，经我司授权签订协议后方可销售，否则，本司将采取法律诉讼的权力，追究其法律责任。
