---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜-DV眼原创网络短片有奖比赛公告
keywords: 保险柜
description: 在热心社会公益、致力中国文化发展的广东安能保险柜制造公司大力支持下，特举办全能保险柜-DV眼原创网络短片有奖比赛DV眼原创网络短片有奖比赛。
image: 
---
%p 随着中国文化生活水平日益提高、影视器材越来越普及，中国传统的影视表达方式、内容越来越不能满足新兴网民的欣赏要求，个性实足、丰富多采的自拍短片风潮正在民间孕育兴起，有自来水的地方就有拿DV的人，一个可以媲美唐诗宋词的网络短片时代也许正在来临。
%p
  DV眼致力于推动中国民间影视创作发展，探寻网络短片发展思路，挖掘、培养短片创作人材，在热心社会公益、致力中国文化发展的全能保险柜制造商广东安能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  制造有限公司大力支持下，特举办全能保险柜-DV眼原创网络短片有奖比赛DV眼原创网络短片有奖比赛。
%p 比赛设一等奖一名，奖金10000元；二等奖一名，奖金5000元；三等奖一名，奖金3000元；优秀奖5名，奖金各1000元；获奖者将有机会进行后续商业协作.
%p 比赛不设门槛，只要是DV、HDSLR爱好者均可参与，提倡个性、创意表达，作品时长不超过10分钟，内容形式不限，动漫、记实、生活、惊悚等不拘一格，片头或片尾字幕请务必注明《全能保险柜DV眼原创网络短片有奖比赛》参赛作品
%p 安能公司的全能保险柜广泛用于家庭、酒店、银行、办公室、公路收费站等等领域，短剧如需要各种保险柜做道具及相关场景的，安能保险柜制造有限公司全国各地都有办事处，可协助提供道具、场景拍摄及其它便利。
%p 比赛时间从2010年12月18日开始，所有参赛作品请上传到DV眼全能保险柜DV眼原创短片有奖比赛专题频道，2011年6月18日比赛截止，DV眼将组织相关专业人士从参赛作品热播热评排行榜前100名中粗选50名，再进行专业评分精选出11名入围作品，由相关行业专业人士最后票选出最佳短剧奖和10名优秀奖或根据作品质量增加的特别奖项。最终获奖名单将于2011年7月18日公布，所有获奖者获得现金奖励和获奖证书。
%p 具体详情请登陆DV眼视频网：http://www.dveye.com
%p 安能保险柜制造有限公司网址：http://www.qnnsafe.com
%p 安能保险柜制造有限公司各地办事处地址：http://qnnsafe.com/Domestic
%p  
