---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜引爆行业＂物联网＂革命
keywords: 保险柜
description: QNNSafe全能保险柜率先试水继计算机、互联网之后世界信息产业的第三次浪潮物联网，成为保险柜业内第一个引入和运行物联网概念的先行者。
image: 
---
%p
  家中
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  被保姆不小心碰到，内置设备会开口说话，及时向主人手机发出提示信息；机密文件锁在保险柜，若钥匙丢失，管理者用手机发条指令，待命的保险柜便会立即开启；安防部门调用枪支，管理人员并不需枪支编号登记，而只需登陆内部网管理模块，便能实现远程开锁授权，实时了解枪柜使用情况.这不是科幻电影中的镜头，而是正在大步向我们走来的保险柜物联网时代的美好生活。
%p 作为中国大陆领先、华南地区产销量第一的保险柜制造企业，QNNSafe全能保险柜代表了国内中小企业产业结构转型，从国际OEM加工企业转向品牌经营生产企业的典型，未来国际市场上最具竞争力的企业是那些重视产品的技术创新和设计创新的企业，创新第一、质量为本、品牌至上、效率领先的企业。我们率先试水继计算机、互联网之后世界信息产业的第三次浪潮物联网，成为保险柜业内第一个引入和运行物联网概念的先行者。
%p 中国社会科学院信息化研究中心秘书长姜奇平说：物联网也被称为智能地球，物与物之间实现智能化，相当于遥控。你可以通过网络进行设置而一劳永逸。全能牌智能枪弹柜，即是安能公司大胆创新，导入物联网概念，自主研发的一款智能化产品。
%p 以前，枪支(手枪等)管理仅依靠枪支上的出厂编号进行管理，因而其枪支的保管、使用、状态等情况存在着账物不符、人物不符等诸多隐患。因此，如何为枪支管理部门提供完善的管理手段，确保枪支保管、流通、使用中的信息可靠，快速处理突发事件中产生的强制管理问题，这成为了全能保险柜急需解决的难题。
%p 经过数百次的研发试验，全能保险柜技术研究人员发现，通过计算机互联网，采用射频自动识别(RFID)技术，能够实现枪支的自动识别和信息的互联与共享，实现枪支的安全监管。
%p 据介绍，该款产品枪支安全监管系统由隐藏在枪体内与枪支一体化的电子标签，检查枪支状态的测试读/写器，安装于PC机的管理系统，枪支监管系统以及指纹验证与采集系统等五部分构成，具备状态监控、归还提醒、远程控制、自动登记等功能。
%p 目前，该款产品已成功批量投放市场，取得了用户的高度肯定评价，成为了枪弹柜领域智能、安全的代名词。
%p 如果物联网与手机3G网络结合，将很快改变人们的生活方式，使之更加便捷安全。中国互联网协会秘书长黄澄清如是说。在3G时代的背景下，全能保险柜正携手电信部门，抓紧研发3G通讯保险柜。
%p 全能保险柜研发人员介绍，该款产品的大致原理是，在产品内植入电子标签，将该电子标签与用户3G手机相连，使手机与保险柜形成一个狭义的物联网。
%p 尤其令人格外注目的是，当有人动用该保险柜时，其内置设备会立即给用户手机发送视频和图片资料，起到及时提醒用户的作用；同时，用户可以通过3G手机，实时查看保险柜的状态，可以实现随时随地监控，安全无处不在的效果，受到消费者的翘首以待和业界的热切追捧。
%p 不断超越客户的需求，致力为客户提供人性化、智能化、安全化的解决方案，安能率先触网，抢占保险柜业信息化高科技的制高点，正在引爆保险柜业物联网革命。
%p 近年来，各国政府力挺这一概念：2009年初，美国总统奥巴马就职后，将物联网列为振兴经济的核心武器之一。今年8月7日，温家宝总理来无锡微纳传感网工程技术研发中心视察时指出，在国家重大科技专项中，加快推进传感网发展、尽快建立中国的传感信息中心，或者叫‘感知中国中心.
