---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 安能公司实行&quot;地球熄灯一小时&quot;,践行低碳
keywords: 保险柜
description: 广东安能保险柜制造公司积极响应地球一小时熄灯活动，公司生产车间、办公楼和宿舍楼都熄灯一小时，强化全体员工节约能源、清洁环保、珍惜资源的意识。
---
%p<
  2012年03月31日20：30—21：30，由世界自然基金会（WWF）发起，全球数亿人参加的“地球一小时”熄灯活动拉开大幕。广东安能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  制造有限公司积极响应，公司生产车间、办公楼和宿舍楼都熄灯一小时，以此为契机，在公司全体员工中强化节约能源、清洁环保、珍惜资源的意识。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id004401.jpg"}/
%p “地球一小时”是一個迅速崛起的全球性环保活动，广东安能保险柜制造有限公司的这次尝试不仅能让公司员工加入到全球环保的队伍里，而且也体现了对环保活动的支持，既能提高大家的环保意识，又能尽到社会责任。让全体员工知道我们需要“保护地球，珍惜资源”的重要性，让大家清楚个人的行为也可以影响大势。从小事做起，从身边做起，是我们安能人能做到的！
%p 当晚21:30宿舍的灯光逐渐亮起，“地球一小时”熄灯活动完满结束了。但是环保的步伐并不会因此而停下，让我们在平常的生活中节约用电，以自身的行为去延续“地球一小时”的精神。只要全体成员朝着共同的方向，团结一致，节能环保的梦想全能实现。
