---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜当选顺德区第二批电子商务示范企业
keywords: 保险柜
description: 全能保险柜荣获顺德区第二批电子商务应用类示范企业，旗下电子商务部成立于2011年，创造出单日销售3000单，销售额破百万的佳绩。
---
%p 继去年12月公布首批电子商务示范企业后，佛山市顺德区经科局于2013年8月5日再公示23家入围第二批电子商务示范企业的名单，这批名单中，安能保险柜成功当选为顺德区第二批电子商务应用类示范企业。
%p 
  电子商务应用类示范企业，是指已经开始应用电子商务开展宣传推广、网络采购和销售活动、且在提高生产经营效能方面取得一定成效的企业。目前，在顺德有多达2400家企业上网“触电”，而广东安能保险柜制造有限公司正是这些企业中的佼佼者，成立于2011年的安能公司全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  电子商务部，目前已初具规模，创造出单日销售3000单，销售额破百万的佳绩。这一成绩对于传统制造业而言，尤为难得。在今年，乘中国电商行业大发展的东风，安能保险柜电子商务部将努力开拓网销市场，以年增长300%为目标，争取早日进入网销亿元俱乐部行列。
%p 据悉，同批次获得示范企业的品牌还有万家乐、周生生、地中海等在全国具有一定知名度的制造业品牌。
%p 
  %img{alt: "全能保险柜顺德区第二批电子商务示范企业", src: "http://www.qnnsafe.com/images/news/id015101.jpg"}/ 
