---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜09年优秀员工海南之旅
keywords: 保险柜
description: 2010年4月15日下午，全能保险柜2009年度7位优秀员工手持2010年三亚双飞四日游旅游卷，在全体领导和同事的欢送下，踏上了海南游之旅。
image: 
---
%p
  2010年4月15日下午，全能
  %a{href: "http://www.qnnsafe.com/"} 保险柜
  2009年度7位优秀员工手持2010年三亚双飞四日游旅游卷，背着旅游行囊，在全体领导和同事的欢送下，踏上了海南四日游之旅。
%p 全能保险柜每年度优秀员工是全能保险柜以月度考评与年终考核相结合，年终时采取不记名投票的选举方式，在全体员工中选出的年度管理技术标兵、生产质量标兵，并会在年度的年拜会上颁发奖项。1996年起，企业旅游福利已被越来越多的企业纳入员工福利条目。全能保险柜为激励员工更有效作业、积极进取、实现最大化价值，从2009年开始，旅游被列入年度优秀员工福利，据说2010年度旅游福利时间将翻倍。
%p 全能保险柜自成立伊始，始终把人才定位于公司发展的首要基础条件，对员工的工作业绩给予认可和信任。培育员工多元化全面发展；激励员工自我提升、勇于挑战；发扬员工团队合作精神；注重企业文化和发展理念；塑造员工和企业良好形象。使企业和员工融为一体，树立起每位员工的主人翁心态，做到以人为本的企业管理理念，提升员工对公司的归属感、忠诚度和工作积极性，增强团队精神和员工凝聚力。同时也鞭策员工们再接再励、积极进取，以标兵为楷模，不断提升自己，与公司共同发展，在全能保险柜打造国际领先品牌的发展之路中添石加瓷。
