---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜严把产品质量关打造安全收纳新空间
keywords: 保险柜
description: 全能保险柜每一系列产品均严格按照国家标准进行测试，只有质量得到保证，才能保障群众的财产、隐私安全，这就是全能打造安全收纳空间最核心的使命。
image: 
---
%p 全能保险柜严把产品质量关
%p 打造安全收纳新空间
%p
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  被广泛应用于家庭、企业、公安、银行等各个领域，成为守护财物、隐私等不可缺失的重要设备，肩负着安防的作用与责任，质量便成为不可忽视的重要元素。全能认识到这一点，把严谨的态度灌输到产品制作的每一个环节中。
%p 一台保险柜从开发到上市，要经过很多繁冗的步骤。其中，针对保险柜抗破坏力的安全检测，是绝对不能绕开的一环。保险柜能否抵御高处跌落的冲击力，能否抵抗一段时间内的暴力性撬柜？
%p 今天，全能揭秘保险柜抗破坏力测试的部分环节，零距离体验全能保险柜对产品质量的严格把控。
%p
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id035701.jpg"}/
%p 图1 为安全测试所用到的工具
%p 测试于上午进行，由全能保险柜品管部的2名熟悉操作技能、通晓防盗保险柜结构的试验人员轮流操作，测试样品为全能SJB-88III保险柜。为保证人员人身安全，测试地点选在厂房外的水泥通道上，测试采用的工具为图1中的手工工具。
%p 步骤1：运用吊机把测试柜吊起，从地面到保险柜的最低点为2.6m，让测试柜自由落下，并检查柜体表面损坏情况：
%p
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id035702.jpg"}/
%p 步骤2：运用上述的工具，对柜门进行撬、凿，耗时45分钟，下图为撬凿过程：
%p
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id035703.jpg"}/
%p 步骤3：对被撬开的柜体进行详细检查，做出分析报告。报告中可见，柜体内结构存在脱焊和变形，皆因暴力撬柜使用的工具所致。
%p 据悉，按照国家GB10409-2001防盗保险柜标准要求“打开保险柜的净工作时间（从开始撬、凿一直到打开为此的时间）不能小于15分钟，如能达到，则产品合格”，由此可见，全能SJB-88III完全符合保险柜的质量标准。
%p 据全能品管部主管介绍，全能保险柜每一系列产品均严格按照国家标准进行测试。我们可以从中了解到全能对产品质量的一丝不苟。只有质量得到保证，才能保障群众的财产、隐私安全——这就是全能打造安全收纳空间最核心的使命。
