---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜喜迎新春祝福万家
keywords: 保险柜
description: 辞岁迎新，送走辉煌的2009年；恭贺新禧，迎接美好的2010年。1月6日晚，全能保险柜举办了2010年迎春晚会，所有员工欢聚一堂，共度盛会。
image: 
---
%p
  辞岁迎新，送走辉煌的2009年；恭贺新禧，迎接美好的2010年。1月6日晚，全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  举办了2010年迎春晚会，所有员工欢聚一堂，共度喜庆盛会。
%p 随着热烈的掌声，公司总经理致辞拉开了晚会帷幕。对于全体员工的辛勤付出和努力工作表示感谢和肯定，并寄予了新年厚望，而且还带来了新年喜讯公司今年将加大生产投入力度，实现最先进、智能的生产能力，全新智能的生产设备合同已经签订精简的致辞迎来大家一阵阵雷鸣般的掌声，我们相信，未来的全能保险柜在优秀领导得带领及全体员工共同努力下，全能保险柜将会走向更辉煌的明天！
%p 晚会上，公司领导还宣布了一年一度的优秀员工名单，并给予了高度评价和颁发优秀员工证书优秀员工奖金优秀员工三亚双飞旅游卷.最后，神秘的抽奖活动将整个晚会推向了高潮，欢呼声、拍掌声、祝福声仿佛凑起了新年乐曲。抽奖活动是今年新增的项目，奖项分为：特等奖、一二三等奖。奖品虽小，但它代表着公司的福利，也是对员工新年的幸运祝福。
%p 值此新春佳节来临之际，全能保险柜全体员工感谢新、老客户和广大消费者多年来的支持，也祝愿你们新春愉快、虎虎生威、合家幸福!
