---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜推出防火防水保险柜新品
keywords: 保险柜
description: 如何有效地保护财产安全，减少在灾害面前的损失，QNN Safe全能保险柜推出的防火防水保险柜，为人们在防盗和减灾防灾中提供了更有力的保护神。
image: 
---
%p 3月11日，日本发生了罕见的9级特大地震，继而又发生了猖獗的大海啸，福岛核电站反应堆也相继发生爆炸 。一时,自然灾害、安全问题更成了世界关注的焦点 。
%p
  地震、海啸、火灾、洪涝、飓风这是一个自然灾害频发的年代。在自然灾害面前，如何应对灾害、减少灾害造成的损失，成了人类面临的共同挑战。最近，一直致力于更人性化、更智能化、更安全化的保险柜安全保管服务和研发的QNN Safe全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  ，不断创新、与时俱进， 积极探索、开创减灾防灾的新技术,为更好地保护人民财产安全,近日推出一款防火防水保险柜新品，为人们在与灾害抗争中减少损失作贡献。
%p 火灾、水灾是人类常见的自然灾害。去年，我国各地就发生了一系列重大火灾事故，如福州台江区新港街道火灾，上海胶州路特大火灾、全国文保单位清华学堂失火、吉林市商业大厦火灾事故等。据有关资料显示，仅2010年1至6月份,全国共发生火灾73317起，直接财产损失79290.7万元。每年汛期,我国各地洪涝灾害种类多，受灾程度重。去年的8月7日，甘南藏族自治州舟曲 遭受了特大泥石流袭击，各地的洪涝灾害因灾直接经济损失也数以千亿计。
%p 水火无情，灾难频发，警醒着人们要切实增强了安防意识，也引起人们对保护生命财产安全的深深思考。随着我国人民经济生活水平的不断提高，保险柜不再是 金银财宝 类昂贵物品的专属，而更为广泛的应用在收纳保密于商务票据、收款单、合同书、机密文件、技术资料等纸质文件上，无形的财富价值 也成为人们财产的重点保护对象。 如何更有效地保护财产安全，减少在灾害面前的损失，QNN Safe全能保险柜推出的防火防水保险柜，就为人们在防盗和减灾防灾中提供了更有力的保护神。
%p 据了解，QNN Safe全能保险柜推出的防火防水保险柜不但具有防盗功能，并且具有防火防水功能，目前在市场上较为罕见的兼备多种性能的保险柜。此款 防火防水保险柜采用隐藏式门铰链设计，设置了保护性防水封条，该款保险柜防火性能为在927℃/1700℉下可耐久1小时，而且保险柜内部保持在177℃/350℉以下，减少纸张燃烧的可能性；其具有的防水性，就是保险柜在高压水喷射或浸在水中，仍可保持内部文件干爽不受潮，防水的时间可长达半小时。
