---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 科技保险柜改变办公态度
keywords: 保险柜
description: 全能文件柜推出的联网报警系统主要有两款，电话联网报警器以及GSM移动联网报警器，全能热卖的BMG系列文件保密柜可选装这2款联网报警器进行使用。
---
%p 2014年7月10日至14日，第二十届中国国际办公用具展览会将在上海新国际博览中心盛大开幕。
%p 今年，办公用具展将迎来她20岁华诞。近年来，办公室文化一直致力于倡导环保创新的办公生活态度，以科技改变办公为出发点，为专业买家、设计师和媒体等专业人士搭建全新的办公生活展示交流平台，传递全新的办公室用具设计潮流，打造全新的办公室精装收纳品质。
%p 2014年，众多高端品牌携手入住，海内外专业买家纷至沓来，设计师及行业媒体群英荟萃，潮流趋势、设计理念纷纷揭晓。全能保险柜旗下的文件保密柜产品脱颖而出，为您展示不一样的办公室收纳态度和资料存放保护!
%p<
  全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  于同期发布了最新款的文件保密柜，以联网报警器为卖点，主推科技化智能化的文件保密柜。
%p 全能文件柜再升级，全能首推联网报警产品受追捧。随着国民经济的不断发展，人们对安防服务越来越重视，安防已经走进了办公室甚至寻常百姓的生活。而作为安防业，应用最为普遍也是最重要的就是如果使产品具有超强收纳性能和私密可靠的防御，其性能与可靠性显得越来越重要。然而，由于部分低质量文件柜产品问题频发，普通公司对文件柜的要求也愈来愈高。作为全能企业下的文件柜的升级产品，全能文件柜新推出带有联网报警功能的文件柜产品备受广大用户关注。
%p 全能文件柜作为市面上首家专为文件柜配置的联网报警系统，而带有此系统的全能文件柜一经推出便受到广大公司热捧。全能文件柜推出的联网报警系统主要有两款，电话联网报警器以及GSM移动联网报警器。全能热卖的BMG系列文件保密柜可选装2款报警器进行使用。用户可以根据自身的需要装配不同的联网报警器，方便工作也方便生活。  
%p 全能销售员解释：这两款报警器均由全能自主开发，专为保险柜而设计延伸于文件保密柜。区别在于电话联网报警器是采用电话有线连接发送报警信息的，移动联网报警器是插入SIM卡后实现无线发送报警信息。电话联网报警器由主机和发射器组成，采用电话线连接。当保险柜受到一定的外力撞击或是进行非法执行操作，抑或是连续输入三次错误密码，发射器便会立即发出警报信号让主机接收。主机接收信号后便会立即拨打客户预先存入的4个号码进行报警，送达的电话可以是移动电话也可以是固定电话，务必及时提醒客户，好让客户及时采取应对措施。而全能GSM防盗报警器与电话报警器主件基本相同，主要区别在于GSM防盗报警器最多可存入5组报警电话号码，而且必须插入移动、联通GSM2G SIM卡，同时兼容中、英文短消息的报警功能，还可异地发送短信以远程控制主机布防、撤防，并在接听报警电话后监听现场动静。此外，联网报警器的主机设置都需要密码才能操作，备有锂充电电池，交直流自动转换，断电待机工作时间不小于15小时，以确保突发状况下也能确保系统安全服务的发挥。
%p 另据了解，带有联网报警系统功能的全能文件保密柜已在展会订单火爆，开馆不到10分钟，一名客户就与公司签下了20万元的文件保密柜订单。随后，又有10多名经销商带着现金要求现场签约，缴纳保证金。据悉，当天与来自福建、重庆、天津、上海等省的几十位客户签订了数50万元的订单，发放了几千份宣传资料，近千名意向客户做了详细登记。
