---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜在美国参展
keywords: 保险柜
description: 美国拉斯维加斯五金展是当今世界上历史最长、规模最大的专业级展览会之一，也是全美洲地区最大的五金工具、五金制品、保险柜及户外用品展览会。
---
%p 2014美国拉斯维加斯五金展于5月6日-8日在美国拉斯维加斯开幕。美国拉斯维加斯五金展是当今世界上历史最长、规模最大的专业级展览会之一，也是全美洲地区最大的五金工具、五金制品、保险柜及户外用品展览会。
%p 2014年展馆面积达8万多平方米，约4000家企业到会参展，，到会专业客商30000多名。中国五金展商为430家企业，480个摊位；据统计，在全美100家最大的家居用品零售商中，参加每年五金展的企业已经累计占到89%。本次展会中，全能保险柜更是组织了企业组织40多名销售精英赶赴美国参加盛会。展位上推出了精雕细作的花式柜、全自动保险柜、尊贵典雅的皮革柜、环保时尚的保险柜、具有独特功能的三排防撬锁芯和自动电话报警功能的指纹密码锁，以及升级换代的全能保险柜，吸引着国际外客商的眼球。
%p 据了解，开馆不到半个小时，一名客户就与公司签下了10万美元的保险柜订单。随后，又有10多名经销商带着现金要求现场签约，缴纳保证金。据悉，当天与来自纽约、芝加哥、底特律、诺福克等州的几十位客户签订了多项的订单，发放了几千份宣传资料，近千名意向客户做了详细登记。
%p 此次参展，是全能保险柜企业实施“走出去”战略目标的一个信号，企业CEO李政一先生告诉记者，“走出去”的战略计划是指全能企业在开拓市场和完善销售渠道上投入更多精力。
%p “长久以来，在国内安防行业里一直保持着中国保险柜十大品牌位置，一直稳居前三甲位置。为了走出中国，全能保险柜企业开始主动出击，强势切入。”李政一先生说，“我们希望通过美国国际安防产品展，撬动整个安防市场，打破国际阵营的格局，确立全能保险柜企业引领保险柜安防业潮流，做受人尊敬的世界安防家居巨头的地位。”
%p 本次展会的负责人Lily说：“此次参展的目的，就是为了提升和扩大全能保险柜在中国乃至整个国际市场的知名度和影响力，了解整个安防行业的最新信息，同时向国际安防业学习。”
%p “现在，我们把重心放在中国，力争在国际安防产品展览会实现突破。一方面拓展国外市场，一方面也可以反过来促进国内的销售发展。” Lily分析说。 
%p 据了解，美国拉斯维加斯五金展自2004年从芝加哥迁至拉斯维加斯以后发展很快，现已发展成为美国规模最大影响力专业展会之一。展出内容以五金工具类、安防保险柜、草坪和花园世界两大主题为主，继续设立新产品、新技术、新设计展示区。
