---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜打磨全能实力
keywords: 保险柜
description: 全能保险柜人事经理表示，公司从事安防行业已有十九年，近两年随着电子商务的兴起，公司改变策略，发展网络销售，发展一日千里，给整个团队带来激励。
---
%p 毕业季，也是大学生求职就业的高峰期。在毕业生担忧工作难找的同时，企业也同样普遍面临招工难的现象。记者此前走访顺德体育中心举办的招聘会时了解到，当日有380家企业到场，不过普遍只接收到10多份简历，其中大部分应聘者不符合企业的岗位需求。
%p 然而，当记者走到安能公司的招聘台前，却发现大量求职者集中排队等候面试，面试官面前厚厚一大沓的简历显示他们已经面试了不少应聘者，这与其他同来的企业单位截然不同。
%p 记者决定弄明白：为何在企业普遍找不到对口的人才时，安能公司却能收到一大沓的简历？应聘者还在源源不断地增加？
%p 从网上公开的大量的企业信息来看，安能公司主要从事安防行业，目前有全能、艾能、斑点狗等多个保险柜品牌。去年，其全能保险柜在淘宝、京东等网销渠道的销量惊人，平均每5分钟就卖出一台，在同类产品中名列前茅。这又给记者带来一大疑问：安防行业属于传统行业，安能公司最初也是采用传统的经营模式，为何在短时间的“触网”以后，就能实现O2O的突破？两个问题之间，有何关联？带着这些疑问，记者开始了采访行动。
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id020201.jpg"}/ 
%p 当记者表示希望深入采访安能公司时，在现场负责招聘的刘女士立刻表示愿意请示公司，并尽可能尽早安排采访。
%p 隔天，当记者来到安能公司位于佛山顺德的总部，公司前台墙上张贴着不少团队活动的照片，记录着团队的笑容。进入厂房，数控冲床、折弯机、激光切割机以及弧焊机器人等数百台国际著名品牌的设备正在运行，其中可看到不少年轻的小伙子娴熟地操作着机器，仓库区里井然有序地放置着保险柜的各部件物料。
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id020202.jpg"}/ 
%p 全能公司人事经理表示，公司从事安防行业已有十九年，近两年随着电子商务的兴起，公司改变策略，发展网络销售，公司发展一日千里，对整个团队的激励相当有力。目前公司在全面拓展研发、生产、推广、销售、售后服务等人才，对招聘的需求量较大。
%p 当被问及会不会担心招不到合适的人才时，人事经理表示：不会。公司给的福利条件好，且工作环境、团队氛围活跃，人才流失率比较低。
%p 全能总经理李政一的回答或许更为有力：“企业必须是一所持续学习的大学！每一个员工都需要培训学习改善！一方面自己要建立培训体系和师资队伍，一方面要请外援老师或送出去培训，再有要走出去，到其他企业参观学习交流。全能是一个促进员工成长的平台、是一个提升能力的培训学校、是一个目标一致团结协作的大家庭。” 
%p “我们卖保险柜，其实是在卖安防服务。销售更重要的不是搞定客户，而是做好自己。做好自己，才能做到产品创新第一，给顾客带来与众不同的价值！对于企业来说，做好自己，就是打造好一个团队。” 
%p 对于员工而言，最具价值的工作，莫过于在福利合理甚至优渥的前提下，在为公司创造财富的同时，在愉悦的环境下快速提升自我的能力。对于全能而言，具备这些条件，吸引目标人才并不难。
%p 【研发销售，全能实现】
%p 马云说过：“你不能统领所有人的思想，但你可以给他们一个目标，然后统一他们的力量。”打造好团队，是否就等于成功了一半？
%p 采访当中，全能市场经理何先生带领记者了解了全能的整个运营流程：全能保险柜搭建了从产品研发、生产，到推广的文案、编辑、摄影，及销售、售后服务等专业、系统的团队。不同部门的工作人员，流程衔接相当紧凑而高效。何先生非常自豪地说：“现在全能团队，不管是研发生产还是推广销售，都能实现，而且效率更可观。”
%p 【线上线下，全能实现】
%p 据李政一先生介绍，目前全能产品已遍布全国各省、自治区、直辖市，形成了以2000余个销售网点、300余家专卖店为主力的强大营销网络，有超过500万以上的忠实用户。产品远销中东、欧美、非洲、南太平洋等几十个国家和地区，并获得欧盟CE及ROHS等多项国际权威认证，成为多个国际名牌的OEM供应商，是国内最知名的保险柜出口品牌之一。
%p 李政一强调，这些业绩，都靠整个团队来支撑。全能的成就，来自团队成员的每一分贡献。全能销量惊人的背后，有团队默默留下的汗水。
%p 结语：
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id020203.jpg"}/ 
%p 采访行将结束时，记者在食堂中面对面采访了正在用餐的王先生。2012年加入全能，负责产品生产的王先生对记者透漏，目前公司会定期给大家组织专业培训，也会及时对公司的优秀个人、全能之星、优秀团队进行表彰。平时团队活动比较多，大家在一起工作也比较快乐。
%p 透过一个个细节，我们似乎可以明白一些道理：好的企业管理，才能打造良好的团队。良好的团队，创造优秀的业绩。而感恩，才能让团队飞速发展。这种良性循环，才能吸引更多更加优秀的员工。这就是为什么安能公司备受求职者青睐的原因，也是安能公司作为传统企业，在短期内成功获得O2O实效的原因。
