---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜的网销申明公告
keywords: 保险柜
description: 近日有一些不法分子利用全能保险柜品牌进行假冒网站欺骗,或以全能保险柜品牌名义在各主要电商平台进行假冒产品销售，给消费者带来不必要的经济损失。
---
%p 近日有一些不法分子利用全能保险柜品牌进行假冒网站欺骗,或以全能保险柜品牌名义在各主要电商平台进行假冒产品销售，给消费者带来不必要的经济损失，也严重破坏了全能保险柜的品牌形象。对此，全能保险柜严正声明，目前，全能保险柜仅有以下网店平台：
%p 天猫全能旗舰店：http://qnn.tmall.com/ 
%p 天猫艾能旗舰店：http://yineng.tmall.com/ 
%p 天猫全能官方网店：http://shop62074201.taobao.com/ 
%p 天猫艾能家居专营店：http://ainengjj.tmall.com/ 
%p 京东全能旗舰店：http://qnn.jd.com
%p 京东直营店：http://qnnsafe.jd.com/
%p 京东全能专卖店：http://qnnsafes.jd.com
%p 京东夹万王保险柜官网：http://icana.jd.com/
%p 淘宝智能储物网店：http://shop108594799.taobao.com/index.htm
%p 亚马逊官网：http://www.amazon.cn/gp/browse.html?ie=UTF8&marketplaceID=AAHKV2X7AFYLW&me=A3CBJKHFTFBC3C
%p 国美在线：http://mall.gome.com.cn/80001662/
%p 苏宁全能官网：http://shop70068874.suning.com/
%p 当当网：http://shop.dangdang.com/13529
%p 请消费者认清全能保险柜网上销售渠道，其他未经全能保险柜许可经营的网络渠道，均为非法网店网站，不能保证正品和享受正规售后，请大家谨防上当受骗。
%p 全能保险柜全国服务售后热线：
%p 400-830-4555
%p 0757-22308296
%p 0757-22308229
