---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜保护家居安全
keywords: 保险柜
description: 当时公司里用的保险柜是全能品牌的，所以他也给自己家里买了一个全能“马上金银”家庭保险柜，放在卧室，看起来就像个文艺古典风格的家具柜子一样。
---
%p 微信里流传着这样一个新闻事件：前段时间王先生家里发生火灾，房子烧成空壳，只有一个全能保险柜还完好无损，保住了里面的存款和其他所有的证件，成为烟火过后唯一的希望，引起网友的一致感叹：买个家用保险柜真的很有必要！
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id020401.jpg"}/ 
%p 记者联系到王先生，了解其火灾前后的故事。
%p 王先生家住郊区，以前对家中财物的保管并没有重视，直到邻居家的房产证被盗，房子被盗贼拿去做贷款抵押后，王先生才开始重视保管家中的各种证件、财物。当时公司里用的保险柜是全能品牌的，所以他也给自己家里买了一个全能品牌的“马上金银”家庭保险柜，放在卧室，看起来就像个文艺古典风格的家具柜子一样，自然而不显眼。王先生把家中所有贵重的东西都放在保险柜当中。正是这个举措，让他免于一无所有的惨境。
%p 上个月，居住楼里通电线路老化引发火灾，幸好当时恰逢上班、上学时期，家人均不在家中，才全部幸免于难。火灾过后，消防人员清理现场，才发现他们家的保险柜完好无存。
%p 当时保险柜的购物凭证、发票都在火灾中销毁了，不过，当王先生联系到安能公司的客服时，知悉王先生特殊情况的客服表示免费为王先生检修、恢复外观，并安排网点工作人员为王先生顺利取出保险柜中的现金存款、房产证、腕表、金条、户口本等所有贵重东西。
%p 记者走访全能保险柜制造商安能公司总经理李政一先生时，他表示：不少家庭因为不重视保管财物，导致了失窃、火灾等众多破财案例。当看到一个个火灾、失窃案例导致消费者损失惨重时，经历过艰苦岁月的李政一非常痛心。他立志要带领团队，研发及防火、防盗、防水等多种功能的家用保险柜。为了提高防盗的技术，李政一带领团队，研发指纹解锁、声控解锁等多种开锁方式，提升保险柜的防盗系数。
%p 安能公司已经在保险柜行业当中驻守了十九年，全能保险柜旗下拥有全能、艾能、斑点狗等品牌，对保险柜的工艺研发有系统、权威的卓越技术。与其他商家为取悦消费者而注重保险柜的外观设计，忽视内在质量不同，李政一始终强调优先实现保险柜作为保管财物安全的价值所在。完成了这个目标，美化保险柜的外观才有价值可谈。
%p 李政一表示，安能公司特别注重产品的研发，配置数控冲床、折弯机、激光切割机、以及弧焊机器人等设备。所生产的保险柜，从柜门钢架的加固、开锁的多重保险，到整个柜体的防切割性，其安全系数在业内都是权威水平。
%p 李政一说：安能公司搭建了完整的电商团队，从销售、售后服务，都能满足现在越来越旺盛的移动安防需求。全能保险团队强调员工的价值，帮助员工实现梦想，提升员工的忠诚度。这能有效提升全能品牌的售后服务品质。王先生的案例，只是全能客户中众多良好反馈中的一个案例。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id020402.jpg"}/
