---
layout: product_article
permalink: /products/tgg-6442br.html

type: 铁金钢
name: TGG-6442B/R
title: 家用保险柜全能铁金刚TGG-6442B/R
keywords: 家用保险柜
description: 保险柜铁金刚系列TGG-6442B/R高640mm，宽420mm，深400mm，净重72公斤，优质喷涂表面处理技术，防锈耐刮花，刚柔并济。

images:
- tgg-6442br.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-6442b_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-6442b_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 40px; top: 60px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-6442b_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-2040b_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-2040b_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-2040b_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-2040b_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-2040b_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-5840b_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-2040b_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/tgg-2740b_03.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td TGG-2040B/R
        %td (高)200x(宽)400x(深)300mm
        %td 10mm
        %td 4mm
        %td 25公斤
      %tr
        %td TGG-2045B/R
        %td (高)200x(宽)450x(深)400mm
        %td 10mm
        %td 4mm
        %td 33公斤
      %tr
        %td TGG-2740B/R
        %td (高)290x(宽)400x(深)270mm
        %td 10mm
        %td 4mm
        %td 30公斤
      %tr
        %td TGG-3342B/R
        %td (高)350x(宽)420x(深)320mm
        %td 10mm
        %td 4mm
        %td 42公斤
      %tr
        %td TGG-4538B/R
        %td (高)450x(宽)380x(深)320mm
        %td 10mm
        %td 4mm
        %td 48公斤
      %tr
        %td TGG-4938B/R
        %td (高)490x(宽)380x(深)360mm
        %td 10mm
        %td 6mm
        %td 54公斤
      %tr
        %td TGG-5840B/R
        %td (高)580x(宽)400x(深)360mm
        %td 10mm
        %td 6mm
        %td 62公斤
      %tr.highlight
        %td TGG-6442B/R
        %td (高)640x(宽)420x(深)400mm
        %td 10mm
        %td 6mm
        %td 72公斤
      %tr
        %td TGG-7645B/R
        %td (高)765x(宽)450x(深)400mm
        %td 10mm
        %td 6mm
        %td 89公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
