---
layout: product_article
permalink: /products/zf-5842.html

type: 指点江山
name: ZF-5842Ⅱ
title: 保险柜全能指点江山ZF-5842
keywords: 保险柜
description: 指点江山ZF-5842

images:
- zf-5842.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-5842_text_01.png", title: "", alt: "" }
    .image{ style: "top: 20px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-5842_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 19px; top: 54px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-5842_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_02.jpg", title: "", alt: "" }
  .cc-r2l.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_04.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_05.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_text_07.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/zf-4542_06.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td ZF-3342Ⅱ
        %td (高)330x(宽)420x(深)330mm
        %td 10mm
        %td 4-6mm
        %td 39公斤
    %tbody.table-body
      %tr
        %td ZF-4542Ⅱ
        %td (高)450x(宽)420x(深)350mm
        %td 10mm
        %td 4-6mm
        %td 51公斤
    %tbody.table-body
      %tr.highlight
        %td ZF-5842Ⅱ
        %td (高)580x(宽)424x(深)360mm
        %td 10mm
        %td 6mm
        %td 79公斤
    %tbody.table-body
      %tr
        %td ZF-6845Ⅱ
        %td (高)745x(宽)454x(深)370mm
        %td 10mm
        %td 6mm
        %td 101公斤
    %tbody.table-body
      %tr
        %td ZF-7850Ⅱ
        %td (高)845x(宽)500x(深)400mm
        %td 10mm
        %td 6mm
        %td 126公斤
    %tbody.table-body
      %tr
        %td ZF-8550Ⅱ
        %td (高)915x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 142公斤
    %tbody.table-body
      %tr
        %td ZF-9555Ⅱ
        %td (高)1015x(宽)550x(深)450mm
        %td 10mm
        %td 6mm
        %td 163公斤
    %tbody.table-body
      %tr
        %td ZF-11060Ⅱ
        %td (高)1165x(宽)600x(深)500mm
        %td 10mm
        %td 6mm
        %td 210公斤
    %tbody.table-body
      %tr
        %td ZF-15070Ⅱ
        %td (高)1565x(宽)700x(深)600mm
        %td 10mm
        %td 6mm
        %td 326公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
