---
layout: product_article
permalink: /products/kl-4045.html

type: 可拉珍藏
name: KL-4045
title: 保险柜十大品牌全能可拉珍藏KL-4045
keywords: 保险柜十大品牌
description: 家用保险柜可拉珍藏KL-4045保险柜以传统民俗风情艺术元素为基本，完美融合时尚现代家居设计理念，由里及外焕发超然气质。

images:
- kl-4045.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_01.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_01.jpg" }
    .hover.hidden{ style: "right: 41px; top: 40px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_02.png" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_03.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_02.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_04.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_03.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_05.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_04.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_06.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_05.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_07.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_06.jpg" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重  
    %tbody.table-body
      %tr.highlight
        %td KL-4045
        %td (高)400x(宽)450x(深)380mm
        %td 10mm
        %td 4mm
        %td 53公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
