---
layout: product_article
permalink: /fg-3542br.html

type: 钢将军
name: FG-3542B/R
title: 保险箱全能钢将军FG-3542B/R
keywords: 保险箱
description: 家用保险箱系列刚将军FG-3542B/R保险柜高350mm，宽420mm，深320mm，智能化监控和双重型锁控系统，大家风范，完美搭配。

images:
- fg-3542br.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-3542b_text_01.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-3542b_01.jpg" }
    .hover.hidden{ style: "right: 26px; top: 86px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-3542b_text_02.png" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_text_03.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_02.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_text_04.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_03.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_text_05.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_04.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_text_06.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-2940b_05.jpg" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td FG-2940B/R
        %td (高)290x(宽)400x(深)270mm
        %td 10mm
        %td 6mm
        %td 30公斤
      %tr.highlight
        %td FG-3542B/R
        %td (高)350x(宽)420x(深)320mm
        %td 10mm
        %td 6mm
        %td 42公斤
      %tr
        %td FG-5840B/R
        %td (高)580x(宽)400x(深)360mm
        %td 10mm
        %td 6mm
        %td 61公斤
      %tr
        %td FG-6842B/R
        %td (高)680x(宽)420x(深)400mm
        %td 10mm
        %td 6mm
        %td 77公斤
      %tr
        %td FG-8045B/R
        %td (高)800x(宽)450x(深)400mm
        %td 10mm
        %td 6mm
        %td 91公斤
      %tr
        %td FG-9150B/R
        %td (高)910x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 116公斤
      %tr
        %td FG-9150D
        %td (高)910x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 124公斤
      %tr
        %td FG-100B/R
        %td (高)1080x(宽)550x(深)450mm
        %td 10mm
        %td 6mm
        %td 150公斤
      %tr
        %td FG-11860B/R
        %td (高)1180x(宽)600x(深)500mm
        %td 10mm
        %td 6mm
        %td 181公斤
      %tr
        %td FG-15870B/R
        %td (高)1580x(宽)700x(深)600mm
        %td 10mm
        %td 6mm
        %td 277公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
