---
layout: product_article
permalink: /products/b-7348.html

type: 全能金库
name: B-7348
title: 家用保险柜全能金库B-7348
keywords: 家用保险柜
description: 全能保险柜家用系列全能金库B-7348保险柜防火防盗技术，精选优质防火板材，门框贴3mm进口防火条，具有高效的隔热性能，净重145公斤。

images:
- b-7348.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-7348_text_01.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-7348_01.jpg" }
    .hover.hidden{ style: "right: -17px; top: 22px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-7348_text_02.png" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_text_03.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_02.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_text_04.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_03.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-7348_text_03.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-7348_02.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_text_06.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_05.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_text_07.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/b-5540_06.jpg" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td B-4538
        %td (高)450x(宽)380x(深)360mm
        %td 12mm
        %td 8mm
        %td 82公斤
      %tr
        %td B-5440
        %td (高)540x(宽)400x(深)380mm
        %td 12mm
        %td 8mm
        %td 100公斤
      %tr.highlight
        %td B-7348
        %td (高)730x(宽)480x(深)400mm
        %td 12mm
        %td 8mm
        %td 145公斤
      %tr
        %td B-9858
        %td (高)980x(宽)580x(深)480mm
        %td 12mm
        %td 8mm
        %td 207公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
          
