---
layout: product_article
permalink: /gtx-15870.html

type: 钢铁侠
name: GTX-15870
title: 保险柜全能钢铁侠GTX-15870
keywords: 保险柜
description: 家用保险柜全能钢铁侠系列GTX-15870内设LED照明灯、精美内饰结合活动层板，灵活重组箱内空间，全方位、多角度传递人性化的实用贴心。


images:
- gtx-15870.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-15870_text_01.png", title: "", alt: "" }
    .image{ style: "top: 10px" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-15870_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: -34px; top: -6px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-15870_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-9050_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-9050_02.jpg", title: "", alt: "" }
  .cc-l2r.top_divider.height_600
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-15870_02.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td GTX-3345
        %td (高)330x(宽)420x(深)330mm
        %td 10mm
        %td 4mm
        %td 36公斤
      %tr
        %td GTX-4542
        %td (高)450x(宽)420x(深)360mm
        %td 10mm
        %td 4mm
        %td 50公斤
      %tr
        %td GTX-5842
        %td (高)580x(宽)420x(深)360mm
        %td 10mm
        %td 6mm
        %td 76公斤
      %tr
        %td GTX-6845
        %td (高)745x(宽)450x(深)400mm
        %td 10mm
        %td 6mm
        %td 104公斤
      %tr
        %td GTX-9050
        %td (高)965x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 145公斤
      %tr
        %td GTX-11860
        %td (高)1165x(宽)600x(深)500mm
        %td 10mm
        %td 6mm
        %td 210公斤
      %tr.highlight
        %td GTX-15870
        %td (高)1565x(宽)700x(深)600mm
        %td 10mm
        %td 6mm
        %td 325公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
