---
layout: product_article
permalink: /glf-5842.html

type: 高尔夫
name: GLF-5842
title: 保险箱全能高尔夫GLF-5842
keywords: 保险箱
description: 全能保险柜家用系列高尔夫GLF-5842保险柜双重型锁控系统结合智能锁控系统与高精密度机械锁于一体，双重防护，用户自由设置密码。


images:
- glf-5842.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-5842_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-5842_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 55px; top: 66px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-5842_text_02.png", title: "", alt: "" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_04.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-5842_02.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td GLF-3340
        %td 
        %td 
        %td 
        %td 
      %tr
        %td GLF-4540
        %td 
        %td 
        %td 
        %td 
      %tr.highlight
        %td GLF-5842
        %td 
        %td 
        %td 
        %td 
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
