---
layout: product_article
permalink: /products/gtx-6845.html

type: 钢铁侠
name: GTX-6845
title: 保险柜全能钢铁侠GTX-6845
keywords: 保险柜
description: 全能保险柜家用系列钢铁侠GTX-6845保险柜创新一体化不锈钢电子面板、带时间日期多功能液晶显示屏，结合智能锁控系统与高精密度机械锁于一体。

images:
- gtx-6845.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-6845_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-6845_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: -52px; top: 30px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-6845_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-3345_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/gtx-5842_02.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td GTX-3345
        %td (高)330x(宽)420x(深)330mm
        %td 10mm
        %td 4mm
        %td 36公斤
      %tr
        %td GTX-4542
        %td (高)450x(宽)420x(深)360mm
        %td 10mm
        %td 4mm
        %td 50公斤
      %tr
        %td GTX-5842
        %td (高)580x(宽)420x(深)360mm
        %td 10mm
        %td 6mm
        %td 76公斤
      %tr.highlight
        %td GTX-6845
        %td (高)745x(宽)450x(深)400mm
        %td 10mm
        %td 6mm
        %td 104公斤
      %tr
        %td GTX-9050
        %td (高)965x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 145公斤
      %tr
        %td GTX-11860
        %td (高)1165x(宽)600x(深)500mm
        %td 10mm
        %td 6mm
        %td 210公斤
      %tr
        %td GTX-15870
        %td (高)1565x(宽)700x(深)600mm
        %td 10mm
        %td 6mm
        %td 325公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
