---
layout: product_article
permalink: /glf-3340.html

type: 高尔夫
name: GLF-3340
title: 保险箱全能高尔夫GLF-3340
keywords: 保险箱
description: 全能保险柜家用系列高尔夫GLF-3340保险柜灵动圆弧工艺，源于儒雅时尚设计，配合灵动现代工艺技术，点缀花纹水印，出众外观，混然天成。

images:
- glf-3340.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 59px; top: 43px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_02.png", title: "", alt: "" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_04.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/glf-3340_05.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td GLF-3340
        %td 
        %td 
        %td 
        %td 
      %tr
        %td GLF-4540
        %td 
        %td 
        %td 
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
