---
layout: product_article
permalink: /products/bw-6960.html

type: 风生水起
name: BW-6960
title: 家用保险箱全能风生水起BW-6960
keywords: 家用保险柜
description: 全能保险柜十大品牌家用系列风生水起BW-6960保险柜采用世界顶级的电子智能锁控系统，进口微电脑芯片，结合高精密度机械锁机构，多重安全防护。


images:
- bw-6960.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 28px; top: 25px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_04.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_05.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_07.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_06.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_08.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_07.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td BW-6960
        %td (高)690x(宽)600x(深)480mm
        %td 12mm
        %td 8mm
        %td 195公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
