---
layout: product_article
permalink: /products/sjb-53br.html

type: 铁管家
name: SJB-53ⅢB/R
title: 家用保险箱全能铁管家SJB-53B/R
keywords: 家用保险柜
description: 家用保险箱系列铁管家SJB-53ⅢB/R保险柜高450mm，宽340mm，深320mm，结合智能锁控系统与高精密度机械锁于一体。


images:
- sjb-53br.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-53br_text_01.png", title: "", alt: "" }
    .image{ style: "top: 20px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-53br_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: -34px; top: -3px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-53br_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider.height_600
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_04.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr.highlight
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td SJB-1630B/R
        %td (高)168x(宽)300x(深)230mm
        %td 5mm
        %td 2mm
        %td 7.3公斤
      %tr
        %td SJB-2043B/R
        %td (高)195x(宽)430x(深)370mm
        %td 5mm	
        %td 2mm
        %td 13公斤
      %tr
        %td SJB-3236B/R
        %td (高)320x(宽)360x(深)200mm
        %td 10mm	
        %td 4-6mm
        %td 27公斤
      %tr
        %td SJB-40HⅢB/R
        %td (高)380x(宽)300x(深)200mm
        %td 8mm	
        %td 4-6mm
        %td 23.4公斤
      %tr
        %td SJB-40ⅢB/R
        %td (高)200x(宽)360x(深)300mm
        %td 8mm	
        %td 4-6mm
        %td 18.1公斤
      %tr
        %td SJB-43ⅢB/R
        %td (高)270x(宽)350x(深)250mm
        %td 10mm	
        %td 4-6mm
        %td 25.1公斤
      %tr
        %td SJB-48ⅢB/R
        %td (高)290x(宽)400x(深)270mm
        %td 10mm
        %td 4-6mm
        %td 29.8公斤
      %tr
        %td SJB-52ⅢB/R
        %td (高)350x(宽)420x(深)320mm
        %td 10mm
        %td 4-6mm
        %td 38.5公斤
      %tr.highlight
        %td SJB-53ⅢB/R
        %td (高)450x(宽)340x(深)320mm
        %td 10mm	
        %td 4-6mm
        %td 40.7公斤
      %tr
        %td SJB-58ⅢB/R
        %td (高)490x(宽)360x(深)360mm
        %td 10mm
        %td 4-6mm
        %td 49.3公斤
      %tr
        %td SJB-72ⅢB/R
        %td (高)640x(宽)420x(深)400mm
        %td 10mm	
        %td 6mm
        %td 68.9公斤
      %tr
        %td SJB-88ⅢB/R
        %td (高)765x(宽)450x(深)400mm
        %td 10mm	
        %td 6mm
        %td 85.3公斤
      %tr
        %td SJB-88ⅢDB/R
        %td (高)765x(宽)450x(深)400mm
        %td 10mm	
        %td 6mm
        %td 89.6公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
