---
layout: product_article
permalink: /products/ai-6842.html

type: 欧若拉
name: AI-6842
title: 保险柜十大品牌全能欧若拉AI-6842
keywords: 保险柜十大品牌
description: 家用保险柜欧若拉AI-6842保险柜以传统民俗风情艺术元素为基本，完美融合时尚现代家居设计理念，由里及外焕发超然气质。

images:
- ai-6842.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_text_01.png", alt: "保险柜AI-6842" }
      %br
      %a{ href: "http://item.jd.com/1031826884.html", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/jd-buy.jpg", alt: "保险柜AI-6842" }
      %a{ href: "http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5298231122.17.EGRUL0&id=19722322959&rn=348a2b3eb8611abb50b304b7a442af5f", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/tmall-buy.jpg", alt: "保险柜AI-6842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_01.png", alt: "保险柜AI-6842" }
    .hover.hidden{ style: "right: 72px; top: 47px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_text_02.png", alt: "保险柜AI-6842" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_text_03.png", alt: "保险柜AI-6842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_02.png", alt: "保险柜AI-6842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_text_04.png", alt: "保险柜AI-6842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_03.png", alt: "保险柜AI-6842" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_text_05.png", alt: "保险柜AI-6842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_04.png", alt: "保险柜AI-6842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_text_06.png", alt: "保险柜AI-6842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-6842_05.png", alt: "保险柜AI-6842" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重  
    %tbody.table-body
      %tr.highlight
        %td AI-6842
        %td （高）755×（宽）420×（深）400mm
        %td 3mm
        %td 13mm
        %td 57公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
