---
layout: product_article
permalink: /products/sp-5842.html

type: 尚品
name: SP-5842
title: 保险柜十大品牌全能尚品SP-5842
keywords: 保险柜十大品牌
description: 家用保险柜尚品SP-5842保险柜以传统民俗风情艺术元素为基本，完美融合时尚现代家居设计理念，由里及外焕发超然气质。

images:
- sp-5842.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_text_01.png", alt: "保险柜SP-5842" }
      %br
      %a{ href: "http://item.jd.com/1104930104.html", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/jd-buy.jpg", alt: "保险柜SP-5842" }
      %a{ href: "http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5298231122.18.9dC4ij&id=35899891273&rn=365230f2bc280a0ea81cfb143c860dbe", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/tmall-buy.jpg", alt: "保险柜SP-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_01.png", alt: "保险柜SP-5842" }
    .hover.hidden{ style: "right: -10px; top: 50px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_text_02.png", alt: "保险柜SP-5842" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_text_03.png", alt: "保险柜SP-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_02.png", alt: "保险柜SP-5842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_text_04.png", alt: "保险柜SP-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_03.png", alt: "保险柜SP-5842" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_text_05.png", alt: "保险柜SP-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_04.png", alt: "保险柜SP-5842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_text_06.png", alt: "保险柜SP-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_05.png", alt: "保险柜SP-5842" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_text_07.png", alt: "保险柜SP-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sp-5842_06.png", alt: "保险柜SP-5842" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重  
    %tbody.table-body
      %tr.highlight
        %td SP-5842
        %td （高）660×（宽）420×（深）360mm
        %td 2mm
        %td 13mm
        %td 38公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
