---
layout: product_article
permalink: /ai-5842.html

type: 欧若拉
name: AI-5842
title: 保险柜十大品牌全能欧若拉AI-5842
keywords: 保险柜十大品牌
description: 家用保险柜欧若拉AI-5842保险柜以传统民俗风情艺术元素为基本，完美融合时尚现代家居设计理念，由里及外焕发超然气质。

images:
- ai-5842.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai_5842_text_01.png", alt: "保险柜AI-5842" }
      %br
      %a{ href: "http://item.jd.com/1166027052.html", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/jd-buy.jpg", alt: "保险柜AI-5842" }
      %a{ href: "http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5298231122.18.uBnawg&id=39234687952&rn=f747af427cecd94adcd7c98d26db9cae", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/tmall-buy.jpg", alt: "保险柜AI-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-5842_01.png", alt: "保险柜AI-5842" }
    .hover.hidden{ style: "right: -46px; top: 50px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai_5842_text_02.png", alt: "保险柜AI-5842" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai_5842_text_03.png", alt: "保险柜AI-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-5842_02.png", alt: "保险柜AI-5842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai_5842_text_04.png", alt: "保险柜AI-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-5842_03.png", alt: "保险柜AI-5842" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai_5842_text_05.png", alt: "保险柜AI-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-5842_04.png", alt: "保险柜AI-5842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai_5842_text_06.png", alt: "保险柜AI-5842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ai-5842_05.png", alt: "保险柜AI-5842" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重  
    %tbody.table-body
      %tr.highlight
        %td AI-5842
        %td （高）660×（宽）420×（深）360mm
        %td 2mm
        %td 13mm
        %td 17.5公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
