---
layout: product_article
permalink: /kb-3842.html

type: 酷宝
name: KB-3842
title: 保险柜十大品牌全能酷宝KB-3842
keywords: 保险柜十大品牌
description: 家用保险柜酷宝KB-3842保险柜以传统民俗风情艺术元素为基本，完美融合时尚现代家居设计理念，由里及外焕发超然气质。

images:
- kb-3842.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_text_01.png", alt: "保险柜KB-3842" }
      %br
      %a{ href: "http://item.jd.com/1014340368.html", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/jd-buy.jpg", alt: "保险柜KB-3842" }
      %a{ href: "http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5298231122.21.khiWrZ&id=21757984433&rn=5f434ec05317abd6920e2bb755d12670", target: "_blank" }
        %img{ src: "http://www.qnnsafe.com/assets/images/tmall-buy.jpg", alt: "保险柜KB-3842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_01.png", alt: "保险柜KB-3842" }
    .hover.hidden{ style: "right: 73px; top: 50px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_text_02.png", alt: "保险柜KB-3842" }
  .cc-l2r.height_300.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_text_03.png", alt: "保险柜KB-3842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_02.png", alt: "保险柜KB-3842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_text_04.png", alt: "保险柜KB-3842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_03.png", alt: "保险柜KB-3842" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_text_05.png", alt: "保险柜KB-3842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_04.png", alt: "保险柜KB-3842" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_text_06.png", alt: "保险柜KB-3842" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/kb-3842_05.png", alt: "保险柜KB-3842" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重  
    %tbody.table-body
      %tr.highlight
        %td KB-3842
        %td （高）360×（宽）400×（深）320mm
        %td 3mm
        %td 13mm
        %td 29公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
