---
layout: news_article
type: 品牌活动
type_eng: brand-activities

title: 全能酒店客房保险柜
keywords: 保险柜
description: 宾客常带有现金、珠宝、饰物、高价值的数字电器等贵重装置，容易成为犯罪目标，如果一旦被偷或丢失，就会造成酒店宾客丢失财富和数据等巨大的损失。
---
%p 当客人商务旅行或旅游时，面对酒店新环境更需要安全轻松的感觉，宾客因为常带有现金、珠宝、饰物、高价值的数字电器等贵重装置，如：便携电脑、摄像机等，容易成为犯罪目标，如果一旦被偷或丢失，就会造成酒店宾客丢失财富和数据等巨大的损失。
%p<
  再者，大部分酒店宾客希望个人隐私得到尊重，不想麻烦酒店服务员、前台保管，这就是全能
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  既安全又方便的原因，全能电子客房保险柜有利于提升酒店客房的安全防护水平，让宾客倍感轻松自由！也保障了酒店的利益和声誉。
%p 酒店保险柜可查询开门记录和作为电子钥匙使用。外形美观，液晶显示，有菜单提示，操作简单，是酒店保险柜管理的好帮手。自带嵌入式操作系统，稳定，高效。使用4粒1.5V，7号干电池供电，携带方便，功耗低，睡眠电流只有10微安。
%p 键盘由10个数字键和*，#组成。数字键可选择菜单和输入数字；*键用作退出；#键用作确认。系统在20秒没有输入信号就自动进入睡眠模式，按任意键可唤醒系统。系统换醒后就进入主菜单显示。
%p 查询记录后，把CEU接到打印配件上,在主菜单状态下，按6键进行打印。
