---
layout: news_article
type: 品牌活动
type_eng: brand-activities

title: 全能保险柜：天籁童声点亮你我他
keywords: 保险柜
description: 全能保险柜：天籁童声点亮你我他
---
%p 《中国好声音》与《我是歌手》两档王牌音乐节目，让“好声音”这个关键词，一直被人们所关注。“好声音”，不只悦耳，还会直达人性，和灵魂共鸣，是一种神奇的艺术。可是，在众多好声音中，为什么没有听到清澈的童音呢？美好的童音又在哪里？
%p 近日，“防盗宝典”携手全能保险柜征集最萌童声，为小朋友们量身打造的全新亲子课外平台欢乐起航！
%p 你想让更多人听到孩子的美丽声音吗？即日起，通过微信联系“防盗宝典”，并附上孩子的个人信息及表演声音视频，就可以参加“最萌童声”海选哦！     
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id020501.jpg"}/ 
%p “最萌童声”
%p 将是最好的六月礼物
%p 本次活动由“保险柜十大品牌——全能保险柜”主办，“防盗宝典”支持举办，旨在为孩子们提供一个快乐交流和自信展示的亲子课外平台，秀出他们最纯真、活泼、可爱的一面，也带给他们快乐和成长。
%p “此外，我们也想通过活动，为孩子们的暑假送一份特别的礼物。我们的计划是，将最萌的童声录制成公益CD、录音带等，通过媒体、网络渠道等为更多的人带来快乐。”该负责人说。
%p “最萌童声”们
%p 和防盗宝典聊个微信吧
%p 你的孩子不太会唱歌？其实，在爸爸妈妈们眼里，孩子的每一次笑声，就是世界上最美的童声。所以，别在乎声音的形式，无论是甜美悠扬的歌声，深情款款的朗诵，还是他们的牙牙学语、奶声奶气……好听的声音，一定会发光！
%p 让“最萌童声”点亮整个六月吧！
%p 2014年6月1开始，『防盗宝典』携手保险柜十大品牌——全能保险柜大奖征集最萌童声拉开帷幕。
%p 这是一场小朋友的表演盛会，在这里，他们可以高歌；在这里，他们可以跳舞；在这里，他们可以自由表现……给孩子们留下一个幼嫩的童声回忆。即日起，拿起您的手机，给您的小孩录制一段说出“全能就是保险柜，保险柜就要全能”的影像，并发送到 全能保险柜 或 防盗宝典 公众微信平台，参与最萌童音评选，优胜者即可获得1000元大奖！
%p ◆获奖小朋友的影像将在全能保险柜天猫旗舰店播放，成为万众瞩目的明星！
%p ◆评选活动将在全能天猫旗舰店展开，敬请关注！
%p 全能保险柜在这里欢迎怀有表演才艺的小朋友的到来。相信下一个拥有天籁嗓音、具有音乐天才、明日之星潜质的人就是你！
%p 参与方式
%p 1、关注官方微信：
%p 全能保险柜（微信号：qnnsafes）
%p 防盗宝典（微信号：fangdaobaodian）
%p 2、使用智能手机视频拍摄功能，拍下30秒以内，80兆大小以下的小孩卖萌童音影像。
%p<
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id020502.jpg"}/ 
