---
layout: default
body_style: page
belongs_to: about
permalink: /history/
title: 公司历史
keywords: 全能保险柜
description: 1935年安能母公司广东顺德糖厂建立，至1999年安能公司正式成立，发展至今，广东安能保险柜公司一直率先创新研发各类新型的保险柜，保险箱等。
---
.banner.banner-desert
  .banner-text.banner-text-desert
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/about/" } 认识全能
      %li.active<
        %a{ href: "/history/" } 公司历史
      %li<
        %a{ href: "/tao/" } 全能之道
      %li<
        %a{ href: "/honors/" } 全能荣誉
      %li<
        %a{ href: "/360-panoramas/" } 企业360°实景
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    #history
      %p 1935年：公司的控股工业集团成立，引进西方先进工业制造技术；
      %p 1939年：集团成立顺德机械厂，早期生产保险柜产品供应华南工商业、海关、洋行；
      %p 1995年：公司恢复保险柜产品生产，命名为“全能”品牌；
      %p 1999年：安能公司正式成立；
      %p 1999年：率先推出适用于公、检、法等单位保管枪支弹药的保险柜；
      %p 2000年：首创推出隐形锁电子密码保险柜；
      %p 2000年：率先推出耐火1小时1000度的防火性能保险柜；
      %p 2002年：率先推出应用先进电子技术的电子密码文件保密柜；
      %p 2003年：率先推出应用人体生物特征技术作为开启密码的指纹保险柜；
      %p 2005年：率先批量生产银行ATM柜员机配套的超安全等级的保险柜；
      %p 2006年：率先推出防火防盗于一体的高安全级别的复合类保险柜；
      %p 2008年：首创推出正常操作和预警时可拍照可视频记录的保险柜；
      %p 2008年：率先推出能实现远程监控、实时动态查询的智能化枪弹柜；
      %p 2009年：首创推出人脸识别技术的高安全性保险柜；
      %p 2009年：首创推出3G通讯可视频监控报警保险柜；
      %p 2010年：首创除湿防潮防盗保险柜；
      %p 2011年：首创银行非接触式IC卡电子锁；
      %p 2011年：首创用于网络存储的文件信息加密保护保险柜；
      %p 2011年：率先应用指纹自动扫描技术；
      %p 2012年：率先在国内推出并应用智能物流柜；
  .block.h50px
