---
layout: default
body_style: page
belongs_to: about
permalink: /360-panoramas/
title: 企业360°实景
keywords: 全能保险柜
description: 1935年安能母公司广东顺德糖厂建立，至1999年安能公司正式成立，发展至今，广东安能保险柜公司一直率先创新研发各类新型的保险柜，保险箱等。
---
.banner.banner-pano
  .banner-text.banner-text-pano
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/about/" } 认识全能
      %li<
        %a{ href: "/history/" } 公司历史
      %li<
        %a{ href: "/tao/" } 全能之道
      %li<
        %a{ href: "/honors/" } 全能荣誉
      %li.active<
        %a{ href: "/360-panoramas/" } 企业360°实景
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content
    #360-panoramas
      #pano
  .block.h50px
