---
layout: default
body_style: page
belongs_to: about
permalink: /tao/
title: 全能之道
keywords: 全能保险柜
description: 全能保险柜成为保险柜行业第一品牌，赢利能力最强的企业；创国际品牌，成为全球保险柜市场的主要制造商之一；满足消费者的安全需要，为社会创造价值。
---
.banner.banner-tao
  .banner-text.banner-text-tao
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/about/" } 认识全能
      %li<
        %a{ href: "/history/" } 公司历史
      %li.active<
        %a{ href: "/tao/" } 全能之道
      %li<
        %a{ href: "/honors/" } 全能荣誉
      %li<
        %a{ href: "/360-panoramas/" } 企业360°实景
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    #tao
      %h4 愿景：
      %p 成为国内保险柜行业第一品牌，赢利能力最强的企业；创国际品牌，成为全球保险柜市场的主要制造商之一。在适当时机，介入安防产品的其他领域，打造一个面向全球市场的综合安防产品制造服务商。
      %h4 使命：
      %p 让人们的工作和生活更加安全愉快。满足消费者的安全需要，满足员工改善生活的需要，满足股东投资价值最大化需要，为社会创造价值。
      %h4 理念：
      %p 敬业：作为企业，尊重用户，尊重经销商；作为员工，热爱自己从事的工作和生产的产品。
      %p 勤业：作为企业，不断的创新与改进；作为员工，勤奋工作，投入自己的最大的精力和最多的时间。
      %p 精业：作为企业，成为行业中最专业的制造商；作为员工，成为其本职工作的专家。
      %p 竞业：作为企业，在与同行的竞争中积极进取并成为领先企业；作为员工，在企业团队中成为最优秀的员工。
      %h4 战略：
      %p 创新第一：以技术、产品的创新为企业核心竞争力，精益、精巧、个性化的设计，创造出符合用户情感和功能期望的产品，能体现用户生活品味的产品。
      %p 品牌至上：品牌是我们最根深蒂固，不可动摇的东西，我们有足够的信心和耐心去设计最适合消费者使用的产品和最受消费者喜好的品牌！
      %p 品质为本：品质是价值与尊严的起点，是企业赖以生存的命脉。企业经营必须在提高产品质量和服务水平上下功夫。企业不仅产品质量要优异，达到用户的需求，还必须以优异的服务来满足用户的需求；在产品质量上，不仅要在功能和性能上符合标准，还要不断满足用户对功能和性能标准以外的新要求；不仅要满足用户物质上的要求，而且要创造具有魅力质量，使用户获得精神上的享受。
      %p 效率领先：效率领先：第一时间响应客户需求；以最短时间、合理的成本满足客户的需求。
      %h4 企业价值观：
      %p 我们相信，只有符合顾客、员工、股东、供应商以及社会的相关价值理念时,我们的目标、愿景和使命才能实现。
      %h4 对消费者，我们做到：
      %p 一切以消费者为中心，及时满足消费者对创新产品的渴望，提供及时快速的服务；
      %p 质量为本，对质量持续不断改进，获得消费者的忠诚；
      %p 通过品牌建设，从情感上和精神上满足消费者的需要。
      %h4 对客户，我们做到：
      %p 正直诚信，提供创新、及时、可靠、礼貌和专业的服务；
      %p 与客户建立平等合作的伙伴关系以保证双方的利益；
      %p 在新的、有效的市场营销活动中提供高质量的产品和服务。
      %h4 对员工，我们做到：
      %p 认可员工的工作业绩，满足员工改善生活的需求；
      %p 所有的员工都相互信任和尊重；
      %p 文化和思想的多元化，员工的观点和想法被尊重和关注；
      %p 发扬团队精神和对公司忠诚，培养员工积极向上的态度；
      %p 为员工提供持续的改进、创新和挑战现状的工作环境和机制；
      %p 培养员工在任何时候都以努力满足客户为荣的心态。
      %h4 对股东，我们做到：
      %p 长期的赢利和增长；
      %p 为股东提供最优的经济价值；
      %p 令人满意的资产回报率；
      %p 在充分的风险评估后做出合理的决策。
      %h3 对供应商，我们做到：
      %p 相互信任和尊重，发展互利合作关系；
      %p 协助提供创新和技术进步，达到共同价值的最大化；
      %p 最好的质量，价格，服务。
      %h4 对社会，我们做到：
      %p 安全，节能，环保；
      %p 参与社区公益活动；
      %p 承担企业社会责任。
  .block.h50px
