---
layout: default
body_style: page
belongs_to: about
permalink: /honors/
title: 全能荣誉
keywords: 全能保险柜
description: “以服务赢得信誉，以质量赢取口碑”，全能凭借优质保险柜产品，先后成为了2008年北京奥运会、2010年上海世博会等国际大型盛事的供应商。
---
.banner.banner-honors
  .banner-text.banner-text-honors
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/about/" } 认识全能
      %li<
        %a{ href: "/history/" } 公司历史
      %li<
        %a{ href: "/tao/" } 全能之道
      %li.active<
        %a{ href: "/honors/" } 全能荣誉
      %li<
        %a{ href: "/360-panoramas/" } 企业360°实景
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages
    %ul#honors
      %li
        %img{ src: "/assets/images/certs/cert-11.jpg" }
        %strong 广东著名商标
      %li
        %img{ src: "/assets/images/certs/cert-02.jpg" }
        %strong 国家高新技术企业
      %li
        %img{ src: "/assets/images/certs/cert-03.jpg" }
        %strong 中国保险柜十大品牌
      %li
        %img{ src: "/assets/images/certs/cert-06.jpg" }
        %strong ISO9001国际质量体系认证
      %li
        %img{ src: "/assets/images/certs/cert-01.jpg" }
        %strong 中国安防协会理事单位
      %li
        %img{ src: "/assets/images/certs/cert-08.jpg" }
        %strong 国家强制性产品3C认证
      %li
        %img{ src: "/assets/images/certs/cert-05.jpg" }
        %strong 中国家具最受消费者欢迎品牌
      %li
        %img{ src: "/assets/images/certs/cert-04.jpg" }
        %strong 中国酒店用品品牌价值奖
      %li
        %img{ src: "/assets/images/certs/cert-09.jpg" }
        %strong 中国酒店用品品牌价值奖
      %li
        %img{ src: "/assets/images/certs/cert-07.jpg" }
        %strong 中国饭店与餐饮业优秀供应商
      %li
        %img{ src: "/assets/images/certs/cert-10.jpg" }
        %strong 2011年中国酒店行业最受欢迎保险箱供应商
    .clear
    .content.center_content
      %p 其他：
      %p 联合国机构指定供应商
      %p 2008北京奥运会使用产品
      %p 2009山东全运会中标产品
      %p 2010广州亚运会产品供应商
      %p 2010上海世博会产品供应商
  .block.h50px
