---
layout: default
body_style: page
belongs_to: cases
permalink: /cases/
title: 工程案例
keywords: 保险柜
description: 安能保险柜公司成立伊始，就开始了与全球各大安防厂商的合作，积极向用户推广先进的各类安防设备，并提供咨询、安装、培训、维护等技术服务。

---
%article
  .block.h50px
  .page_nav
    %ul#filters
      %li.active<
        %a{ href: "#", data: { filter: "*" } } 全部案例
      %li<
        %a{ href: "#", data: { filter: ".gold" } } 金库门工程
      %li<
        %a{ href: "#", data: { filter: ".hotel" } } 酒店工程
      %li<
        %a{ href: "#", data: { filter: ".gun" } } 枪弹工程
      %li<
        %a{ href: "#", data: { filter: ".dist" } } 物流工程
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .center_content
    #case_container
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/cases/jinkumen01.jpg", title: "金库" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jinkumen01s.jpg", width: 120 }
          .case_title 金库
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/cases/jinkumen02.jpg", title: "金库门系列" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jinkumen02s.jpg", width: 120 }
          .case_title 金库门系列
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/cases/jinkumen03.jpg", title: "生产一角" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jinkumen03s.jpg", width: 120 }
          .case_title 生产一角
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/cases/jinkumen04.jpg", title: "实例" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jinkumen04s.jpg", width: 120 }
          .case_title 实例
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/cases/jinkumen05.jpg", title: "移动金库" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jinkumen05s.jpg", width: 120 }
          .case_title 移动金库

      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian01.jpg", title: "安阳华强建国酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian01s.jpg", width: 120 }
          .case_title 安阳华强建国酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian02.jpg", title: "安阳华强建国酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian02s.jpg", width: 120 }
          .case_title 安阳华强建国酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian03.jpg", title: "安阳华强建国酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian03s.jpg", width: 120 }
          .case_title 安阳华强建国酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian04.jpg", title: "北京益田影人花园酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian04s.jpg", width: 120 }
          .case_title 北京益田影人花园酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian05.jpg", title: "北京益田影人花园酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian05s.jpg", width: 120 }
          .case_title 北京益田影人花园酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian06.jpg", title: "北京中信国安第一城" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian06s.jpg", width: 120 }
          .case_title 北京中信国安第一城
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian07.jpg", title: "北京中信国安第一城" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian07s.jpg", width: 120 }
          .case_title 北京中信国安第一城
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian08.jpg", title: "北京中信国安第一城" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian08s.jpg", width: 120 }
          .case_title 北京中信国安第一城
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian09.jpg", title: "东莞虎门东方索菲特酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian09s.jpg", width: 120 }
          .case_title 东莞虎门东方索菲特酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian10.jpg", title: "东莞虎门东方索菲特酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian10s.jpg", width: 120 }
          .case_title 东莞虎门东方索菲特酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian11.jpg", title: "观澜湖高尔夫球会" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian11s.jpg", width: 120 }
          .case_title 观澜湖高尔夫球会
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian12.jpg", title: "观澜湖高尔夫球会" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian12s.jpg", width: 120 }
          .case_title 观澜湖高尔夫球会
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian13.jpg", title: "杭州华美达酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian13s.jpg", width: 120 }
          .case_title 杭州华美达酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian14.jpg", title: "杭州华美达酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian14s.jpg", width: 120 }
          .case_title 杭州华美达酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian15.jpg", title: "河北太行国宾馆" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian15s.jpg", width: 120 }
          .case_title 河北太行国宾馆
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian16.jpg", title: "河北太行国宾馆" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian16s.jpg", width: 120 }
          .case_title 河北太行国宾馆
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian17.jpg", title: "湖州喜来登温泉度假酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian17s.jpg", width: 120 }
          .case_title 湖州喜来登温泉度假酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian18.jpg", title: "湖州喜来登温泉度假酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian18s.jpg", width: 120 }
          .case_title 湖州喜来登温泉度假酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian19.jpg", title: "三亚半山半岛帆船酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian19s.jpg", width: 120 }
          .case_title 三亚半山半岛帆船酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian20.jpg", title: "浙江武义香格里拉酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian20s.jpg", width: 120 }
          .case_title 浙江武义香格里拉酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian21.jpg", title: "三亚半山半岛帆船酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian21s.jpg", width: 120 }
          .case_title 三亚半山半岛帆船酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian22.jpg", title: "三亚半山半岛帆船酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian22s.jpg", width: 120 }
          .case_title 三亚半山半岛帆船酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian23.jpg", title: "三亚福朋喜来登酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian23s.jpg", width: 120 }
          .case_title 三亚福朋喜来登酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian24.jpg", title: "三亚福朋喜来登酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian24s.jpg", width: 120 }
          .case_title 三亚福朋喜来登酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian25.jpg", title: "深圳观澜格兰云天国际酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian25s.jpg", width: 120 }
          .case_title 深圳观澜格兰云天国际酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian26.jpg", title: "深圳观澜格兰云天国际酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian26s.jpg", width: 120 }
          .case_title 深圳观澜格兰云天国际酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian27.jpg", title: "温德姆和平国际厦门大酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian27s.jpg", width: 120 }
          .case_title 温德姆和平国际厦门大酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian28.jpg", title: "温德姆和平国际厦门大酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian28s.jpg", width: 120 }
          .case_title 温德姆和平国际厦门大酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/cases/jiudian29.jpg", title: "浙江武义香格里拉酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/jiudian29s.jpg", width: 120 }
          .case_title 浙江武义香格里拉酒店

      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/cases/qiangdan01.jpg", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/qiangdan01s.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/cases/qiangdan02.jpg", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/qiangdan02s.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/cases/qiangdan03.jpg", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/qiangdan03s.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/cases/qiangdan04.jpg", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/qiangdan04s.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/cases/qiangdan05.jpg", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/qiangdan05s.jpg", width: 120 }
          .case_title 枪弹工程

      .case_item.dist
        %a{ href: "http://www.qnnsafe.com/images/cases/wuliu01.jpg", title: "物流柜系统框架图" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/wuliu01s.jpg", width: 120 }
          .case_title 物流柜系统框架图
      .case_item.dist
        %a{ href: "http://www.qnnsafe.com/images/cases/wuliu02.jpg", title: "东莞邮政局" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/wuliu02s.jpg", width: 120 }
          .case_title 东莞邮政局
      .case_item.dist
        %a{ href: "http://www.qnnsafe.com/images/cases/wuliu03.jpg", title: "东莞邮政局" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/cases/wuliu03s.jpg", width: 120 }
          .case_title 东莞邮政局

  .block.h50px
