---
layout: default
body_style: page
belongs_to: contact
permalink: /contact/
title: 联系我们
keywords: 保险柜
description: 全能公司致力于保险柜十大品牌创新研发保险柜、保险箱、家用保险柜、家用保险箱等系列产品，如有疑问，可根据以下信息联系我们。
---
.banner.banner-contact
  .banner-text.banner-text-contact
%article
  .page_nav
    %ul
      %li.active<
        %a{ href: "/contact/" } 联系我们
      %li<
        %a{ href: "/maps/" } 网络地图
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  #contact
    .contact_square
      .cs_header
        %h4.csh1 全能保险柜总部
      .cs_shadow
      .cs_content
        %p
          总部地址：广东省佛山市顺德大良街道凤翔工业区德翔路8号
          %br
          总部电话：0757-22308180
          %br
          传真电话：0757-22308266、0757-22308282
    .contact_square
      .cs_header
        %h4.csh2 全能保险柜售后服务
      .cs_shadow
      .cs_content
        %p
          负责产品售后
          %br
          全国免费服务热线：400-830-4555
          %br
          售后服务热线：0757-22308180
    .contact_square
      .cs_header
        %h4.csh3 全能保险柜国内销售部
      .cs_shadow
      .cs_content
        %p
          负责招商加盟和渠道管理
          %br
          联系电话：0757-22308181、0757-22308182
          %br
          E-mail：sales@qnn.com.cn
    .contact_square
      .cs_header
        %h4.csh4 全能保险柜酒店工程
      .cs_shadow
      .cs_content
        %p
          负责工程订做
          %br
          联系电话：0757-22308196、0757-22308186
          %br
          E-mail：78739868@qq.com
    .contact_square
      .cs_header
        %h4.csh5 全能保险柜出口销售部
      .cs_shadow
      .cs_content
        %p
          联系电话：0757-22308233、0757-22308234、0757-22308235
          %br
          E-mail：export@qnn.com.cn, export1@qnn.com.cn
    .contact_square
      .cs_header
        %h4.csh6 全能保险柜电子商务部品牌部
      .cs_shadow
      .cs_content
        %p
          负责电商销售、品牌推广
          %br
          联系电话：0757-22308229/22308296（电商）
          %br
          0757-22308195（品牌）
  .block.h50px
