---
layout: default
body_style: page
belongs_to: brand
permalink: /qnnsafe/
title: 全能故事
keywords: 全能保险柜
description: 安能保险柜旗下保险柜十大品牌全能保险柜致力创新研发各类型保险柜，保险箱，家用保险柜，家用保险箱等，拥有多年制造经验，曾获得多个荣誉。
---
.banner.banner-qnn
  .banner-text.banner-text-qnn
%article
  .page_nav
    %ul
      %li.active<
        %a{ href: "/qnnsafe/" } 全能故事
      %li<
        %a{ href: "/annsafe/" } 艾能故事
      %li<
        %a{ href: "/bdgsafe/" } 斑点狗故事
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    #intro
      %p 全能——保险柜就要全能
      %p 全能理念
      %p 全能就是保险柜，保险柜就要全能！最好的保险柜不仅防盗出色，安如磐石，还能防潮防火防磁，能监控，采用最新安防技术，贴心守护您及您的物品。安全储物，合理收纳，打造您的私人管家，给您的家换上带锁的钢铁抽屉。
      %p 全能风格
      %p 以阳刚之躯，搭配最先进的智能科技，给你最细致最全能的安防体验。
      %p 坚强的品质让您安心，智能的科技让您放心，细致的服务让您贴心。
  .block.h50px
