---
layout: default
body_style: page
belongs_to: support
permalink: /support/clean/
title: 清洁保养
keywords: 保险柜
description: 保险柜在现代家庭中能很好的防盗，而且也能够当做一种家具来装饰家里的环境，为了让家里的保险柜能够更好的生存，对其进行必要的清洁与保养是必须的。
---
.banner.banner-service
  .banner-text.banner-text-service
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/support/" } 服务与支持
      %li<
        %a{ href: "/support/manual/" } 产品说明书
      %li<
        %a{ href: "/knowledge/" } 产品知识
      %li.active<
        %a{ href: "/support/clean/" } 清洁保养
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    #clean
      %p 保险柜是保存贵重物品或机密文件的有可靠的保险装置的柜子,一般是铁质的，可以防盗、防火、防磁、防水及耐腐蚀等。依据不同的密码工作原理，保险柜又可分为机械保险和电子保险两种，前者的特点是价格比较便宜，性能比较可靠。而早期的保险柜大部分都是机械保险柜。电子保险柜则是将电子密码、IC卡等智能控制方式的电子锁应用到保险柜中，其特点是使用方便，可经常更换密码。而对于保险柜，在日常生活中我们又该如何清洁与保养呢?
      %img.center{ height: 538, src: "{{ site.www.qnnsafe.com }}/assets/images/montage.jpg", width: 500 }
      %p 1、保险柜的电池一般要使用5号AAA高质量无泄漏碱性电池。在安放电池时要注意电池的正负极性，按电池盒上的正负极性标记放置。如果长期不用保险柜或者保险柜长期有用外接电池时，则应把电池从电池盒中取出。
      %p 2、让保险柜在常温下的室内使用。保险柜在潮湿和有腐蚀性气体的环境中，或者在阳光和紫外线强烈照射下，会使其表面油漆龟裂、变色，塑料件变色、老化，表面生锈、氧化，电子元件性能不稳定，容易引起故障。所以为了更好的保养保险柜，应将保险柜放置在常温的室内，保证它的正常使用。
      %p 3、如果保险柜表面有污渍，不能用化学溶剂擦洗，要用干净抹布沾少许清洁剂擦洗。如果用有腐蚀性的化学溶剂擦洗保险柜的表面，容易使其表面油漆龟裂、变色，使其氧化、生锈，所以平时在清洁保险柜时，应注意用干净抹布沾上少许清洁剂来擦洗，保证它不被腐蚀，平时也应注意不让保险柜沾到有腐蚀性的液体或者将其放置在又腐蚀性气体的环境中。
      %p ① 转动机械密码锁时，需静心顺势缓转，切勿猛力旋转，同时记清方向及次数，如不慎超过标记线，不可倒回，必须重新开始。
      %p ② 设置密码最好保险柜门打开的情况下进行，密码设置完毕后，应输入新密码操作几次，确认无误后，方可将柜门锁上。
      %p ③ 切勿把说明书，应急钥匙锁入保险柜内。
      %p ④ 报警器使用时，对内部的各开关及电子元件，不要随意调动，发现声音变小，表明电池用完，应急时更换。若发生误报可将灵敏度适当调低。
      %p ⑤ 为保证保险柜固定可靠，膨胀螺母中的锥销心须锤击至螺母胀开胀紧。螺母在墙孔中充分坚固。
      %p ⑥ 必须将保险柜紧固于混凝土墙上。
      %p ⑦ 长期有用外接电池时，应将电池从电池盒中取出。
      %p 保险柜在现代家庭中的地位越来越重要。它能够很好的防盗，而且也能够当做一种家具来装饰家里的环境。而为了让家里的保险柜能够更好的生存，对其进行必要的清洁与保养也是必须的。
  .block.h50px
