---
layout: default
body_style: page
belongs_to: support
permalink: /support/manual/
title: 产品说明书
keywords: 家用保险箱
description: 安能公司为您提供完整保险柜十大品牌的保险柜、保险箱、家用保险柜、家用保险箱等系列产品的使用说明，如有疑问，欢迎拨打全国服务热线咨询。
---
.banner.banner-service
  .banner-text.banner-text-service
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/support/" } 服务与支持
      %li.active<
        %a{ href: "/support/manual/" } 产品说明书
      %li<
        %a{ href: "/knowledge/" } 产品知识
      %li<
        %a{ href: "/support/clean/" } 清洁保养
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    %table#manuals.table
      %thead.table-head
        %tr
          %th 产品系列
          %th 适用产品型号
          %th 下载
      %tbody.table-body
        %tr
          %td 新皇冠
          %td HG-2740、HG-3342、HG-4538
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/hg-sm.zip", target: "_blank" } 下载
        %tr
          %td 蓝精灵
          %td BGX-D-40JL、BGX-D-47JL、BGX-D-52JL、BGX-D-63JL、BGX-D-73JL、BGX-D-80JL、BGX-D-S80JL、BGX-D-100JL
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/bgx-sm.zip", target: "_blank" } 下载
        %tr
          %td 可拉柜
          %td KL-4045、DM-185640
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/kl-sm.zip", target: "_blank" } 下载
        %tr
          %td 高尔夫
          %td GLF-3340、GLF-4540、GLF-5842、GLF-7042、GLF-7550
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/glf-sm.zip", target: "_blank" } 下载
        %tr
          %td 钢铁侠
          %td GTX-3345、GTX-4542、GTX-5842、GTX-6845
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/gtx-sm.zip", target: "_blank" } 下载
        %tr
          %td 铁金刚
          %td TGG-2040R、TGG-2045R、TGG-2740R、TGG-3342R、TGG-4538R、TGG-4938R
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/tgg-sm.zip", target: "_blank" } 下载
        %tr
          %td 铁管家
          %td SJB-40ⅢR、SJB-40HⅢR、SJB-43ⅢR、SJB-48ⅢR、SJB-52ⅢR、SJB-53ⅢR、SJB-58ⅢR、SJB-1630R、SJB-2243R、SJB-3236R
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/sjb-sm.zip", target: "_blank" } 下载
        %tr
          %td 钢将军
          %td FG-2940R、FG-3542R
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/fg-sm.zip", target: "_blank" } 下载
        %tr
          %td 金刚锁
          %td BW-6960、B-4538、B-5440、B-7348、CW7348
          %td.nowrap
            %a{ href: "http://download.qnnsafe.com/jgs-sm.zip", target: "_blank" } 下载
        %tr
          %td 大屏液晶
          %td JD-3340、JD-4538、JD-5842、JD-7645D、AI-2543、AI-3340、AI-4538、AI-5842、AI-6842、 IA-53、iBox-2535、iBox-30、IE-3342、IE-4538、IE-5842、IG-4538、GD-5842、 SP-4538、SP-5842、LG-2535
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/1nt8tHKt", target: "_blank" } 下载
        %tr
          %td 圣指
          %td SZ-3840
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/1qWsE8Eg", target: "_blank" } 下载
        %tr
          %td 豪迈
          %td HM-5842
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/1gd3goxX", target: "_blank" } 下载
        %tr
          %td 酷宝
          %td KB-3842、KB-5842
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/1kTAzHo7", target: "_blank" } 下载
        %tr
          %td CKI系列
          %td CKI家用保管箱系列
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/13q2bs", target: "_blank" } 下载
        %tr
          %td CX-1625
          %td CX-1625
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/1hqqnbGK", target: "_blank" } 下载
        %tr
          %td JY系列
          %td JY-2543Z
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/1o6ue8wM", target: "_blank" } 下载
        %tr
          %td MY系列
          %td MY-2043
          %td.nowrap
            %a{ href: "http://pan.baidu.com/s/1bnpbren", target: "_blank" } 下载
      %tfoot.table-foot
        %tr
          %td{ colspan: 3 }
            17条记录
  .block.h50px
