---
layout: default
body_style: page
belongs_to: support
permalink: /support/
title: 服务与支持
keywords: 家用保险柜
description: 安能公司为您提供保险柜十大品牌的保险柜、保险箱、家用保险柜、家用保险箱等的服务与支持，在这里我们会为你提供专业的服务支持，祝您使用愉快。
---
.banner.banner-service
  .banner-text.banner-text-service
%article
  .page_nav
    %ul
      %li.active<
        %a{ href: "/support/" } 服务与支持
      %li<
        %a{ href: "/support/manual/" } 产品说明书
      %li<
        %a{ href: "/knowledge/" } 产品知识
      %li<
        %a{ href: "/support/clean/" } 清洁保养
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    #support
      %p 全能保险柜所属企业：广东安能保险柜制造有限公司
      %p 地址：佛山市顺德区大良德翔路8号
      %p 总机：0757-22308180
      %p 传真：0757-22308266/22308282
      %p 邮箱：sales@qnn.com.cn
      %p 品牌管理中心
      %p 电话：0757-22308198
      %p 邮箱：market@qnn.com.cn
  .block.h50px
