@import 'mixins';

ul.nav {
  width: 100%;
  display: table;
  table-layout: fixed;
  z-index: 50;
  position: relative;

  border-radius: 4px;

  box-shadow: 0 0 4px rgba(202, 202, 202, 0.6);
  -moz-box-shadow: 0 0 4px rgba(202, 202, 202, 0.6);
  -webkit-box-shadow: 0 0 4px rgba(202, 202, 202, 0.6);

  li {
    display: table-cell;
    vertical-align: middle;
    width: (100% / 7);

    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position: relative;

    list-style: none;

    border-top: 1px solid rgba(9, 9, 9, 0.125);
    border-bottom: 1px solid rgba(9, 9, 9, 0.125);

    &:active, &.active {
      background: #E8E8E8;
      background-image: linear-gradient(tobottom, #E8E8E8, #FAFAFA);
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px rgba(255, 255, 255, 0.1);
      border-color: #BFBFBF #C8C8C8 #D6D6D6;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid rgba(9, 9, 9, 0.125);
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      border-right: 0;
      border-right: 1px solid rgba(9, 9, 9, 0.125);
    }

    a {
      height: 35px;
      line-height: 35px;
      overflow: hidden;
      color: #5d5d5d;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 14px;
      position: relative;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
      z-index: 2;
      text-decoration: none !important;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover {
        background: #F1F1F1;
        background: rgba(124, 124, 124, 0.17);

        -moz-transition: 0.25s all;
        -webkit-transition: 0.25s all;
        -o-transition: 0.25s all;
        transition: 0.25s all;
      };
    }
  }

}

:-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
  line-height: 14px;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button { -webkit-appearance: none; }

.catalog {
  margin: 0 6px 0 7px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);
  background: #FFF;
  background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#F2F2F2), to(#FFF));
  background: -moz-linear-gradient(#F2F2F2, #FFF 20%);
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #E5E5E5 #DBDBDB #D2D2D2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;

  .select_box {
    display: none;
  }

  ul.line {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;

    li {
      display: table-cell;
      width: (100% / 5);
      overflow: hidden;
      height: auto;
      position: relative;
      list-style: none;
    }

    div.figure {
      background: url(/assets/images/product_sprites.png) no-repeat;
      width: 110px;
      height: 110px;
      margin: 15px auto 10px;
    }

    h2 {
      font-weight: bold;
      font-size: 13px;
      width: 110px;
      margin: 0 auto;
    }

    ul.model {
      display: block;
      list-style: none;
      width: 116px;
      margin: 10px auto 15px;

      li {
        padding: 10px 0;
        width: 100%;
        display: block;

        a {
          color: #666;
          font-size: 13px;
          text-decoration: none;
          padding: 5px;
          margin-left: 10px;

          &:hover {
            background: #666;
            color: #fefefe;
          }
        }

      }

    }

  }
}

$navHeight: 30px;

.page_nav {
  text-align: center;

  ul {
    border-width: 1px;
    border-style: solid;
    border-color: #d5d5d5 #d2d2d2 #cdcdcd;
    border-radius: 3px;
    @include inline-block;
    @include box-shadow(0 1px 1px rgba(black, .04));
  }

  li {
    float: left;
    border-left: 1px solid #d2d2d2;

    &:first-child {
      border-left: 0;
      a { border-radius: 3px 0 0 3px; }
    }

    &:last-child a { border-radius: 0 3px 3px 0; }
  }

  li.dropdown {
    display: none;
  }

  a {
    display: block;
    position: relative;
    padding: 0 16px;
    height: $navHeight;
    line-height: $navHeight;
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-decoration: none;
    text-shadow: 0 1px white;
    background: #fafafa;
    @include linear-gradient(top, #fcfcfc, #f0f0f0);
    @include box-shadow(inset 0 0 0 1px #fafafa);

    &:hover {
      color: #333;
      z-index: 2;
      @include box-shadow(inset 0 0 0 1px #fafafa, 0 0 3px rgba(black, .3));
    }
    .triangle {
      width: 0;
      height: 0;
      border-left: 6px solid rgba(0, 0, 0, 0);
      border-right: 6px solid rgba(0, 0, 0, 0);
      display: inline-block;
      margin: 3px 0;
    }
    .up {
      border-bottom: 6px solid #5D5D5D;
    }
    .down {
      border-top: 6px solid #5D5D5D;
    }
  }

  li.active a, a:active {
    color: #333;
    background: white;
    @include box-shadow(inset 0 0 3px rgba(black, .1));
  }

}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #5D5D5D;
  display: inline-block;
  margin: 0 0 3px 3px;
}

.active {
  .triangle-down {
    border-top: 0;
    border-bottom: 5px solid #5D5D5D;
  }
}

.catelog_bottom {
  padding: 0 16px 12px;
  text-align: right;
  a {
    font-size: 14px;
    color: blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
