.table {
  width: 100%;
  line-height: 31px;
  text-align: left;
  background: white;
  border-collapse: separate;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  font-size: 13px;
  a {
    color: #005CE7;
    text-decoration: none;
    &:hover {
      background-color: #005CE7;
      color: #fff;
      text-decoration: none;
      text-shadow: none;
    }
  }
  .nowrap {
    white-space: nowrap;
  }
}

.table-head > tr > th {
  white-space: nowrap;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #ecf0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #ddd;
  border-right-color: rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(tobottom, #f5fafa, #e7eaea);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.04);
  padding: 0 10px;
  &:first-child {
    border-left: 1px solid #ccc;
    border-top-left-radius: 3px;
  }
  &:last-child {
    border-right-color: #ccc;
    border-top-right-radius: 3px;
  }
}

.table-body > tr {
  &.highlight {
    font-weight: bold;
  }
  &:nth-child(2n) {
    background: #f8f8f8;
  }
  &:hover {
    background: #f3f3f3;
  }
  > td {
    text-shadow: 0 1px white;
    border-right: 1px solid #eee;
    border-right-color: rgba(0, 0, 0, 0.08);
    padding: 0 10px;
    &:first-child {
      border-left: 1px solid #ccc;
    }
    &:last-child {
      border-right-color: #ccc;
    }
  }
}

.table-foot > tr > td {
  position: relative;
  line-height: 26px;
  padding-left: 9px;
  font-size: 11px;
  color: #777;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #f4f4f4;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #dbdbdb #d2d2d2 #ccc;
  background-image: -webkit-linear-gradient(top, #fbfbfb, #ededed);
  background-image: -moz-linear-gradient(top, #fbfbfb, #ededed);
  background-image: -o-linear-gradient(top, #fbfbfb, #ededed);
  background-image: linear-gradient(to bottom, #fbfbfb, #ededed);
  -webkit-box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  &:first-child {
    border-left-width: 1px;
    border-bottom-left-radius: 3px;
  }
  &:last-child {
    border-bottom-right-radius: 3px;
  }
}

#stores {
  padding: 0 15px;
}

#stores-filter {
  line-height: 40px;
  text-align: center;
  padding: 0 0 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 29px;
  background: #f1f1f1;
  border: 1px solid;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(tobottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 50% 51%);
  -webkit-box-shadow: inset 0 1px #fcfcfc, 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px #fcfcfc, 0 1px 1px rgba(0, 0, 0, 0.05);
  border-color: #ccc #c5c5c5 #bbb;
  &:hover {
    background-color: #f6f6f6;
  }
  > select {
    cursor: pointer;
    font-size: 14px;
    display: block;
    position: relative;
    width: 112%;
    height: 27px;
    line-height: 17px;
    color: #555;
    text-shadow: 0 1px white;
    background: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-appearance: none;
    margin: 0;
    padding: 5px 5px 5px 10px;
    &:focus {
      z-index: 2;
      width: 100%;
      outline: 1px solid #6e9ef7;
      outline-offset: -1px;
    }
  }
  option {
    text-shadow: none;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 11px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    pointer-events: none;
  }
  &:before {
    margin-top: 1px;
    border-top-color: white;
  }
  &:after {
    border-top-color: rgba(0, 0, 0, 0.6);
  }
}

#ifnone {
  &:hover {
    background: none;
  }
  td {
    padding: 80px;
    text-align: center;
  }
}

ul#honors {
  list-style: none;
  li {
    float: left;
    width: 33.3%;
    height: 190px;
    text-align: center;
    position: relative;
    img {
      max-width: 120px;
      max-height: 120px;
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    strong {
      display: block;
      text-align: center;
      font-size: 13px;
      padding: 5px 20px 0;
      line-height: 15px;
      position: absolute;
      top: 155px;
      left: 0;
      right: 0;
    }
  }
}
