---
layout: default
body_style: page
belongs_to: support
---
.banner.banner-service
  .banner-text.banner-text-service
%article
  #newsinfo.content.center_content
    %h2.center {{ page.title }}
    %em
      分类：
      %a{ href: "/knowledge/" } {{ page.type }}
      = ' |'
      发表日期：{{ page.date | date:'%Y-%m-%d' }}
  #newscontent.content.center_content
    {{ content }}
  .block.h50px
