---
layout: default
body_style: page
---
%article.fill
  #showcase.mi-slider.hide_if_mobile
  .product_header.show_if_mobile
    %img{ src: "{{ site.prodimgs }}/{{ page.images[0] }}" }
    #product_menu.dropdownmenu
      %a.btn{ href: "{{ page.url }}" } {{ page.type }}{{ page.name }}
      %a.btn.toggle More
      %ul.ddmenu
        {% for post in site.categories["products"] reversed %}{% if post.type == page.type %}
        %li{ class: "{% if page.name == post.name %}current{% endif %}" }>
          %a{ href: "{{ post.url }}", title: "{{ post.title }}" }
            %span.img<
              %img{ src: "{{ site.prodimgs }}/{{ post.images[0] }}" }
            %span.text {{ post.name }}
        {% endif %}{% endfor %}
  .page_nav.is_pager
    %ul
      %li.active<
        %a{ href: "#" } 产品概览
      %li<
        %a{ href: "#" } 同系列产品对比
      %li<
        %a{ href: "#" } 常见问题
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  {% if page.features %}
  .pages.narrow
    #features
      .tips.show_if_mobile 提示：你可以拖动和捏合缩放此图片。
      {{ page.features | replace:'%PRODIMGS%',site.prodimgs }}
    #compare.hidden
      {{ content }}
    #faq.content.hidden
      {% haml faq.haml %}
  {% else %}
  .pages
    {{ content }}
    #faq.content.narrow.hidden
      {% haml faq.haml %}
  {% endif %}
