---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜锁具的行业规范
keywords: 保险柜
description: 我国正在处于经济快速发展的潮流中，锁具行业也通过自身不断努力而迅速发展，同时将锁具技术应用在保险柜的锁具上，也促进了保险柜的迅速发展。
---
%p<
  我国锁具行业的发展迅速，并同时将锁具技术应用在
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的锁具上，也促进了保险柜的迅速发展。近年来，五金锁具行业以每年15%的增长速度平稳发展。目前中国登记注册的制锁企业有1400多家（包括专门制造保险柜锁具的企业），以中小企业为主，大多为个体、私营企业，基本上都属于劳动密集型产业。
%p 我国锁的门类众多，各个门类均有不同的标准。在这里，以我国门锁为例，谈谈锁的有关标准和规范。
%p 我国的门锁新标准发布于2000年6月，2000年10月实施。原有的门锁产品国家标准有4个，发布实施于1988年，主要为GB8385-97 《外装门锁》；GB8386-87《弹子插芯门锁》；GB8387-1987《叶片插芯门锁》及GB8388-87《球形门锁》。1999 年3月，分别转化为QB/T3837-1999，QB/T3838-1999，QB/T3839-1999及QB/T3840-1999。但是，随着市场经济的不断发展，门锁产品发生了很大变化。产品品种不断丰富，技术水平不断提高。原有的国家标准和专业标准已远远不能满足新形势下对门锁质量技术的要求。特别是我国加入WTO后，为适应经济全球一体化的发展，我国门锁产品的档次和质量必须提高。为了实现与国际接轨，缩小与世界发达国家的差距，消除贸易壁垒，增加出口创汇，促进我国锁具行业的健康发展，进而参与国际竞争，我国对原有的门锁标准进行了修订。国家轻工业局、全国日用五金标准化中心分别对原有的四个门锁标准进行了修订，并把原弹子门锁（SG205-80）与外装双舌门锁（GB8385-87）合并，增加双扣（老虎）门锁而成为外装门锁标准。现时所执行的轻工业标准QB便是修订后的新标准。
%p 新标准的修订原则是：在原有标准的基础上只能提高，不许降低。要从根本上扭转我国产品档次低，价格低，技术水平差的落后状况，采取认真研究，区别对待的方针，结合中国的实际情况进行修订。在修订过程中，不同程度地非等效采用美国ANSI（美国国家标准）英国BS （英国国家标准）及JIS（日本工业标准）等国外先进标准作为依据。同时按照国家法律、法规的要求，结合产品的实际，在标准修订过程中根据不同的需要作出了分级的规定，将外装门锁及球形门锁分为A级与B 级两类，基本上明确区分了高级别墅、公寓与商品房、单元住宅的区别。 
%p 新修订后的标准要求比原标准高。外装门锁的A级品，其主要指标达到英国BS5872中的B级水平，B级品比我国原标准高，但比英国BS5872 中的B级品低（注：英国BS标准中 B级品比A级品高）。球形门锁中的A级品，其主要指标接近美国ANSI/BAMA.A156.2-1996中二级锁水平，B级品主要指标接近ANSI/BA，A.A156.2-1996中三级锁水平，且比我国原标准高出一大截。总的来说，我国经修订后的门锁新标准QB/T2473-2000，QB/T2475-2000，QB/T2474-2000及QB/T2476-2000均比原标准高。
