---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜发展趋势:重量更轻与防盗性能更好
keywords: 保险柜
description: 随着保险柜的生产技术发展，重量可能比原来减轻一半，但承受攻击能力也可比原来提高了若干倍，更加轻便，安全、可靠、美观的保险柜已成为发展趋势。
---
%p 
  传统的
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  出于保障安全考虑总是被制作成重量级，远看像座小山，但却装不下多少东西，并且移动十分困难。随着保险柜的生产技术发展，更加轻便，并且更为安全、可靠、美观的保险柜已成一种发展趋势。在科技日益发展的今天，重量对于保险柜已不再是最重要的因素，重量可能比原来减轻一半，但承受攻击的能力也可比原来提高了若干倍。
%p 例如法国费舍布什公司（FICHET-BAUCHE）在巴登库工厂生产的反劫持出纳柜，以倒计时方法巧妙防范盗贼，该类产品中有一种叫卡伦纳（CARENA）的保险柜，其造型颇似船舷（拉丁语CAREN），如一台造型别致的大彩电，轻重适宜，操作简捷，美观耐看。这种新型的保险柜整体六面均具备极强的防攻击能力，最薄也可能是最硬的地方，强度与金库门相同，但采用的并非传统制作工艺和原材料，而是以化学聚合物质等综合材质局部替代钢铁，以电脑程序控制电子激光机械手加工而成。
%p 
  %img{alt: "防盗保险柜", src: "http://www.qnnsafe.com/images/news/id015901.jpg"}/ 
