---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 超级跑车保险柜与镜面柜体保险柜介绍
keywords: 保险柜
description: 超级跑车保险柜通过内部的分层充分利用了空间和密码指纹输入保证了安全，而镜面柜体保险柜使用左右两方张开的设计具有未来感以及绝对的安全性。
---
%p<
  超级跑车往往是财富的象征，那么富人们需要怎样装备来保护自己的财产呢？近日兰博基尼为自己的用户以及潜在用户打造了一款
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  ，密码指纹输入，内部的分层也有效地利用了空间。不过对于要保护的对象来说，兰博基尼保险柜本身就是一款奢侈品。
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id019201.jpg"}/ 
%p 上图为超级跑车兰博基尼保险柜。
%p 时尚大帝卡尔拉格斐Karl Lagerfeld跨领域的与德国奢华保险柜公司Doettling进行合作，打造了一款相当奢华的Narcissus保险柜，并全部由他亲自操刀、拍摄。Narcissus奢华保险柜在不用之时是相当极简的镜面柜体，使用时左右两方张开的设计也相当具有未来感以及绝对的安全性，售价也是相当惊人的336000欧元，全球限量30组。
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id019202.jpg"}/ 
%p 上图为镜面柜体保险柜。
