---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜锁具钥匙的等级文化
keywords: 保险柜
description: 我国古代保险柜的钥匙孔的开槽五花八门，这一方面真实反映了我国封建社会明确的等级制度，另一方面也反映了我国古代的工匠们的聪明和智慧。
---
%p 
  我国的古锁虽长短不一，大小不等，外形大同小异，在
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的钥匙孔的开槽也五花八门，但保险柜钥匙孔的主要形状为“一”、“上”、“工”、“士”、 “古”、 “尚”、“吉”、“喜”、“寿”等字。这些钥匙孔，黎庶百姓只能用“一”字孔锁，士大夫用“士”、“吉”字孔锁，寿诞喜庆用“寿”、“喜”字孔锁。这些在封建社会都有规定，恰是古代森严的社会等级制度的反映。
%p 再如一些类似于今日密码锁的文字组合锁，其钥匙是一串文字。当所有转轮的文字转到一定位置，且文字形成特定的字串，锁就可以开启，文字组合就是钥匙。这些文字组合锁，当时也只是有文化的富贵人家使用。这种锁的转轮数目多为三至七个，几个转轮即称为几环锁。但和当今密码锁不同的，是其密码不是用数字组成，而是用词语或七言绝句组成：如“青山隐隐水迢迢，秋尽江南草木凋；二十四桥明月夜，玉人何处教吹箫”，只要在锁的某一特定位置，对上诗中七个字，便能将保险柜锁具打开。由于古代只有富有人家才能享有文化教育权力，所以这种锁的钥匙，也只有富人才会拥有，没有受过教育的平民百姓是不能使用的。
%p 我国古代保险柜锁具的钥匙真实反映了我国封建社会明确的等级制度，另一方面也反映了我国古代的工匠们的聪明和智慧。
