---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜和保险箱失窃的几大隐患
keywords: 保险箱
description: 配备保险柜/保险箱的公司、个人仍有发生失窃的情况，导致保险柜/保险箱失盗，往往在于这些公司、个人在保险柜/保险箱的使用和管理中存在以下隐患。
image: 
---
%p 目前，有些配备了保险柜/保险箱的公司、个人仍有发生失窃的情况，细细探访其中的缘由，发现众多失窃案件中，导致保险柜/保险箱失盗的因素往往在于这些公司、个人在保险柜/保险箱的使用和管理中存在的诸多隐患:
%p 1、保险柜/保险箱使用人员：使用保险柜/保险箱的人员多而杂的情况下，保密性差，容易造成密码密钥泄露和财物丢失。应当配备专职使用人员，专职的开启人员。
%p
  2、
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  \/保险箱密码设置：有些财物管理人员和保险柜/保险箱使用者，以为保险柜/保险箱设置了密码就不存在失窃的问题了，殊不知密码设置的安全度也直接影响着保险柜/保险箱的防卫能力，位数长，数字重复率低的密码安全度高，不易被破解，而位数短，设置简单的密码则容易让人识破而轻易突破保险柜/保险箱的防卫，如有些保险柜/保险箱使用者图记忆方便，用门牌号或电话号码等等作为密码，结果被盗窃者稍动脑筋便迅速破解。
%p 3、保险柜/保险箱密码管理：保险柜/保险箱的密码不应当一成不变的，如果不是固定密码的保险柜/保险箱结构，那么就应当在恰当的时候修改密码，如出纳员调动工作，保管人员离职，保管程度高的财物也应当定期更换密码。出厂后的密码没有更改，或者财物管理人员的频繁调动，经常在多人情况下开启密码，都容易造成密码的泄露。
%p 4、保险柜/保险箱钥匙管理：钥匙可分别交由保险柜/保险箱使用部门和企业保卫部门分别保管，交有保卫部门的应当封存。例如，曾有企业只注重财务部门的安全管理，保卫部门却没有良好的封存制度，就给某些不法分子有了可乘之机，当他窃取超控钥匙后，很轻易的就绕开了密码口令，打开了保险柜/保险箱。
%p 5、做好保险柜/保险箱日常使用制度的制定：只有制定了相关制度，才能有据可依的去执行。比如：节假日满两天以上或相关人员离开两天以上没有派人代其工作的，应在保险柜/保险箱锁孔处贴上封条，到位工作时再揭封。曾经有企业由于欠缺这一管理制度，造成财物失窃后多日才被发现。
%p 6、没有做好保险柜/保险箱的固定安置：有些单位和个人购置保险柜/保险箱后随意放置，没有及时按照安装要求进行固定，被盗窃者连箱带财物搬走。所以购置保险柜/保险箱若重量小于340公斤时，应及时按照要求通过固定安装孔，用固定配件将保险柜/保险箱固定在墙壁或不易移动的固定物上，才是保障安全之举。
%p 7、没有购置相应适合要求的保险柜/保险箱：有些单位和个人抱有保险柜/保险箱是万能的观念，甚至因为价格因素将保管箱当保险柜/保险箱用，孰不知这存在着极大的安全隐患。保险柜/保险箱有着不同的安全级别，在购置和使用保险柜/保险箱时，就应根据自己要放置的财物价值购置和使用不同安全级别的保险柜/保险箱，建议存放500万元以下要选择国家标准中C级标准，存放200万元以下要选择B3级标准，存放100万元以下要选择B2级标准，存放50万元以下选择B1级标准，存放30万元以下选择A2级标准，存放10万元以下选择A1级标准，存放1万元以下选择保险柜/保管箱标准。
