---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜发展趋势:标准更高与安全级别更高
keywords: 保险柜
description: 随着时代的发展，保险柜的生产方式和技术都有了质的飞跃，同时就目前的发展状况而言，保险柜的标准更高与安全级别更高是其发展的趋势之一。
---
%p 
  随着时代的发展，
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的生产方式和技术都有了质的飞跃。按照我国的国家标准GB10409-2001，将防盗保险柜的安全级别分为6类，即A1、A2、B1、B2、B3、C类。在6类中，C类的安全级别最高，C类防盗保险柜应能阻止用普通手工工具、便携式电动工具、磨头、专用便携式电动工具、割炬和爆炸物以及这些工具、材料相互配合使用，在净工作时间60分钟以内进入。
%p 在国外已出现按照保险金对保险柜进行分级的标准。如在法国，其标准分为1-6级：保金在5万FF（法国法郎）基础之上，分别为10万FF、17.5万FF、25万FF、50万FF、100万FF和150万FF。欧洲标准则分为1-8级保险柜、9-13级库门等，其标准更高，各级保险系数加大。ⅠE级保险柜保金为15万FF；ⅡE级保险柜保金为23万FF；ⅢE级保险柜保金为35万FF，人们一般称之为银系列，应具备三把以上不同类型的锁，锁的开启排列组合系数在亿次以上，并分为有声音与无声音多种形式，以解决电脑控制分解密码排列组合机密和利用助听器、手感与听感经验开启的问题；ⅣE级保险柜为金系列，保金为70万FF；ⅤE级为钻石系列，保金为130万FF；ⅥE级PYRAMISEN标准，是保险柜欧洲标准的最高级，UAP保险最大金额为200万FF。7-8级保险柜至今尚无人生产。  
%p 按照6级标准呈金字塔式生产，经过生产商、保险公司、演示部门进行包括温度与高度等内容的双重、多重测试，必须符合全世界负责安全标准的惟一颁发证书机构的VDS（VERBAND  DER  SHADENVERSICH-ER）证书，即ISO9002、9001、9000由低向高的最高国际产品证书。如防火文件保险柜，对保留10年的工资单、保留8年的交税单等内容科学保管，柜外火的温度燃烧到1090度，柜内仍不会超出32度。世界标准规定170度为自燃度，故柜里面的东西仍会完好无损，就是55度即会自燃的光碟也安然无恙。
