---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 建筑楼房用锁与保险柜门锁的应用
keywords: 保险柜
description: 建筑楼房用锁按使用场合可以分为外装门锁、球形门、锁插芯门锁和移门锁，其技术分别应用在普通保险柜、家用保险柜、商用保险柜和全能金库门系列。
---
%p<
  建筑楼房用锁，是指在楼房门上所使用的锁，基本可分为四大类,同时此技术也应用在
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  门锁中。
%p （一）外装门锁，技术应用于普通保险柜
%p 锁体安装在门挺表面上的锁。一般适用于楼房外大门，各居宅的外门或厅门上使用。其品种分别有单舌锁、双舌锁（或多舌锁）及双扣锁（俗称老虎锁）等。单舌、双舌或多舌在运动时一般呈水平方向；而双扣（老虎）锁则在运动时锁舌呈垂直方向。
%p （二）球形门锁，技术应用于商用保险柜
%p 锁体插嵌安装在门挺中，锁头及保险机构则设置在球执手（把手）内的锁。一般适用于房屋内门上，有圆筒球形与三杆球形、圆筒执手与三杆执手之分。国内习惯使用圆筒式为多，国外则使用三杆式为多。其包括有房门锁、浴室锁、通道锁、储物室锁、庭院锁、阳台锁，教室锁、紧急出口锁、单向连通锁、双向连通锁、酒店锁、酒店总统锁、单头固定锁、双头固定锁、套锁等。
%p （三）插芯门锁，设计书应用于家用保险柜
%p 锁体插嵌安装在门挺中，其执手覆板组装在门挺表面上的锁。适用于房屋外门上使用。其包括有：单方舌、单斜舌、双舌、多舌、多舌联动等。
%p （四）移门锁，技术应用于全能金库门系列
%p 锁舌一般呈钩子状，用以扣住门框的锁。一般适合于推拉式的金属门、闸及木门上使用，包括有拉闸锁、卷闸锁、卷帘锁、铝门锁等。
