---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜锁具在我国古代的发展
keywords: 保险柜
description: 保险柜锁具的发展已绵延了数千年，它和人类的私有制几乎同时诞生，我国保险柜锁具不仅历史悠久，种类众多，技术精巧，同时还蕴藏深厚的文化内涵。
---
%p
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  锁具的发展已绵延了数千年，它和人类的私有制几乎同时诞生。
%p 距今5000年的仰韶文化时期，我国先民就创造了装在木结构框架建筑上的木锁，这是世界上最古老的锁具，可称得上是“世界第一锁”。周朝已有关木仓锁和钥匙的文字记载。早期的木质锁结构简单、形体笨重，多采用竹杆之类作钥匙，容易开启。春秋战国时期，经公输般（即鲁班）改进后，保密性得到增强，并开始使用铜材制作钥匙。这种木锁一直在民间传承，如明代的白木锁，就在浙江地域的建筑上使用。在今日的昆明彝族山寨以及一些较古老的村落里还有类似的木锁。
%p 建国后，在新疆千佛洞遗址出土了一把木锁，长26厘米，宽11厘米。木钥匙长20.5厘米，宽1.5厘米，一端有三个柱状齿。经考证，为公元499年至640年麴氏高吕时期的遗物，相当于魏至唐初时期。到了明代，木锁仍然流行，在形式上大有改进。在浙江地区发现的一把宝瓶式木锁，采用整块的白木雕琢而成。外观呈直颈、圆腹、圈足的宝瓶状，高23.7厘米，腹宽15.4厘米，厚4.8厘米，表面雕刻着“二龙戏珠”和“双龙捧寿”的祥瑞图案。在龙珠上还镌刻阳文篆文“寿”字，下为海浪翻滚。此锁机关藏于背后，用竹或木制钥匙开闭。宝瓶和“平”字谐音，因此寓“岁岁平安”之意。宝瓶为佛家“八大吉祥”之一，又表示智慧圆满不漏。
%p 殷商时期，虽然已进入青铜时代，但当时铜主要用来制作大型饮器、食器和祭器。不过，当时的奴隶主为了有效地控制奴隶，已开始利用青铜技术制造用以锁住奴隶手脚的链锁。后来，奴隶主为了方便开启及更有效地锁住关押奴隶的牢房和保护自己的财富，进一步进行技术改进，发明了用以锁牢门、锁大门的青铜挂锁。但由于当时社会冶炼青铜难度高，材料昂贵，生产出简单的锁具只供给奴隶主们服务，用途范围局限于少数人，因此当时没有形成专业性的锁业。 
%p 继殷商青铜时代之后，春秋时期进入铁器时代。春秋战国时期，奴隶社会逐渐土崩瓦解，人类社会开始向封建社会转化。随着冶炼青铜的技术不断改进，各种铜制工具随之相应得到发展，这带动与刺激着制锁的生产向前发展。这时期，社会打制青铜器的工匠们逐步分化出以制锁为谋生的一种行业，这便是最初的制锁业，也正标志着锁业的正式形成。
%p 到东汉时期，人们已开始大量使用铁锁、铜锁，还有银锁、鎏金锁等，其中最有代表性的是铁制三簧锁，在我国前后沿用了1000多年。东汉的铁制三簧锁，利用两三片板状铜片的弹力来达到封关和开启作用，由于簧片装置能作多种变化，并可用钥匙孔形来决定钥匙的式样，安全性、保密性较好，使用范围广泛，因此有“广锁”之称。公元前二世纪末，我国生产的簧片锁随"丝绸之路"传入了古罗马。至今，奥地利格拉茨城博物馆里还收藏着我国汉代的簧片锁。这种锁自唐代开始得到不断改进发展，一直沿用至上世纪的50年代，出现了120余类不同款式，有的采用暗门、定向、二开、无钥、文字密码等特殊技术，使锁具保密程度大大增加。
%p 唐宋时期，随着社会生产力的发展，人们发明了冶炼钢铁技术，为锁具制造提供了更为实惠、方便的材料，这促进了锁业的进一步发展。同时因为大量生产，价格相对降低，也使锁具的应用也得以进一步普及。这一时期，锁业蓬勃发展，生产出来的锁在形状样式、大小等方面都有很大的改进，普通百姓都有能力购买使用便宜的锁来保护自己的财物。当时具有代表性的锁有如唐代虾尾银锁和宋代的方身锁等，都显示了相当高的技术水平。不少唐诗宋词也有了关于锁的描述。如苏轼《永遇乐 夜宿燕子楼》：“燕子楼空，佳人何在，空锁楼中燕”。晏几道《临江仙 梦后楼台高锁》：“梦后楼台高锁，酒醒帘幕低垂。去年春恨却来时，落花人独立，微雨燕双飞。”可见，当时的锁已经相当普及。
%p 明清时期，各种材质的锁具同步发展，以铜锁、铁锁居多，工艺更加精巧，在开锁难度和外形制造上也有了很大创新。如明代的三色铜锁、清代的白鹤锁、密码锁、暗门锁、四开锁、倒拉锁以及各种人物、动物和文字造型的锁具，琳琅满目，美不胜收。有的锁具结构复杂，设计巧妙，机关奇特，一般人很难打开。
%p 在古代，保险柜锁具出现了第一代保险柜锁和第二代保险柜锁。
%p 第一代锁：木锁。我国的第一代锁是竹、木锁，起源于门插。据传，在春秋战国初期鲁国人鲁班改革了这种竹木锁，装置了机关，在门的木拴上钻了一个小孔，内装了上下两根圆木棍，圆孔和门正面所能看见的“一”字形开口相遇，开门或锁门时，使用“山”字形钥匙通过“一”字开口拨落门插开启。这种锁至今在我国的极个别古建筑中还能够见得到。
%p 第二代锁：全铜簧片锁。这种铜锁创始于汉代，又称槽钩锁。因为木锁不够结实，东汉时采用青铜制作，其结构也发生了变革，出现了铜质簧片锁。簧片结构锁是由锁槽来决定钥匙花样，能做出多种变化。有“一”字形、“山”字形、“而”字形，有的简直像一幅八卦图。簧片锁的外观起初是以鱼形出现，后来在锁体雕刻上虎、豹之类猛兽图形，以象征锁的牢固威力。这锁最早呈长园桶型，其规格大的达到1000毫米，小至33毫米，用途主要为锁门、箱、柜之类。
%p 从汉代起到二十世纪三十年代这两千多年的时间里，簧片结构锁一直是我国人民的主要用锁。后来在成本较低的弹子锁的出现后，簧片结构锁才逐步趋向淘汰。
%p 我国古代保险柜锁具不仅历史悠久，而且种类众多，技术精巧。从材质来分，有木锁、金锁、银锁、铜锁、铁锁、景泰蓝锁等；按类别分，有广锁、花旗锁、刑事锁、首饰锁等；按形式分，有圆形锁、方形锁、枕头锁、文字锁、人物锁、动物锁、密码锁、暗门锁、倒拉锁、炮筒锁、直开锁、横开锁等；按用途分，有挂锁、门锁、箱锁、橱锁、盒锁、抽屉锁、仓库锁等；从工艺上看，有平雕、透雕、镂空雕、錾花、鎏金、错金、包金、镀金、镶嵌以及制模铸造等。中国古代传统保险柜锁具还蕴藏深厚的文化内涵，如新娘出嫁时在嫁妆箱上用“十二生肖”锁；民间在做寿时用“福禄寿喜”锁；贺小孩生日时用长命锁、保家百锁、花钱锁等等。这些锁上有文字，镂刻图画、故事，文化内涵十分丰富。
