---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 买保险柜保险箱谨防便宜陷阱
keywords: 保险柜
description: 有关部门要严格把好保险柜厂家的生产质量关，谨防低劣产品流入市场；使用保险柜的单位和个人，一定要克服麻痹思想，挑选保险柜时一定要把握质量关。
image: 
---
%p
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  \/保险箱以其特殊的防盗功能正日渐由单位使用扩大范围走入寻常百姓家。然而，近日有关质监部门在检查时发现，不少名为保管箱、珍藏箱、私密箱的安防产品，并不能真正防盗,但却在市场上打擦边球在某文件柜店内，销售员向记者介绍某企业生产的多功能电子珍藏箱,在用户手册上明确标明配备新颖防钻、防撬专用锁，防盗性能提高五倍以上，同时又称产品只执行企业标准。记者向销售员了解珍藏箱和保险箱有什么区别时，售货员告诉记者：功能都差不多，就是钢板厚薄，而且珍藏箱便宜很多。这种状况带来的恶果就是给犯罪分子作案提供了条件,据某公安部门破获盗窃案件统计的数字，撬盗保险柜案件占盗窃案件较大比例。因此，笔者呼吁有关部门要严格把好保险柜厂家的生产质量关，谨防低劣产品流入市场；使用保险柜的单位和个人，一定要克服麻痹思想，消除侥幸心里，挑选保险柜时一定要把握质量关,所谓的买保险柜便宜不一定划算就是这个道理.
%p 中国目前保险柜/保险箱的状况是怎么样的呢?那就是生产厂家的产品质量参差不齐,很多厂家偷工减料,生产劣质保险柜/保险箱,甚至用保管箱、珍藏箱、私密箱来冒充保险箱,这就使得保险柜/保险箱市场存在很多安全隐患;另一方面是消费者对保险柜/保险箱的行业标准和知识了解不够,在选购时出现无所适从的尴尬局面.
%p 保险柜不合格项目主要有：抗破坏能力。抗破坏能力有抗开孔能力、抗打开柜门能力两个指标。国家标准要求，目前市面上大多销售的安全级别为A1的产品,应能阻止用普通手工工具、便携式电动工具和磨头以及这些工具相互配合使用，在净工作时间15分钟以内打开柜门或在柜门、柜体上造成38平方厘米的通孔。而市场上所售产品的情况是:由于现在原材料价格上涨，部分防盗保险柜企业存在偷工减料的现象，直接导致了安全性能不合格。据悉，今年一季度，浙江省质量技术监督局抽查了杭州、宁波、嘉兴等3个市的20家企业的20种保险箱，抽查合格率仅为60%。
%p 在浙江方圆检测实验室，检测人员正在对一个防盗保险柜进行破坏性实验。一把1.25公斤的铁锤和一把普通凿子;3分28秒，哐当一声，保险柜的门就被撬开了。
%p 按照国家规定，合格产品在15分钟之内是不允许被打开的。浙江方圆检测集团工程师程敏表示，该产品在安全性能上肯定不过关。
%p 接着，检测人员又做了一个开孔实验，用电钻、锯条等工具在这个保险柜顶部，打开一个口子，约38平方厘米。程敏表示，打开38平方厘米的口子，就可以伸进手了；国家规定的时间也是15分钟以上，而现场却只用了4分42秒。3分28秒就撬开锁，说明机械密码锁的保护结构强度不够。4分42秒开孔，则是这个板材质量不是很好，太薄。程敏说。
%p 至于出现上述不合格保险柜/保险箱的主要原因有：产品质量过程控制较差。一些生产企业对标准不重视或不了解，未严格按照产品标准进行生产，在加工制造过程中没有有效进行质量控制，产品检验把关不严。产品设计理念有偏差。部分企业在产品开发过程中存在重外观、轻内在质量的偏向。产品成本无原则降低。一般消费者对防盗保险柜的结构性能了解甚少，使得低廉价格的产品在市场上具有相当大的吸引力。个别企业为了在竞争中以低价取胜，不惜降低成本，省略必要的防护装置，有的甚至偷工减料，最终导致产品不合格。如防盗保险柜的钢板厚度关系到保险柜抗破坏的承受能力，是防盗的基本保证，但个别企业为降低成本，在生产中降低钢板厚度，减少锁闭机构的必要防护，使得产品的防盗功能大大降低，出现防盗保险柜不防盗的情况。另外专家特别提醒消费者，在消费中要注意保险柜和保管箱两种不同属性产品的区分。近几年，市上出现了介于防盗保险柜和橱柜家具之间的保管箱。我国目前还没有保管箱国家标准，其按锁具也分为机械密码与电子密码两种类型。保管箱和保险柜在外观上相似，但其箱体比保险柜薄，一般为2mm左右钢板甚至铁皮，容易被破坏，防盗性能较差，不属于专门的防盗设施。保险柜钢板厚度远大于保管箱，且材质为钢板，一般门板厚度达8mm～10mm，柜体厚度6mm以上，防盗性能远高于保管箱。由于保管箱和保险柜在外观上无法区别，一些商家便在产品名称和标牌上做文章，在产品说明和介绍中使用模棱两可的词语，使得消费者在购买时产生混淆。同时因构造上的差别，保管箱的价格较保险柜要便宜得多，在市场上很有吸引力。因此，消费者选购防盗保险柜时应询问清楚，不要错买保管箱，同时在发票上应写清楚商品的名称。如果消费者是为了存放贵重物品的话，请务必选择保险柜,三五百元的柜子一般还是不要用的好,除非您只是要一个摆设,否则将会给你带来巨大的损失。另外，A类、B类防盗保险柜质量小于340kg时应有安装固定孔、配备固定件及指导固定的说明书。只有按照说明书正确固定安装，防盗保险柜才能真正起到防盗作用。质监人员提醒醒消费者，防盗保险柜的防盗有固定装置、报警装置、密码装置，使用时要把上述三大装置都用上。
%p 购买时，不能单纯只看外表美观和价格便宜，一是注意观察外表面是否平整，油漆是否均匀。防盗保险柜的内外均应进行喷漆、喷塑等表面的防腐处理，门扇与门框之间的缝隙要小，开启要灵活。二是察看有无安装固定孔，购买后应及时按产品说明书的要求安装固定，使防盗保险柜真正起到防盗的作用。
%p 最后笔者希望广大保险柜/保险箱通过我们的相关介绍,能选购到安全划算的保险柜/箱产品,真正保障您的财务的安全.
