---
layout: news_article
type: 行业新闻
type_eng: industry-news


title: 保险柜的发源
keywords: 保险柜
description: 保险柜是随着人类社会发展和物质财富增加出现的产物，欧洲别认为是保险柜最先的发源于地，其作用是为了隐藏和保护宝贵的而且不愿意与别人分享的物品。
image: 
---
%p
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  究竟从什么时候才开始出现？最古老的保险柜又是怎样的？也许，这永远是一个谜团。
%p 但可以这样说，保险柜是人类生产发展到一定阶段的产物。随着人类社会的发展，物质财富的增加，人们为了隐藏和保护宝贵的而且不愿意与别人分享的物品，于是便有了保险柜。
%p 保险柜被认为最先发源于欧洲。至今仍保存在英国Chichester大教堂（Cathedral of Chichester）的一个古老的厚木箱，被认为是现存最古老的保险柜，距今约有1000年历史。这个坚固古老的厚木箱，有9英尺长，2英尺高，2英尺深，由2英寸厚的木板制成，用铁环箍着。在中世纪的欧洲绘画作品中，某些作品中画面里也开始出现了一种盛放金银珠宝，有金属包边的木质橱柜，这种木质橱柜大概便是保险柜的雏形。
%p
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id038601.jpg"}/
%p 上图为法国FICHE-BAUCHE仿制之18世纪路易15时代的盛放金银珠宝的木质保险柜。此类保险柜状似家具，无专门的锁具，安全性较低。
