---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 我国保险柜在近代的发展
keywords: 保险柜
description: 保险柜是经济发展的产物，近代保险柜在我国发展最早应该是19世纪末二十世纪初就传入了我国，并且我国解放前就有了制造保险柜产品的厂家。
---
%p 
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  是经济发展的产物，我国保险柜业的发展，是在保险柜的基本参数稳定后才形成产业的。
%p 保险柜究竟是什么时候传入我国的？我国又于何时开始生产保险柜？关于这，还没有一个准确统一的说法。有人说，保险柜最早是上世纪初从西方传入我国的。最初传入我国的保险柜是在1916年，传入上海，当时进入我国的保险柜是英国制造的。后来，德、美两国制造生产的保险柜也逐渐输入我国。到解放前为止，我国还没有一家专门制造生产保险柜的厂家。不过，这些说法似乎也不够准确。不妨看两则相关报道：
%p 人民网广西视窗2002年7月22报道：一个制造于1862年的英国保险柜，近日在北海被文物工作者从废物品堆里发掘出来，文物运回北海市文物管理所进行研究。虽历经140年沧桑，该保险柜仍完好无损，因为没有钥匙无法打开，里边装有何物不得而知。昨日，记者在北海市文物管理所见到了这个难得一见的神秘“高龄”保险柜。
%p 经测量，此保险高1米，宽68公分，厚53公分，重约一千多斤。保险柜的外壳是浅绿色的，柜门中部有3个形状各异的锁孔，一个锁拉杆，一个门拉手；柜门上方有一块巴掌大的铜牌，上面镌刻着数行英文字母和“1862”四个阿拉伯字母。经初步考证，基本弄清了这些英文字母和阿拉伯数字的意思：该保险柜1862年出产于英国伦敦，是一个获奖的专利产品，具有防撬、防火性能。除此而外，是保险柜生产厂家的名字和保险锁生产厂家的名字。
%p 虽经历了140年沧桑，该保险柜仍完好无损，掉漆的地方仅有少量锈蚀。保险柜的顶部和侧面，有重锤反复敲击过的痕迹，估计是有人想敲开它却没有得手。据文物工作者王戈介绍，1876年9月13日，英帝国主义强迫清政府签订了不平等的中英《烟台条约》，将北海辟为通商口岸后，英国、德国、奥匈帝国、法国、葡萄牙、意大利、美国、比利时七国先后在北海设立了领事馆和洋行、修建了教堂、教会医院和学校，七国商人将洋货源源不断运进北海销售牟利。该神秘保险柜估计是那个年代运进北海的。至于是何人运进，何人使用，为何会流落到北海市供电局，有待进一步考证。王戈认为该保险柜的价值是：可作为清朝同治、光绪年间西洋先进工业产品即进入我国的重要物证，供后人参观和研究。
%p 从该保险柜柜门上的三个不同形状的锁孔看，该保险柜应有三把大小不同的钥匙，但现在这三把钥匙没法找到，保险柜无法正常打开，里边装有何物也不得而知。文物工作者们打算再作考证后，请开锁专家来开锁，如果能从保险柜中发现相关资料，关于保险柜的谜团也许能解开。
%p 又据2008年10月22日《金羊网》报道：昨天，李占记钟表有限公司将其发现的3个古旧保险柜无偿捐赠给国家公立博物馆。其中两个柜已有百年历史。
%p “这是广东目前历史最早的现代保险柜。不但历史久远，关键是它们在百年老字号内持续未断的历程，见证百年广州经济发展，具有文物价值。”文博专家表示。两柜部件均为生铁、黄铜铸造。虽然都已有锈迹，但保存仍相当完好，锁闭系统坚固依然、开启自如。它们太重了！将它们“请”出来时真费了九牛二虎之力，8名壮汉用小臂粗的铁撬棍去移，足足花了3小时才移了十多米，铁撬棍都撬弯了。
%p 
  %img{alt: "德国造保险柜", src: "http://www.qnnsafe.com/images/news/id015601.jpg"}/
%p 比成人还高的德国造保险柜
%p 
  %img{alt: "广州惠爱两启泰厂造保险柜", src: "http://www.qnnsafe.com/images/news/id015602.jpg"}/
%p 广州惠爱两启泰厂造保险柜  
%p 记者看到，其中一个柜上有德国制造的铭牌“Hambrug”，高约2米，宽1米；另一柜的铭牌为“广州惠爱两启泰厂造”，高约1.6米，宽约1米。柜壁厚度都超过20厘米。
%p 李占记是一家有上百年历史的中华老字号，一直在中山三路现址经营，最近装修，在地下老仓库杂物内发现了这几件古旧之物。员工们翻查了档案馆资料，并找到退休老员工回忆上一代历史，证实原来公司自成立以来就使用着两个保险柜。当时来修钟表的多为殷实人家，不少是瑞士名贵钟表，公司就从德国进口了一只当时的名牌柜，到晚上收铺后专装各种手表怀表。公司还从惠爱路购进一只国产柜，也是用来装钟表及独家制作的零配件、清洗溶液等等。
%p 由上面两则报道可以看出，保险柜技术最早应该是19世纪末二十世纪初就传入了我国，并且我国解放前就有了制造保险柜产品的厂家。
