---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 家居安防新发展 保险柜进入物联网
keywords: 保险柜
description: 一直都被广大家庭、单位用于物品的保管，在信息化、网络化飞速发展的今天，保险柜也要打破传统观念的束缚，结合物联网技术的发展，进行技术的革新。
image: 
---
%p
  （消息来源于搜狐网）
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  作为生活中存储物品必不可少的工具，广泛应用于企业、家庭、银行、医院、军队、政府部门、公安部门等，但从社会现象看来，保险柜被撬被偷案件也是层出不穷、时有发生，对此许多厂家都致力于打造更高安全性能的保险柜，防盗性能更好、科技含量更高的保险柜相继面世，某科技公司最近推出了物联网保险柜，信息一经发布，立即引起了保险柜行业的广泛关注，其独特的手机信息提醒功能吸引了人们的眼光，打破了保险柜单靠密码锁和厚重提及来抵御入侵的传统观念。
%p
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id012101.jpg"}/
%p 据介绍，这种融入物联网技术的保险柜与传统保险柜最大的不同就是它能够知道你何时打开或者搬动了保险柜，不仅随时记录下发生在保险柜上的这些动作，而且可以通过手机报警提示，即使在千里之外，一旦你家的保险柜被打开，你也会立即得到手机的提醒，同时你也可以查询历史记录。对于大量已经在使用的保险柜，该负责人表示，为减少用户的投入损失，只需在现有保险柜内放置该公司的保险柜专用防盗监测器即可。
%p 业内专家分析，保险柜拥有着长远的历史，一直以来都被广大家庭、单位用于物品的保管，在信息化、网络化飞速发展的今天，保险柜也要打破传统观念的束缚，结合物联网技术的发展，进行技术的革新，开创家居安防新纪元。
