---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜的分类
keywords: 保险柜
description: 在经济高速发展前提，保险柜行业得到了迅速的发展，已经形成比较完整的保险柜分类体系，其分类主要同过外形尺寸、安全级别与用途这三方面进行划分。
---
%p< 
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的分类，可以从其外形尺寸、安全级别、用途三个方面去划分：
%p 一、按外形尺寸分类
%p 国家公共安全行业标准GA166-1997《防盗保险箱》规定了防盗保险箱的最大外形尺寸，箱体宽度不大于450毫米，箱体高度不大于320毫米，箱体深度不大于300毫米。超过这一规定尺寸则属于防盗保险柜，必须按国家标准GB10409-2001《防盗保险柜》的要求执行。
%p 二、按安全级别分类
%p 防盗保险箱、柜的安全级别主要是指它的抗破坏能力，简称防盗能力。以在规定的破坏工具作用下，防盗保险箱、柜上最薄弱环节能抵抗非正常进入的净工作时间的长短来分级。
%p 国家标准GB10409-2001《防盗保险柜》将防盗保险柜的安全级别分为6类，即A1、A2、B1、B2、B3、C类。各类防盗保险柜必须达到的抗破坏能力是：
%p （一）A1类防盗保险柜应能阻止用普通手工工具、便携式电动工具和磨头以及这些工具相互配合使用，在净工作时间15分钟以内进入。
%p （二）A2类防盗保险柜应能阻止用普通手工工具、便携式电动工具、磨头和专用便携式电动工具以及这些工具相互配合使用，在净工作时间30分钟以内进入。
%p （三）B1类防盗保险柜应能阻止用普通手工工具、便携式电动工具、磨头、专用便携式电动工具和割炬以及这些工具相互配合使用，在净工作时间15分钟以内进入。
%p （四）B2类防盗保险柜应能阻止用普通手工工具、便携式电动工具、磨头、专用便携式电动工具和割炬以及这些工具相互配合使用，在净工作时间30分钟以内进入。
%p （五）B3类防盗保险柜应能阻止用普通手工工具、便携式电动工具、磨头、专用便携式电动工具和割炬以及这些工具相互配合使用，在净工作时间60分钟以内进入。
%p （六）C类防盗保险柜应能阻止用普通手工工具、便携式电动工具、磨头、专用便携式电动工具、割炬和爆炸物以及这些工具、材料相互配合使用，在净工作时间60分钟以内进入。
%p 三、按用途分类
%p 防盗保险箱、柜按使用对象要求的不同，可分为通用保险箱、柜和专用保险箱、柜两大类。
%p 通用的保险箱、柜一般都是单人使用，按外形尺寸规格的大小，分别为家庭、商务办公、金融系统所使用。
%p 专用保险箱、柜是针对特定的使用对象、特定的使用要求而研制的，如宾馆酒店公寓使用的保险箱、大型超市、卖场使用的现金投币保险柜、公安武警部队贮存枪支的保险柜、古玩玉器珠宝行业使用的保险柜等。
