---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 我国现代保险柜的发展
keywords: 保险柜
description: 我国现代保险柜随着全民奔小康社会的向前推进而发展，保险柜已成为进入家庭的时尚消费品，同时保险柜行业已成为与社会经济和群众生活密切相关的产业。
---
%p 
  新中国成立后，1952年上海有了第一家制造生产
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的厂家。
%p 我国保险柜行业迅速发展是在改革开放之后。目前我国生产保险柜（箱）类产品的企业有2000多家。随着全民奔小康社会进程不断的向前推进，人民生活水平不断提高，保险柜已成为进入家庭的时尚消费品。保险柜行业已成为与社会经济和人民群众生活密切相关的一个产业。2004年8月1日，我国开始对保险柜箱产品实施CCC认证。同时，公安部、国家质检总局、中国认证认可监管委员会，联合发布公通字[2005]48号文《关于加强对列入强制性产品认证目录内的安全技术防范产品质量监督管理的通知》：未获得强制性产品认证证书和未施加中国强制性认证标志的保险柜（箱）类产品，不得出厂、销售、进口或在其他经营活动中使用。这标志着我国保险柜行业向规范化迈进。
