---
layout: news_article
type: 行业新闻
type_eng: industry-news


title: 全能“正能量”席卷全国
keywords: 保险柜
description: 全能保险柜不断累积经验，以“铸企业品牌，创行业领先”为目标，为创“家居安全收纳空间”理念作贡献，也为普及防灾意识的加强与提高贡献“正能量”。
image: 

---
%p
  据了解，悬而未决的《钢铁侠3》档期终于确定于5月3日将在内地与北美同步上映。该剧组在4月23日晚亮相北京国际电影节，以电影人的方式为四川雅安地震人民祈福，祈愿灾区人民以“钢铁意志”克服困难、战胜挑战。秉承“家居安全收纳空间”理念的中国
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  旗舰品牌——全能保险柜自行举行募捐行动，并呼吁大众重视平时做好防灾救灾常识普及工作。
%p “全能”钢铁英雄归来
%p 据了解，《钢铁侠》系列电影讲述男主角托尼•史塔克凭借钢铁战甲除暴安良的故事，电影塑造出人们心中的超级英雄，其力量与能力来自于他穿着的先进动力装甲，每一块铁甲、每一颗螺丝，组合出完整细致的防护系统，再加上超凡的智慧，成就了经典的英雄形象。深究其中，影片中最为让人称道的，是把平凡人看不见摸不着无足轻重的梦想，用威猛强悍的钢铁机甲实体具象化，其坚忍不拔、压倒一切为理想而奋斗的毅力，仿佛在每个人心中无法抑制的复苏，共鸣式的天启和启蒙式的震撼，通过科幻的脐带把惊喜输送给了观众。
%p 据了解，因突发的雅安地震，《钢铁侠3》一众演员工作者在北京国际电影节以电影人的方式为雅安人民祈福，愿灾区人民以“钢铁意志”克服眼前的困难、战胜所有的挑战。DMG CEO丹•密茨也表示“在灾难面前，每一个中国人都是了不起的钢铁侠”。
%p 无独有偶，秉承“家居安全收纳空间”理念的中国保险柜旗舰品牌——全能保险柜公司也第一时间为雅安人民送上祝福。据了解，全能保险柜制造有限公司在25日发动全体员工 400多人进行了募捐，已经与壹基金和顺德慈善会取得联系，通过与慈善组织的合作，为四川受灾民众送上最真挚的祝福与安慰。全能保险柜总经理李政一表示，在灾难面前，人人都是钢铁侠，英雄不只是存在于电影的虚幻世界，就像地震救灾中那些感人的故事，只要拥有强大的内心、果敢的勇气，每个人都可以成为英雄。
%p 全能——现实生活中的安防侠士
%p 据了解，全能保险柜是目前中国大陆领先的保险柜制造企业，历经几十年发展，已成为中国保险柜的旗舰品牌。创新的技术研发、卓越的品质控制、完善的售后服务，成为北京奥运会、上海世博会，广州亚运会产品供应商。
%p 据悉，从创立第一天开始，全能保险柜就不断强调创新的重要性，不仅仅是产品的创新，同样也要有营销的创新、管理的创新。这是全能保险柜的企业精神，也应当是我们特有的民族精神，既是对民族传统的继承，又要不断适应时代的需要，使历史与现实相联，使民族精神真正体现传统精神和时代精神。“继承是前提，创新才是根本。”李总如是说
%p 据了解，全能正是致力于把虚构钢铁侠的精粹转化到实在的安防事业上，打造出现实生活中的安防侠士——全能“钢铁侠”系列产品。该产品采用强度极高的低碳合金钢，箱体板采用U形折弯上下拼接，门板厚度10mm，箱体厚度达6mm，多个加长门栓，全方位提高防御能力。
%p 完璧归赵，全能保险柜彰显“救急”的正能量
%p 李总对记者表示，忧患意识弥足珍贵，才能有备少患或无患。绷紧忧患意识之弦，筑牢科学常识之基，才是对生命财产最好的尊重。他向记者表示，保险柜是家居安全生活的一部分，目前在日本、美国等发达国家，家庭拥有保险柜的比例已达到50%以上，而在我国普及率还不到5%。
%p 他还介绍道，在3.11东日本大地震发生后4个月期间，日本警方回收了数以千计的保险柜，并把其中保存现金交还给所有者。在惨烈的地震海啸中，保险柜居然能幸运完整地使大量现金失而复得并“完璧归赵”，实在是一个奇迹，这对正在重建家园、恢复生产的灾民来说，真可谓是“雪中送炭”了。自然灾害凸显了防灾理财的重要性，更启示着我们必须切实增强防灾理财意识并采取相应措施。
%p 全能保险柜正是希望通过不断累积经验，不断追求探索中，以“铸企业品牌，创行业领先”为目标，为创“家居安全收纳空间”理念作贡献，也为普及防灾意识的加强与提高贡献“正能量”。
