---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜锁具在我国近代的发展
keywords: 保险柜
description: 我国近代锁具的发展，同时应用在保险柜中，促进了保险柜技术的发展，使保险柜的防盗性能大大提高，为后来保险柜在人们生活中的普及作出巨大贡献。
---
%p 
  我国的锁具在近代得到了发展，并应用在保险柜
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  中，也促进了保险柜技术的发展。清代洋务运动以后，随着西方科学技术的不断输入，我国的锁业有了质的飞跃并取得重大的发展。锁的样式、构造，性能大大地提高和改进，人们使用的不再是单调的挂锁，西方引进的各种门暗锁逐步在政府机关、事业单位及富贵家庭中普及使用，并出现了可进行防盗的保险柜。
%p 这一时期，有了第三代和第四代锁。
%p 第三代锁：叶片锁。又名钥匙孔锁。利用钥匙的牙花拨动锁内与之吻合的叶片缺口进行开关。我国从清代就开始生产叶片结构锁了，但一直未能得到普及，主要因为国人习惯于使用簧片结构锁，二十世纪三十年代后才逐渐被弹子锁替代。新中国成立后，还有不少企业生产叶片结构的铁挂锁。
%p 第四代锁：弹子锁。弹子锁的雏形可追溯至约公元前2000年的古埃及，当时的古埃及人把木制的柱装在门上，以一水平放置的门拴颔在柱的上方，门栓上有一系列的凹凸位，装有锁簧，使用特定的钥匙把锁簧向上推，便可以打开门栓。 1848年，老奈纳斯•耶鲁(Linus Yale, Sr.)发明了圆柱状弹子锁，并成功申请专利。他的儿子小奈纳斯•耶鲁(Linus Yale, Jr)将之加以改良，在1961年获得新的专利。这一发明，奠定了现代机械式保安的基础。它具有保密性强，工艺性好等特点，问世不久即被推广，现已成为世界上使用最普遍的锁。清朝光绪二十三年（即1887年）弹子结构锁由美国传入我国，1932年后我国的山东黄县“程大锁行”和上海的“利用锁厂”相继生产弹子结构的门锁及挂锁。
%p 这一时期锁具发展，使保险柜锁具也得到相应的发展，大大提高了保险柜的防盗性能，为后来保险柜在人们生活中的普及作出了巨大的贡献。
