---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 佛山陶瓷厂火灾的警示
keywords: 保险柜
description: 佛山陶瓷厂发生了特大火灾事故，暴露了人们消防意识的薄弱，防火的保险柜或保险箱储存财产、重要票据、企业证件等，都能有效降低火灾带来的损失。
---
%p 据新华网的消息，8月23日清晨，佛山三水区一家陶瓷厂发生了特大火灾事故，造成了15人丧生的惨剧。
%p 经清查，这次火灾共造成了12人在火灾中死亡，2人跳楼死亡，1人送院后抢救无效死亡，另有1人重伤。
%p
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id012201.jpg"}/
%p 据调查信息显示，这次的事故体现了消防部门监管力度的不足，厂区消防设施的不完善，存在着严重的消防隐患，同时也暴露了人们消防意识的薄弱。这次严重事故无疑敲响了许多企业的防火警钟，血的教训值得我们深刻反思，应当要丰富我们的防火知识，进行合理化的防火管理。
%p 企业防火，应该注意一下几点:
%p 企业应组织全体员工进行安全消防教育，并组织相关人员进行消防训练。 安排相关人员定期进行安全消防检查，杜绝安全隐患。 根据工作场地面积，配置一定数量的消防器材，并设立警示标志。 企业使用的消防器具和设备，必须是有国家生产许可证和产品质量认证证书的产品；使用的电器设别的质量，必须符合消防安全要求，并定期检修。 禁止在未经允许使用明火的工作场所擅自动用明火。 技术和生产部门必须制定安全操作规程，员工工作必须按操作规程进行。 仓库的库存物资和器材，要按国家及行业有关规定堆放和管理，对易燃、易爆有害物品要严格按章妥善管理，纸箱、纸板禁止堆放在电源开关附近。 划定禁烟区，企业员工不得在禁烟区吸烟。吸烟必须在规定的吸烟地点，吸完后必须熄灭烟头，严禁随地乱丢。 禁止在办公场所和宿舍使用电炉。 任何人发现火险，都要及时、准确地向消防机关报警，并积极参加扑救。企业禁止下列行为： 擅自改变消防设施的用途；毁坏消防设施和器材；影响消防设施的使用；破坏防火间隔的功能；阻碍消防通道畅通。
%p 可使用防火保险柜或保险箱储存财产、重要票据、企业证件等，能有效降低火灾带来的损失。防火保险柜或保险箱储存财产、重要票据、企业证件等，能有效降低火灾带来的损失。
