---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 经济危机引发恐惧,保险箱销量飙升
keywords: 保险箱
description: 经济危机使人们不安全感上升，保险箱开始得到青睐。店主开始自己保管有价值的货物，另一些则希望更好地保存诸如黄金、现金等安全避险资产。
---
%p
  据美国有线电视新闻网8月14日报道：经济危机使得人们的不安全感上升，
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  与贵重物品保管柜开始得到青睐。一些商店店主开始自己保管有价值的货物，另一些人则希望更好地保存诸如黄金、现金等安全避险资产。
%p 夏洛特港一家家具店表示，其过去一周内平均每天售出13000个保险箱，是之前一周日均销量3500个的三倍还多。亚马逊网上1.2立方英尺的森特理密码保险箱，售价170美元，在过去的24小时内销量增长44%，一举登上了该网站周五最热卖产品排行榜。
%p 一家专营保管钱币、珠宝、枪支等贵重物品保险箱的家具店负责人指出，该公司保险箱销量在三年前经济衰退之初即开始逐渐升高，并指出随着经济危机的逐步蔓延，人们开始对美元的不断贬值、邻居盗窃犯罪率的攀升感到焦虑，甚至忧心忡忡于其他国家的骚乱会传染到本国。
%p 尽管经济陷入衰退使得节省开支成为必然，但人们在保护自己有价值的资产方面仍然不惜重本。例如布朗保险箱高端系列产品，从价值450美元的嵌式保险箱到价值12万美元的客户装甲豪华保险箱，过去三周销量增长了38%。
  
