---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 防盗保险柜与防盗保险箱有关的定义
keywords: 保险柜
description: 随着当今社会的经济发展，人们的财富急速增长，对保险柜与保险箱的需求也日益增加，我国已经对防盗保险柜与防盗保险箱有了十点明确的定义。
---
%p<
  随着当今社会的经济发展，人们的财富急速增长，对
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  与保险箱的需求也日益增加，与保险箱已经走进平常百姓家。我国已经对防盗保险柜与防盗保险箱有了十点明确的定义。
%p 一、防盗保险柜与防盗保险箱是一种具有一定防范能力，能在规定的净工作时间内抵抗规定的破坏工具作用条件下非正常进入，装有机械、电子锁具的箱、柜体。
%p 二、净工作时间是指对防盗保险柜与防盗保险箱实际的破坏攻击时间，不包括试验准备时间及试验过程中可能延误的时间
%p 三、破坏工具是指普通手工工具、便携式电动工具、磨头、专用便携式电动工具、割炬、爆炸物。
%p 四、便携式电动工具在国家标准GB10409-2001《防盗保险柜》中的规定是：钻头直径不大于12.5毫米的手电钻、冲头直径不大于25毫米的冲击电钻及加压装置。
%p 五、磨头在国家标准GB10409-2001《防盗保险柜》中的规定是指转速为14000转/分～22000转/分的模具电磨驱动的锥形、盘形、圆柱形及类似形状的磨削工具。
%p 六、专用便携式电动工具在国家标准GB10409-2001《防盗保险柜》中的规定是指砂轮直径不大于200毫米的便携式砂轮切割机、电锯及钻头直径不大于25毫米的电锤。
%p 七、割炬在国家标准GB10409-2001《防盗保险柜》中的规定是指氧－乙炔割炬，规格不大于G01－30的射吸式割炬。
%p 八、爆炸物在国家标准GB10409-2001《防盗保险柜》中的规定是指标准梯恩梯（TNT）炸药或具有相当爆炸能量的其它炸药。
%p 九、进入是指在防盗保险柜与防盗保险箱的抗破坏试验中，在规定的净工作时间内，在规定的破坏工具作用下，防盗保险柜与防盗保险箱的门被打开或在防盗保险柜与防盗保险箱上开出一个大于规定面积的开口。 
%p 十、开口在国家公共安全行业标准GA166-1997《防盗保险箱》中的规定是38平方厘米，在国家标准GB10409-2001《防盗保险柜》中的规定是38平方厘米或13平方厘米。38平方厘米是指最小边长为38毫米的矩形开口，或最小高为51毫米的三角形开口，或直径为70毫米的圆形开口。13平方厘米是指最小边长为25毫米的矩形开口，或最小高为25毫米的三角形开口，或直径为41毫米的圆形开口。
