---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜中锁具技术的应用
keywords: 保险柜
description: 在保险柜的发展历程上，锁具技术的发展会给保险柜业发展带来新的发展空间，日新月异的锁具技术为保险柜行业带来带来更多高安全性的保险柜品种。
---
%p 
  19世纪早期，
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  是用铁皮加固再配有挂锁的木箱。然而，装在这种木箱里面的财物对盗贼而言是“容易得来的钱”，因为他们可以轻易的破坏锁具、砸烂或干脆直接搬走保险柜。为了提高保险柜的防盗性能，更安全地存放价值更高的物品，保险柜制造商绞尽脑汁不断改进技术，但盗贼也在不断地“钻研”破坏技术。保险柜的发展，就在这样的“道高一尺魔高一丈”较量中不断发展。这种较量不但促进了保险柜产业的发展，而且激励着人们一直为保险柜的设计及工艺改进不懈努力。 
%p 早期保险柜的锁机构直接由钥匙而非通过手柄操纵，安全性能受到影响。1866年，Samuel Whitfield发明了一种齿轮传动装置并申请了专利，这种技术可通过齿轮传动方式将锁栓伸展到箱体的门框后。继James Felton Elwell设计出第一个由手柄操纵的四向锁栓联动机构后，Samuel Whitfield应用自己专利技术及 James Felton Elwell的技术，制造出一种保险柜新产品，当时被称为Sicker专利保险柜。Sicker专利保险柜开了一代技术先河，使保险柜摆脱了钥匙直接操纵锁栓的局限，安全性也有了极大的提升。
%p 
  %img{alt: "圆形锁栓的保险柜", src: "http://www.qnnsafe.com/images/news/id004801.jpg"}/
%p 上图为1867年左右的Sicker专利保险柜，可看到独立于锁具，由手柄操纵的联动四向锁栓机构及圆形锁栓，这可能是最早使用圆形锁栓的保险柜。
%p 保险柜的发展是与制锁业的发展互相促进、相辅相成的。8世纪，东罗马人制成最初的叶片锁。18世纪初，英国人丹尼克发明的转片锁，锁内金属叶片利用弹簧控制转动，钥匙插入锁内必须先转动叶片接触到锁舌缺口才开启。19世纪，欧洲制造商发明了高级凸轮转片锁，钥匙的牙花增到1600种，后来的各种改进更使钥匙牙花增至上万种变化。
%p 18世纪中期，美国的锁具工业大多数都是对欧洲产品的复制。19世纪，美国人尼鲁斯.耶鲁和他的儿子小尼鲁斯.耶鲁（Linus Yale）发明了弹子锁。弹子锁和叶片锁在保险柜发展的初期，被广泛地使用。而叶片锁经过不断发展，该项技术一直使用至今。
%p 英国保险柜行业泰斗Chubb最早就只做锁具，后来才进入保险柜制造业。欧洲早期的保险柜厂商如Price, Tann, Hobs 及Bramah均在锁具及保险柜行业同步发展并取得了突出的成就，其中Bramah是公认的世界上最早的制锁公司。在19世纪末期前，各类保险柜中即使是最昂贵、最高级别防盗技术的保险柜仍主要是使用钥匙锁，而且几乎所有的都是用钥匙直接操纵单个或多个门栓实现开关，需要较大的钥匙及钥匙孔。这给保险柜的安全性带来了“硬伤”，一是很容易遭到来自于锁孔的侵袭，二是很容易通过楔子或杠杆撬开。经过盗贼的反复“考验”之后，保险柜业界出现了小锁孔防爆叶片锁。Cornhill盗窃案(Cornhill Robbery)之后，各著名的保险柜制造商都从各方面对自己的保险柜锁具进行了技术革新。
%p 
  %img{alt: "英国Ratner3级保险柜门板及机构的构造图", src: "http://www.qnnsafe.com/images/news/id004802.jpg"}/
%p 上图为1890年代英国Ratner3级保险柜门板及机构的构造图。使用了很多当时出现的新技术。该保险柜采用了固定围板机构盒设计，4块3/8英寸(10mm)的T型钢板铆接在1/2英寸(12mm)门板上形成机构盒，加上3/8英寸厚的机构、锁栓安装板，门板总厚度达7/8英寸(23mm)，门铰端有1/2 x1/2英寸死栓，机构后盖含防火层并用螺丝固定在围板上。可以发现所有的锁栓都是方形的。
%p 19世纪末，欧洲人利用瑞士钟表工艺技术，开发出转盘式密码锁。于是，保险柜锁具的发展又有了一个全新的突破，进入了机械无钥匙时代。随后，美国人通过购买专利、仿制等手段得到了该项技术，S&G(Sargent & Greenleaf)公司及La Gard公司使之发扬光大。20世纪初以来，S&G及La Gard的码盘锁已风行全球，几乎所有著名的保险柜厂商都选用它们的锁具。
%p 
  %img{alt: "早期使用转盘式密码锁(Mosler 码盘)保险柜", src: "http://www.qnnsafe.com/images/news/id004803.jpg"}/
%p 上图为早期使用转盘式密码锁(Mosler 码盘)的保险柜。
%p 
  %img{alt: "钥匙操纵的方型锁栓保险柜", src: "http://www.qnnsafe.com/images/news/id004804.jpg"}/ 
%p 上图为1841年美国银行锁具公司（AmericanBank LockCo.）制造的保险柜，只有一个直接由钥匙操纵的方型锁栓
%p 锁具技术的发展也给保险柜业发展带来了更巨大的发展空间，日新月异的锁具为行业带来更多的品种。传统保险柜中，码盘锁与钥匙锁不可或缺，S&G在19世纪七十年代就发明了机械时间锁，定时已超过100个小时，即在规定时间内任何人都不可以打开保险柜。20世纪60年代后由半导体技术发展而来的电子密码锁，也为保险柜行业带来全新的面貌。而80年代发展起来的生物识别技术，又带来了指纹锁及掌纹锁；磁卡、IC卡、无线射频技术等也派生了更多的保险柜产品。
%p 
  %img{alt: "S&G早期的时间锁", src: "http://www.qnnsafe.com/images/news/id004805.jpg"}/ 
%p 上图为S&G早期的时间锁（1900年）
