---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 酒店保险柜与沙滩保险柜介绍
keywords: 保险柜
description: 酒店保险柜具有可以查询120个开门记录，备有应急开门等功能，而沙滩保险柜体积不大，重量适中，能够将您的贵重物品都收纳到安全的地方。
---
%p<
  酒店
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  主要有客房保险柜、大堂保管箱、大堂收银柜等品种。
%p 酒店保险柜具有可以查询120个开门记录，备有应急开门等功能。大堂保险箱各单元可以根据需要进行自由组合，采用双头锁设计，需两把钥匙同时开启，主匙由管理持有，副匙交客人使用。
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id019101.jpg"}/ 
%p 上图为QNN safe全能酒店保险柜ME-2045ZH。
%p 沙滩保险柜专门为在阳光沙滩度假消费群体而制作。其特点是：体积不大，重量适中，能够将您的贵重物品都收纳到安全的地方，让您在享受海洋风光的时候无后顾之忧。
%p 把随身物品放入保险箱内，关上保险箱并启动警报，一旦有人骚扰保险箱，警报即刻激活；当它被放回原地，保持静止，警报才会解除。借助于保险箱的防水防尘输入面板输入密码，警报预警状态才会解除。正因如此，您也就无需随身携带碍手碍脚的钥匙了。
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id019102.jpg"}/ 
%p 上图为沙滩保险柜。
