---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜锁具在西方的发展
keywords: 保险柜
description: 保险柜锁具在西方的发展，一直伴随着人们与盗贼的斗争而发展，从叶片锁到现代的电子锁，从政府到民间，从阳光到非法，而且还将继续向多样化发展下去。
---
%p<
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  锁和钥匙在《旧约全书》就屡次被提到，在尼希米记书的第三章，就有这样的描述：约在公元445年，在修耶路撒冷的旧城门时，他们装了门、锁和围栏。这证明当时的锁具已被广泛应用，并有锁匠工人经常被邀请去给欧洲的王室及大教堂制作锁及钥匙。 
%p< 
  %img{alt: "具有浓厚宗教色彩的门锁装饰", src: "http://www.qnnsafe.com/images/news/id017701.jpg"}/ 
%p 上图为具有浓厚宗教色彩的门锁装饰。
%p 关于保险柜锁具的发展，世界各国的专家们都普遍认为保险柜锁具的发源中心有两个：一是两河流域及埃及，最后传到希腊、罗马甚至整个西欧，直至英伦三岛，再到美国；另一个中心就是中国，北上传入朝鲜，东进传入日本，南下传至越南等地。%p< 
%p 西方的保险柜锁具发展历史也印证了上述说法。木保险柜锁在4000年前就在底格里斯河流域的亚述古国出现。公元8世纪，东罗马人制成了最初的叶片锁，又名钥匙孔锁。这种锁利用钥匙牙花拨动锁内于之吻合的叶片缺口进行开关。
%p 第一把纯五金保险柜锁在公元约870年到900年间出现，是由一名英国的工匠制造出来的，其锁舌很简单，铁制的障碍物填充在钥匙孔的周围以防被盗开。而这在锁内添加障碍物，则是由罗马人发明的，他们在锁内设置障碍，可防止非法进入或者用别的钥匙打开。障碍物被设计成缺口的形式装入锁内，它成为锁的一种基本的机构。
%p 公元18世纪，英国人丹尼克•波特发明出凸轮转片锁，锁内金属叶片利用弹簧控制转动，钥匙插入锁内必须先转动叶片接触到锁舌缺口才开启。1778年，英人巴伦改良了罗马人的缺刻锁发明了杠杆制栓锁，开启了人类制锁的新纪元。
%p 19世纪，欧洲制造商发明出高级凸轮转片锁，钥匙的牙花增到1600种，后来的各种改进更使钥匙牙花增至上万种变化。叶片锁的钥匙造型美观大方，被公认为锁和钥匙的标志，许多国家把它制成大型的金钥匙，赠送给友邦、贵宾，象征尊敬、和平和友谊。
%p 1848年，美国人老奈纳斯•耶鲁(Linus Yale, Sr.)发明了圆柱状弹子锁，后来他的儿子小奈纳斯•耶鲁(Linus Yale, Jr)将之加以改良并获得新的专利。这一发明，奠定了现代机械式保安的基础。它具有保密性强，工艺性好等特点，问世不久即被推广，现已成为世界上使用最普遍的锁。后来，现代弹子锁的结构又有新的发展，出现双向、三向、四向弹子，母弹子等多种结构，以及平面、双面、多面、双排双面、多排多面弹子结构和组合弹子结构，从而大大提高锁的保密性能，使锁的编号由原有的2500种通过“向”、“面”的变化达到百万种。 
%p 保险柜锁具的很多技术在十八、十九世纪得到了发展，并且进一步加强了锁的安全性。铸铁、黄铜和粘土的新应用彻底改变了锁的外观。18世纪晚期，在英国用模具制造的锁在市场上很畅销，主要用于锁在房子大门上。不同的国家根据自己的习惯和文化，制作出不同特点的锁具，如荷兰肘锁，摩拉维亚锁，法国铜制的叶片榫锁，各显示了不同的民族特色。
%p 机械保险柜锁具的诞生已有几千年，由最初限定房门的粗陋木栓，逐渐演变成了更为结实的金属锁栓，并且目前仍被不断地改进着。叶片锁于17世纪在欧洲被发明，由于其制作材料很坚固，在保险柜行业及美国监狱得到了广泛使用，在一些国家也用它们来做门锁。弹子锁是目前在西方最为广泛使用的一种锁，这种锁的机械原理在公元前2000年开始就被埃及人所应用，后来在18世纪中期被美国锁匠Linus Yale Sr.及他的儿子Linus Yale Jr.改良了设计，这种锁在19世纪取代了中世纪的warded锁。Wafer锁的第一项专利由美国人P.S. Felter于1868年取得，其制作成本相对较低，经常被用于汽车和橱柜化行业，这种类型的锁一般是压铸的锌合金所制。
%p 电子保险柜锁具是随着现当代科技的发展而发展起来的，其采取电子电路控制，是以电磁铁或者卫星电机和锁体作为执行装置的机电一体化锁具。相比传统的机械锁具，电子锁具具有不使用金属钥匙，保密性高、精度性高等特点。电子锁具的发明，也是源自古代发明自动机械的启发，如古希腊数学家赫伦的液压自动门，以重力或蒸汽压力驱动。按照输入密码方式，电子锁具可以分为以下几类：按键式电子锁、拨盘式电子锁、电子钥匙式电子锁、触摸式电子锁、生物特征式电子锁。
%p 不过，即使在科技高度发展的今天，作为锁具史上的亚历山大幽灵，也还是阴魂不散。如上世纪90年代中期，在英国、奥地利、日本是最先研制成功的现代磁性锁，已经将磁性编码和弹子结构巧妙地结合，但一个小小的打火机，就可以轻易制造出让磁性弹子消磁的温度，经高温处理的磁性弹子丧失了磁性，开启难度也会大大降低。
%p 在世界锁具发展史，从政府到民间，从阳光到非法，人们与盗贼的斗争始终没有停止过，而且还将继续下去。
