---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜选购技巧
keywords: 保险柜
description: 保险柜是一种具有家具和防盗特殊产品，国家对保险柜生产有严格要求，在选购时应特别注意，不能光看外表，也不能只看功能，购买时要注意五大特征。
---
%p<
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  是一种特殊的产品，国家对保险柜的生产有严格的要求，因此在购买时要对这些要求有初步的了解。 
%p 保险柜宽、高和深的尺寸分别小于450mm、320mm和300mm，其特点是体积小、重量轻，具有一定的防盗性能。它运输、安装比较方便，通过膨胀螺栓等固定装置与地面或墙壁固定，窃贼不易搬走。镶嵌式保险柜镶嵌在墙内，具有一定的隐蔽性，适合宾馆和家庭中使用。
%p 保险柜的尺寸大于上述规定，防盗性能高于保险箱，它比较适合机关、企事业单位使用。保险柜根据其防护性能又可分为A类、B类和C类3种。其中C类防盗性能最高，A类最低。现在在商场里见到的保险柜绝大部分都属于A类防盗保险柜。
%p 公安部安全防范报警系统产品质量监督检验测试中心和公安部安全与警用电子产品质量检测中心，负责对全国的保险柜产品的生产进行监督检测。因此消费者在选择这类产品时一定要购买经检验合格的产品，使保险柜真正起到保险的作用。
%p 保险柜因其特殊的功用——家具兼防盗，在选购时应特别注意，不能光看外表，也不能只看功能，购买时应注意：
%p 一、钢板选材
%p 从钢板的厚度、材质、产地等进行辨别，这些关系到使用电钻、切割等专用工具破坏时保险柜的承受能力。
%p 二、成型及焊接
%p 查看柜体是否一次成型，检查柜门与门框之间的缝隙、开关是否灵活，缝隙过大则防撬功能减弱，对防火保险柜来说，过大的缝隙是绝不允许的。
%p 三、传统结构
%p 这是保险柜的核心部分。因其在保险柜体内用户无法察觉得到，但它正是防技术性开启的关键。用户在购买时可以要求商家打开门板后的后盖，查看内部的传统结构是否精密，传动是否灵活。另外也要查看锁栓结构，锁栓直径加粗最好，现在流行的天地锁栓格式就具有很好的防开启效果。
%p 四、锁具
%p 如果说传统结构是一个面，那么锁具就是最重要的一个点，破坏锁具或者仿照钥匙都相当于破坏了防盗机构的心脏。复杂的锁具能有效防止破坏和钥匙仿照。
%p 五、辅助零配件
%p 零配件的处理都要保证其性能的可靠，以应对千变万化的使用环境。
