---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜应用电弧焊接技术
keywords: 保险柜
description: 1920年电弧焊接技术得到了广泛的使用，保险柜引入并应用钢板加混凝土加防弹纤维等抗爆材料进行制造，保险柜行业进入了一个全新的时代。
---
%p
  1920年左右，电弧焊接技术得到了广泛的使用。保险柜的加工制造也很快使用了这项新技术，
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  行业进入了一个全新的时代。
%p 第一次世界大战后，出现了火焰切割机。为防止切割，制造商在保险柜箱体中加入了铜及冷铸铁材料。同一时期，高爆炸药也被盗贼使用于侵入保险柜，20年代Ratner在保险柜中加入了防炸重锁装置。与此同时，Chubb, Milner 及Hobbs Hart 都开发出不少的防爆产品。
%p 为对付转盘电锯及火焰切割器，很多的复合材料应运而生。标志性的事件就是1962年Chubb引入新兴的TDR(Touch & Drilling Resisting)材料，这种合金材料足以抵御电钻及火焰切割的侵袭。1963年，Stradford公司成立并大量生产混凝土保险柜，之后经过众多公司的改良，钢板+混凝土+防弹纤维的抗爆材料也已被引入并应用到保险柜制造和加工中。
