---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 新潮小庙,香火钱装进保险箱
keywords: 保险柜
description: 随着保险柜（箱）创安全收纳空间观念的普及，生活中随处可见保险柜、保险箱的影子，这不我们一起来看看用保险箱装香火钱的新潮小庙。
---
%p （消息来源于东南快报）
%p
  随着
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  （箱）创安全收纳空间观念的普及，生活中随处可见保险柜、保险箱的影子，这不我们一起来看看用保险箱装香火钱的新潮小庙。
%p
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id012001.jpg"}/
%p 近日，市民郭先生在福州的镇海楼白仙宫里看到了这样一个有趣的现象。
%p 当时看到这个立在墙角的保险箱，我还不知道是做啥用的，直到看见它旁边贴着一张写着香火钱的红色纸条，我才知道原来是锁香火钱的。郭先生调侃，我逛过不少庙宇，还第一次发现香火钱用保险箱锁的！
%p 毋庸置疑，小庙的储存观念除了大家觉得的新潮外，也挺值得借鉴的，保险箱比起一般的香油箱更安全，能有效地避免香油钱被不法之徒轻易拿走。随着人们对保险箱、保险柜认识的加深，保险箱（柜）将会应用到更多的地方。
%p 安全空间，全能实现！
