---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 1865年Cornhill保险柜盗窃案
keywords: 保险柜
description: 1865年发生了历史上著名的Cornhill保险柜盗窃案，85万英镑的财产被盗贼洗劫一空，对近现代保险柜的安全设计产生产生深远的影响。
---
%p<
  1865年2月6日，英国伦敦Cornhill 的Walker珠宝行发生一起特大的盗窃案,约85万英镑的财产被盗贼洗劫一空，这就是历史上著名的Cornhill
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  盗窃案。
%p 在这之前的12个月里，当地保险柜被盗案就接二连三。先是Fenchurch 街的金银经销商Thomas Mckeown的保险柜被用扒具和万能匙打开，继而位于Threadneedle街的珠宝商Johnson遭遇相同的命运，接着Lombard街的一个金银经销商Baum, Strand街的Abrahams的保险柜也被打开。
%p Cornhill特大保险柜盗窃案发生后，一时满城风雨。保险柜制造商遭到了广泛的谴责，保险柜 “无用的”代名词。后来相关盗贼被捕送上法院审判，主犯Thomas Caseley被判处14年徒刑。然而，更给保险柜商沉重打击的是，窃贼Thomas Caseley在被审判中，居然声明可以在35分钟内用楔子和杠杆打开防盗保险柜，甚至在无干扰的情况下15分钟即可打开防盗保险柜。舆论更是为此哗然，纷纷指责当时被称为最坚固的保险柜名不符实。
%p Cornhill特大保险柜盗窃案等系列案件给英国每一个保险柜制造商极大的震撼，促使他们积极寻求改进，尽量避免类似的事情在将来发生，由此对近现代保险柜的安全设计产生也产生极其深远的影响。在1865年2月到1866年3月这12个月时间里，英国保险柜制造商“发愤”研发出总共36项新专利，它们都旨在加强保险柜从箱体到门之间联接处，有的专利技术至今仍被沿用。
