---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 近代外国保险柜锁具的发展
keywords: 保险柜
description: 保险柜锁具外国近代发展从叶片锁到安全实用又可大量生产的弹子锁，从此锁具的制造正式进入了工业化量产时代，同时也为保险柜的发展作出杰出贡献。
---
%p 
  公元8世纪，东罗马人制成了最初的叶片锁，又名钥匙孔锁。这种锁利用钥匙牙花拨动锁内于之吻合的叶片缺口进行开关。公元18世纪，英国人丹尼克•波特发明出凸轮转片锁，锁内金属叶片利用弹簧控制转动，钥匙插入锁内必须先转动叶片接触到锁舌缺口才开启。19世纪，欧洲制造商发明出高级凸轮转片锁，钥匙的牙花增到1600种，后来的各种改进更使钥匙牙花增至上万种变化并同时应用在
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  上。叶片锁的钥匙造型美观大方，被公认为锁和钥匙的标志，许多国家把它制成大型的金钥匙，赠送给友邦、贵宾，象征尊敬、和平和友谊。
%p 1778年，英人巴伦改良了罗马人的缺刻锁发明了杠杆制栓锁，开启了人类制锁的新纪元。1844年，美国人耶鲁父子发明了一种影响全世界的锁具——针珠制栓锁，也就是俗称的弹子锁、喇叭锁，它既安全实用又可大量生产，至此锁具的制造正式进入了工业化量产时代，同时也为保险柜的发展作出杰出贡献。
