---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜的多元化发展
keywords: 保险柜
description: 当今的保险柜朝着数字化、多元化、立体化等方面发展，但是保险柜始终是安防体系的组成部分，随着其功能的细化，保险柜越来越广泛被普通家庭所应用。
---
%p
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  发展自18世纪开始至今，其结构似乎并无太大的变化，但为适应不同的使用环境及功能，却细分出无数的种类，有的品种甚至已经背离了当初箱子的造型，但防盗、保安仍然是其基本功能。随着安防产业的高速发展，很多历史悠久的厂商已成为经营多元化保安系统的企业。数字化、多元化、立体化的保安系统已经进入了人们的生活，保险柜始终是安防体系的一个重要组成部分，随着其功能的细化，保险柜越来越广泛被普通家庭所应用。由于应运而生的新储存物不断诞生，保险柜也不断适应时代发展的需要，门类不断扩大，品种层出不穷，如适应磁性纪录材料的收藏出现了防磁保险柜；适应字画、古董的收藏需要，有了防潮、防水保险柜等。
%p 保险柜发展的历史，是人们与盗贼斗争的历史。在与盗贼的不断较量中，保险柜技术也不断改进和发展。防盗保险柜所走过的历程是：木头+铁箍→铸铁+铆钉→钢板+防钻硬钢→钢板+混凝土→多重钢板+复合材料。其应用范围也在不断扩大，由主要是商务办公、银行、政府、公安、酒店、珠宝行等的应用，进入了寻常百姓家，成为了普通百姓的家居家具之一。
