---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜锁具在我国的起源
keywords: 保险柜
description: 保险柜锁具的渊源历史悠久，其发展至今已有五千多年的历史，其由简单到复杂，由低级到高级，在人类社会发展的这种演变正是社会经济和科学发展的见证。
---
%p 
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  锁具的渊源历史悠久，其发展至今已有五千多年的历史。早在蛮荒时代，我们的祖先就学会了用兽皮收纳个人贵重财物，收纳财物时把兽皮用绳索牢牢捆缚，最后在开启处打上特殊的绳结，这种紧紧捆死的绳结，只能用一个叫做“错”的工具才能挑开。错，又名“肖”、“刀”、“起子”，它用兽牙或兽骨制成，形状像一把镰刀状的钩子。实际上，这种绳结就是最早的锁具，而“错”就是最早的钥匙，这就是我国锁具的起源和雏形。现在的“中国结”， 就是是由旧石器时代的收纳、缝衣打结而来，其情致与智慧正是中华古老文明中一个侧面的反映。
%p 锁在我国别称很多，诸如牡、闭、钥、链、钤等。锁具早期为竹、木结构，主要用于门闩。春秋战国时，鲁班在木锁内设堂奥机关，改进了木锁。东汉时，发明了金属锁。唐代，已普遍使用金银铜铁等材料制锁。据考古发现，我国早在5000年前就有了木结构的锁，而国外发现最早的木结构锁是4000年以前的，比我国推迟1000年。随着人类文明和科技的发展，锁具已由古老的“木将军”演变发展为今天的17个大门类，数以万计的品种产品，并出现了应用声、光、电、磁等先进科学技术制成的各式各样现代化锁具。
%p 保险柜锁具的发展历史，也是一部人类文明发展史，其由简单到复杂，由低级到高级，由个别拥有到普及使用，由个体手工打制到企业现代化生产，这种演变正是社会经济和科学发展的见证。
