---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜及锁具发展简史导语
keywords: 保险柜
description: 本文是全能保险柜出版的《保险柜及锁具发展简史》的导语，主要说明在人类社会发展中保险柜与锁具发展史也就是一部反盗贼的斗争史。
---
%p
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  和锁具是人们日常生活中用以防盗和保护财产的一种器具。随着人类社会的不断发展，保险柜与锁具的用途不断扩大，使用范围也越来越广。保险柜和锁具的发展，为人类文明作出了积极的贡献。
%p 保险柜与锁具均起源于防盗。关于防盗，早在十分久远的年代，就已经是人们讨论的话题了。《左传•襄公三十一年》：“盗贼公行，而夭历不戒。”《周礼•天官•小宰》：“五曰刑职，以诘邦国，以纠万民，以除盗贼。”《荀子君道》：“禁盗贼，除奸邪。”“防盗”这一古老而又现实的话题，与人们生活的息息相关，在今日也是人们的广泛关注问题，并由此催生了现代安防业日益壮大发展。
%p 一部保险柜与锁具发展史，其实就是一部反盗贼的斗争史。保险柜与锁具正是在人们与盗贼不断进行的“道高一尺魔高一丈”较量中，不断改进技术和方法而向前发展的。保险柜与锁具在人类发展长河中的种种发明创造，无不凝结着劳动人民辛勤的汗水和智慧的结晶。
