---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜锁具在西方的起源
keywords: 保险柜
description: 在古代，欧洲的先民为了更好地保护自己的财产，使用灯心草和纤维制作的绳子用来锁门，绳结大概便是锁的最早起源，也为保险柜的发展打下坚实的基础。
---
%p<
  在上古时代，欧洲的先民使用灯心草和纤维制作的绳子用来锁门，绳结大概便是锁的最早起源，也为以后
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  的发展打下坚实的基础。 
%p 在没有锁具也没有保险柜的年代，人们为保护贵重财物绞尽脑汁。在印度，安南国王时期，贵重物品被存封在大块木头里面，这些木头会放置小岛上，或者宫殿庭院内的周边水池内。在贵重物品存放处的水面，养着许多永远处于饥饿状态的鳄鱼，它们是王室贵重物品的“守护天使”。如果偷盗者胆敢潜入水中行窃，这种冒险往往意味着面临死亡。当然，若能毒死或者杀死鳄鱼，对于偷盗者而言，这也许实施盗窃计划的最好办法（如下图所示）。
%p< 
  %img{alt: "西方古代防盗办法", src: "http://www.qnnsafe.com/images/news/id017601.jpg"}/ 
%p 据考证：在西方保险柜锁具发展史上，第一把木锁可追溯到4000年前，是由埃及人所发明的。在金字塔内的图画显示，当时锁的构造原理——把钥匙插入抬起锁梢以打开门闩。这种木制的锁及钥匙4000年前就在亚述古国（西南亚洲底格里斯河流域）开始使用。
%p 在萨尔贡二世（公元前722年至705年在位）的沙巴德波斯宫殿大门上，就发现了一古老的木锁，从其外形及操作上看，非常类似于长弹珠锁。在钥匙末端的销子同在门栓里的挡条或弹珠相接应。当插入的时候，销子提升弹珠，这样门栓可以退回去，门就被打开了（如下图所示）。
%p< 
  %img{alt: "古代保险柜木锁", src: "http://www.qnnsafe.com/images/news/id017602.jpg"}/ 
%p 在美国人的百科全书里，保险柜锁具的定义是：由人设计的一类锁定器具，它能阻止未经允许的人轻易释放处在安全锁定状态的锁栓。为了更好地保护自己的财产，人们创造一种装置把财产保护起来，于是便有了锁，也应用在保险柜的防盗作用上。
