---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 灾难过后，数千保险箱寻回主人
keywords: 保险柜
description: 据日本新华侨报网消息，自大地震发生以来，日本东北灾区清理出大量装有现金的保险箱，大多由当地警方保管，如今这些保险箱基本都已归还失主。
image: 
---
%p
  引述环球时报的报导，据日本新华侨报网消息，自大地震发生以来，日本东北灾区清理出大量装有现金的
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  ，大多由当地警方保管。距离震灾过去近5个月，这些保险箱基本都已归还失主。
%p 据日本《读卖新闻》报道，8月15日，日本警察厅发布消息称，3月11日，日本震灾发生后，截止至当地时间7月10日，警方在岩手、宫城和福岛三县灾区共回收保险箱5700个，其中现金数额高达23.67亿日元。
%p 据警察厅称，目前96%的现金，共计22.7亿日元已归还失主。这些保险箱是三县警察、当地市民以及自卫队在清理受灾现场时拾得的，大部分为家庭以及企业的保险箱。
%p 据了解，这些保险箱中来自宫城县的最多，为2420个；岩手县为2370个；福岛县为910个。保险箱多集中在受海啸灾难严重的沿海地区，岩手县釜石警察署共拾得900个，大船渡警察署共拾得840个。装有现金最多的一个保险箱是宫城县石卷市警方拾得的，共9900万日元，已还给失主企业。据警方称，拥有保险箱最多的是现金交易频繁的渔业者。
%p 由此可见，家用保险箱在日本的普及率是比较高的。由此，对于保险箱之于我们家庭的作用，带来了新的诠释：保险箱能帮助我们暂时保管日常收益之余，在意外的发生时能有效地减少我们的损失，那些属于我们的重要物件，不会被无情的灾难轻易带走。
%p
  %img{alt: "保险柜十大品牌", src: "http://www.qnnsafe.com/images/news/id011801.jpg"}/
