---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 西方保险柜锁匠及其专利
keywords: 保险柜
description: 18世纪以来，西方出现了一批著名的保险柜锁匠，他们对保险柜锁具进行不断改进及发明，其专利为世界锁具业及保险柜行业的发展作出了不可磨灭的贡献。
---
%p<
  18世纪以来，西方出现了一批著名的
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  锁匠，他们对保险柜锁具进行不断改进及发明，其专利为世界锁具业及保险柜行业的发展作出了不可磨灭的贡献。 
%p 1778年，Robert Barron取得了双作用叶片锁的专利，第一次对锁安全性进行了合理的改进。
%p 1784年，Joseph Bramah取得了安全锁的专利，在长达67年的时间内，没有人能够撬开它，后来A.C. Hobbs花了至少50个小时才打开它。
%p 1818年，Jeremiah Chubb取得了探测锁的专利，并受到政府部门的奖励。这种锁被认为除了用它本身的钥匙打开之外，别无它法。
%p 1848年，Linus Yale发明了一种弹子锁，他的儿子后来改良了这种锁，使用一种锯齿边缘的扁平钥匙。他们的发明奠定了后来弹子锁发展的基础。
%p 1857年，James Sargent 发明了世界上最成功的可变钥匙密码锁。他的锁在当时深受保险柜制造商及美国财政部的欢迎。在1873年，James Sargent取得了一种时间锁的专利权，这种锁成为当时银行金库用锁的原型。
%p 1861年，Linus Yale Jr.取得了圆柱弹子锁的专利。1862年发明了现代的密码锁。
%p 1916年，Samuel Segal（前纽约市警察）发明了第一把jimmy proof锁，Segal取得了至少25项专利。
%p 1921年，Soref成立了玛斯特锁有限公司，并取得了一种改良挂锁的专利。在1924年4月，他取得了其设计的新锁盖的专利。Soref制作的挂锁，采用了复合钢板制造，使用金属层结构的外壳，很坚固耐用，类似于银行金库门。
%p 以上列举的所有保险柜锁匠及其保险柜锁具的发展，不但促进了锁具及保险柜行业的飞速发展，而且为安防事业作出巨大的贡献。
