---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 应增强防灾理财意识
keywords: 保险柜
description: 目前市场保险柜品种众多，如全能保险柜的就有个人家庭适用系列的防火保险柜、防水保险柜、防潮除湿保险柜等，很适合各种家庭贵重财产的安全避灾存放。
---
%p
  %img{alt: "家用保险柜", src: "http://www.qnnsafe.com/images/news/id011901.jpg"}/
%p
  最近读到这样一则新闻：日本警察厅发表公告称，3.11东日本大地震发生后至7月10日的4个月期间，警方在岩手、宫城、福岛3个受灾县共回收了5700个
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  ，这些保险柜中共有现金23亿6700万日元，其中96%的现金已经交还给所有者，共计22亿7000万日元。
%p
  %img{alt: "保险箱", src: "http://www.qnnsafe.com/images/news/id011902.jpg"}/
%p 在惨烈的地震海啸中，保险柜居然能幸运完整地使大量现金失而复得并完璧归赵实在是一个奇迹，这对正在重建家园、恢复生产的灾民来说，真可谓是雪中送炭了。这时，不由使人想起2008年汶川大地震和2010年青海玉树地震、舟曲泥石流那三场大劫难，痛定思痛之时，我们却深感与日本人相比，我们的防灾减灾意识确实是淡薄了。在那几场灾难中，灾区也有保险柜被挖出的报道，但被挖的保险柜也只是零星几个，且大多数银行部门的。据国内保险柜行业的领头羊全能保险柜的负责人介绍,目前在日本、美国等发达国家，家庭拥有保险柜的比例已达到50%以上，而在我国普及率还不到5%。防灾意识的淡薄，这也许就是同样是自然灾难，我们的财产却几乎全部毁于一旦，别人的却有幸保留下来的原因之一了。自然灾害凸显了防灾理财的重要性，更启示着我们必须切实增强防灾理财意识并采取相应措施。
%p 有关专家指出，防灾理财总是在最危难关头才显示出它救急的超能量，提供最及时最有力的帮助。在每次灾难过后，悲伤的人们才会记起自己忽略了什么，然而灾难总是突如其来，有时候亡羊补牢也犹为晚也。
%p 那么应该怎样进行防灾理财呢？理财专家为此作出了以下建议：
%p 建立家庭应急基金。我国的大多数家庭收入还不是十分富裕，因此家庭需要有一定的现金储备，不能全部用来投入股市、房地产等风险较高的领域，否则一旦发生紧急情况，将难以度过危机，只能坐等救济。因此，应该设立家庭应急基金，预防一些突发事件应急之用。
%p 购买家庭财产保险。当灾难和意外发生时，保险，就是个人抵御风险的一把雨伞、一块盾牌，因此应重视家庭保险，以防为主。目前，家财险费率一般为左右，一年花1000元就可以保50万元家产一年的平安。
%p 妥善保护家庭贵重物品。可以购置一个保险柜来妥善保管自己的银行存折、股权凭证、房产凭证、文凭、买卖合同、借条、欠条、收条等，同时因为古董、字画、珠宝首饰等贵重物品也一般不在保险公司承保范围内，最好的办法也放置保险柜内。这样，即可以防盗，又可以使自己的财产在灾害发生时得到有效保护。目前市场保险柜品种众多，如全能保险柜的就有个人家庭适用系列的防火保险柜、防水保险柜、防潮除湿保险柜等种类，就很适合各种家庭贵重财产的安全避灾存放。当然，你也可以把贵重物品存放在银行的保险箱里。
