---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 5.1如家大火的警示
keywords: 保险柜
description: 5月1日，当人们还沉浸在假日的喜悦中时，吉林通化市的如家酒店却不幸地遭遇了大火的浩劫，造成了10人死亡的悲剧。行业的深刻反思，应吸取教训。
image: 
---
%p 5月1日，当人们还沉浸在假日的喜悦中时，吉林通化市的如家酒店却不幸地遭遇了大火的浩劫，造成了10人死亡的悲剧。
%p 这次突发灾难恰比酒店行业的三聚氰胺，由此引发的行业安全隐患令社会担忧，在酒店业迅速扩展的今天，酒店的防火安全指标是否符合标准？酒店的建筑架构、设备投资、应变措施是否到位？这次灾难带来的连锁反应无疑给酒店行业敲响了警钟，有待行业深刻反思，并吸取教训。
%p 酒店消防隐患的反思酒店的建造工程设计要符合防火原理，要使用符合国家防火标准的建筑材料，交相关防火消防部门审批，并定期接受检测监管，发现问题，及时改进。
%p 酒店内部格局的设计必须符合防火标准，安全疏散通道、安全标识等都要明确标明，灭火工具的配置也要合理。
%p 电器设备和线路的安装要符合防火标准，要定期进行检查，发现不安全因素，须立即整改。
%p
  酒店的配套保管箱应使用防火型
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  ，避免火灾带来更大的财产损失。
%p 对酒店工作人员进行消防培训，提高员工安全警觉性，在火灾发生时能有效地指导住客疏散，协助住客到安全地方暂避。
%p 住客的紧急自救措施:
%p 保持冷静，设法判断起火点，楼下起火往楼顶跑，楼上起火往底层避难；
%p 不要慌乱，不能钻到床下桌下或衣柜里，以免火势蔓延时被火烧死，便于营救；
%p 远离客房电源，或易燃易爆物，掌握灭火筒的使用方法；
%p 做好个人防护，用湿毛巾护住口鼻，浇湿衣服，披上湿棉被按指挥疏散，如无法逃走，就用湿衣物堵封门缝，用水喷洒冷却防止烟火漫延进来，同时开窗呼救。
