---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 金融枪弹保险柜介绍
keywords: 保险柜
description: 金融枪弹保险柜用途特殊，其功能标准比较特殊，主要品种有防火枪弹柜、移动式枪弹库、银行保管箱、固定枪弹柜、智能枪弹柜、金库门、智能存储柜等。
---
%p<
  金融枪弹
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  主要品种有防火枪弹柜、移动式枪弹库、银行保管箱、固定枪弹柜、智能枪弹柜、金库门、智能存储柜、移动式金库等。
%p 这类保险柜因为用途特殊，功能标准也比较特殊。如QNN safe全能防火枪柜FG-6030F，其功能特点有：达到1275F°45分钟防火等级（防火型号）；达到UL-RSC防盗等级（防火型号）；多种长枪容量可选；美制码盘锁/钥匙锁配置；全钢满焊结构，多门栓配置；总厚度54mm（含防火层）箱体（防火型号）；防撬设计内门铰及平面门板；可自由组合内部空间；法国Palusol膨胀防火密封条；石膏板防火墙（防火型号）。再如枪柜FG-6002F枪械/弹药双层柜，其功能特点有：1-10位组合用户自设密码(电子锁型号)；机械锁、电子密码锁，机械锁/电子密码锁多种；震动、移动、连续三次错码自动报警（选装）；锌系磷化防锈、优质粉末喷涂表面处理，颜色多样；管理码/应急钥匙配置。适用于公安、武警、军队或国家安全部门。
%p< 
  %img{alt: "保险柜", src: "http://www.qnnsafe.com/images/news/id019001.jpg"}/ 
%p 上图为QNN safe全能的防火枪柜FG-6030F。
