---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 1867年的破坏保险柜比赛
keywords: 保险柜
description: 1867年，保险柜制造商Herring发出挑战，在巴黎万国博览会举行了一场历史上著名的破坏保险柜比赛，但最后演变成了一场勾心斗角的诉讼。
---
%p<
  1867年，在巴黎万国博览会举行了一场历史上著名的破坏
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  比赛。
%p 当时，展会的参展商之一，纽约的保险柜制造商Silas C. Herring，在他的银行保险柜上贴着给参加博览会所有保险柜参展商的挑战书，要与同行的产品比试高下。Samuel Chatwood表示愿意接受挑战，但前提条件是只可以使用普通的破坏工具。
%p 在检测的当天，Chatwood的人带来了铁锤、楔子及一个可组合的门栓工具。Herring以不知情为借口，雇佣了一个德国人，带来了一系列巨大的工具前来参加比试，这些工具包括带有棘轮扳钻的螺丝刀架，20磅的大锤，20磅的钢楔及6英尺长的铁橇，总共重达469磅。而Chatwood的工具只有145磅重。为公平起见，裁定者让Herring将其工具减少了1半，但Herring依然故我，仍保留上述的工具。
%p 这场检测在约定日的下午2:45分开始，持续了5个小时。Herring雇佣的德国人在取锁策略未果的情况下，改用钻门进行破坏，但钻门仍不能够穿透“横断”钢，在钻了多次之后没有取得效果后只好放弃，再试图在箱体前打开一个角接接头，但同样失败了。最后他们使用所带来最重的钢楔、“冷作用具”及20磅的大锤来割开保险柜榫鸠尾接合处。在6英尺长铁橇的帮助下，他们打开了一个足够大的孔直通内保险柜。整个时间用了232分钟。
%p Chatwood的操作者是他公司的雇员，他们开始用楔子沿着门的中间密合处进行破坏（这是一个双门保险柜）。在29分钟时间里他们打开了两个门。接着，他们开始破坏内保险柜，在上面钻了一个足够用手伸进去的开口，但是试块还不能通过这个开口。虽然只要再敲打几下就可以完成这个工作了，但由于当时已经很晚，委员会决定在第二天早上再继续比赛。
%p 第二天早上，Chartwood的人在开始后四分钟的时间里，就完全移开和破坏了Herring内保险柜的前端。在挑战外层保险柜的时间是29分钟，内层用了225分钟，整个时间是254分钟。 Herring用在破坏Chatwood保险柜上的时间是232分钟。由此，裁定Herring获胜。
%p 但是，后来两个英国评委发现在协议中，Herring提交的内容同Chatwood的相比有很多严重的错误，省略了很多词，其用意为了误导Chatwood和他的同伴，因此认为裁判不公，由此这场比赛演变成了一场勾心斗角的诉讼。第二年，在巴黎对此次比赛的诉讼进行了审判，宣布原来裁决无效，由Herring承担所有费用。
