---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 反腐倡廉,保险柜有功
keywords: 保险柜
description: 办公人员每人都会配备一个私人保险柜，用于存放办案资料等，密码由其个人保管。看来在国家反腐倡廉、党风廉洁建设的道路上，保险柜应记一功。
---
%p 作为管理官员的纪检部门，在不少百姓眼中向来神秘。究竟纪检监察部门是如何进行办案、管理的？近日，广州市纪委首度举行开放日活动，50余名委员、代表、网友获邀参观。
%p
  根据记者采访得来，一众代表表示，办公室中最引人注目的莫过于一排排的保险柜了。工作人员介绍，由于工作性质保密性较强，因此办公人员每人都会配备一个私人
  %a{href: "http://www.qnnsafe.com"}> 保险柜
  ，用于存放办案资料等，密码由其个人保管。看来在国家反腐倡廉、党风廉洁建设的道路上，保险柜应记一功。
%p 保险柜的保密工作真是毫不马虎， 全能保险柜大多采用的是 电子智能锁孔系统，以及高精密度的机械锁结构，多重防护；配有自动报警功能，精准防撬技术，杜绝暴力性开启；还有最新科技指纹开启，更高科技含量。其功能特点充分显示了他是保守秘密、保护隐私的好帮手。
%p 本消息来源于：新快报
