---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 我国保险柜锁具图文吉祥文化
keywords: 保险柜
description: 我国保险柜锁具工艺十分精致，其文化内涵也十分丰厚，历代社会政治、经济、文化、生活习俗等方面状况都在保险柜锁具上反映着人们追求美好的愿望。
---
%p 
  我国的古锁工艺十分精致，文化内涵也十分丰厚。在古代
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  锁具中，雕花刻上“状元及第”、“长命富贵”、“麒麟送子”、“龙凤呈祥”等字样屡见不鲜。锁的图案也多种多样，并且寓意深刻，如常见的鱼形锁，《太平广记》卷180 的《芝田录》这样解释：“门锁必为鱼者，取其不暝守夜之意。”鱼亦作年年有余之吉利，故此形状被广泛采用。
%p 历代社会政治、经济、文化、生活习俗等方面的状况都在古锁上有所反映，特别是保险柜锁具上一些图案，都是来自民间的吉祥传说和故事，反映着人们追求美好的愿望。
%p 如古锁上常见的“囍”图案，就有着一个美丽的故事：相传，王安石23岁那年赴京赶考，途经马家镇，看到一大户人家高悬走马灯，灯下悬一则上联，征对招亲。联曰：“走马灯，灯走马，灯熄马停步。”王安石读后不由叫好，但一时未能对出。
%p 殊不知，王安石进京考试，考题的对子竟是：“飞虎旗，旗虎飞，旗卷虎藏身。”王安石立即记起了招亲的那半幅对子，即以招亲联应对：“走马灯，灯马走，灯熄马停步。”主考官对此赞叹不已。返乡途中，当王安石再次路过那户人家时，听说那招亲联仍无人对出，他便又以考题对子回对，大户人家对王安石的才华大加赞赏，立即招其为乘龙快婿。完婚那天，恰巧传来王安石高中进士的快报。金榜题名、洞房花烛，面对双喜临门，王安石带着三分醉意，挥毫在红纸上写了一个大“囍”字，让人贴在门上，并随口吟道：“巧对联成双喜歌，马灯飞虎结丝罗。”
%p 从此，王安石创造的“囍”字便被传开了。其后，“囍”字和结婚时贴双喜，在我国民间开始流行。“囍”也成为老百姓喜闻乐见的符号名称，同时也被保险柜锁具图案应用了。
%p 再如在保险柜锁具上刻画“麒麟送子” 、“和合二仙”、“二龙戏珠”等图案，都是根据传说而来，锁匠把美丽的神话传说故事搬到锁具纹饰上来，同时也把一些吉祥文字刻到锁具上，如“福”、“禄”、“寿”、“丁财两旺”等吉祥词语，这不但使锁具平添几许吉祥色彩，也表达人们祈盼幸福安康的美好愿望。
