---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 保险柜的行业规范
keywords: 保险柜
description: 保险柜行业规范起源于2004年国家质检总局和国家认监委将防盗保险柜箱列入了国家强制性产品认证目录，随后保险柜有3C认证和其他更高规范标准。
---
%p<
  2004年，国家质检总局和国家认监委发布公告，将防盗
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  与防盗保险箱列入了国家强制性产品认证目录。自2005年10月1日起，对列入目录的防盗保险箱、柜产品，未获得强制产品认证证书和未加施CCC标志，不得出厂、销售、进口或者是在其他经营活动中使用。2007年底，公安部和中国安全防范协会对1996年制定的《防盗保险箱》行业标准进行修改，并规定：从2008年起，国内注册的保险柜（箱）和机械防盗锁生产企业都须采用，而产品达到此标准即获出口70多个国家和地区的“通行证”。
%p 3C认证是中国强制性产品认证的简称，我国对强制性产品认证的法律依据、实施强制性产品认证的产品范围、强制性产品认证标志的使用、强制性产品认证的监督管理等均作了统一的规定。主要内容概括起来有以下几个方面：
%p （一）按照世贸有关协议和国际通行规则，国家依法对涉及人类健康安全、动植物生命安全和健康，以及环境保护和公共安全的产品实行统一的强制性产品认证制度。国家认证认可监督管理委员会统一负责国家强制性产品认证制度的管理和组织实施工作。
%p （二）国家强制性产品认证制度的主要特点是，国家公布统一的目录，确定统一适用的国家标准、技术规则和实施程序，制定统一的标志标识，规定统一的收费标准。凡列入强制性产品认证目录内的产品，必须经国家指定的认证机构认证合格，取得相关证书并加施认证标志后，方能出厂、进口、销售和在经营服务场所使用。
%p （三）根据我国入世承诺和体现国民待遇的原则，原来两种制度覆盖的产品有138种，现公布的《目录》删去了原来列入强制性认证管理的医用超声诊断和治疗设备等16种产品，增加了建筑用安全玻璃等10种产品，实际列入《目录》的强制性认证产品共有132种。
%p （四）国家对强制性产品认证使用统一的标志。新的国家强制性认证标志名称为“中国强制认证”，英文名称为“China Compulsory Certification”，英文缩写可简称为“3C”标志。中国强制认证标志实施以后，取代原实行的“长城”标志和“CCIB”标志。
%p （五）国家统一确定强制性产品认证收费项目及标准。新的收费项目和收费标准的制定，将根据不以营利为目的和体现国民待遇的原则，综合考虑现行收费情况，并参照境外同类认证收费项目和收费标准。
%p （六）强制性产品认证制度于2002年8月1日起实施。原有的产品安全认证制度和进口安全质量许可制度自2003年8月1日起废止。
%p 简单地说，企业的防盗保险柜要通过国家强制性CCC认证，必须满足以下几个条件：防盗保险柜（箱）符合GB10409-2001、GA166-1997国家标准；生产企业建立符合CCC认证制度要求的质量管理体系；生产企业可以满足CCC认证制度要求的产品质量保证能力十要素；生产企业可保证符合国家标准要求的检测样品与日常产品质量保持一致；生产企业可以保证有能力随时接受国家认证机构的随时监督检查。
%p 需要注意的是，3C标志并不是质量标志，而只是一种最基础的安全认证，它的某些指标代表了产品的安全质量合格，但并不意味着保险柜的使用性能也同样优异，因此购买保险柜时除了要看它有没有3C标志外，其他指标也很重要。
