---
layout: news_article
type: 行业新闻
type_eng: industry-news


title: 盗贼设计调虎离山,撬开木柜轻松偷钱
keywords: 保险柜
description: 全能保险柜产品类型丰富，功能齐全，个体商户可以根据自身需求选用适合自己情况的保险柜安装在自己的店铺里，防止像詹女士这样的情况发生。
image: 
---
%p 今年4月15日下午，在佛山市南海区大沥大发市场经营烟酒行的詹女士突然接到一个“快递员”打来的电话，称其有一个包裹送到，让她到大发市场附近的大发酒店门口去签收。信以为真的詹女士锁上收银台的抽屉，火急火燎地赶去签收包裹。而此时，一名男子趁她离开店铺的短短几分钟，撬开收银台的木制作抽屉，将里面的财物洗劫一空。在酒店门口，詹女士等了几分钟，就是不见“快递员”的身影。满腹疑团的詹女士返回店铺，吃惊地发现收银台的两个木制抽屉被撬开，放在里面的人民币现金3000元不翼而飞。顿然醒悟的詹女士知道自己中了圈套，立即报警。
%p 民警迅速展开排查，发现嫌疑人在南海、深圳出没，民警迅速行动，将嫌疑人梁某生、朱某、卢某等3人抓获。
%p 近年来，随着经济的发展，个体商户收入的提高，盗贼愈加频繁地光顾个体商户，但是很多个体商户在资金安全的保护上依然缺乏足够的认识。个体商户因为经营的特性，每天的资金流量比较大，但很多个体商户依然使用木柜，铁盒等简易工具存放财物，让盗贼有机可乘。
%p
  个体工商户们急需一个安全便捷的财产守护神，于是，第一个浮现在人们脑海中的自然是
  %a{href: "http://www.qnnsafe.com/"}> 保险柜
  。的确，保险柜以其值得信赖的安全保障性，成为了不少商户的必备产品。然而，当今社会保险柜市场较为复杂，各类保险柜质量良莠不齐，因此，如何选择一款有效的、安全系数高的保险柜成为了不少消费者的头疼之事.
%p 记者通过网络调查、走访等途径了解到，由广东安能保险柜制造有限公司打造的一系列全能保险柜赢得了不少消费者的亲睐。据了解，广东安能保险柜制造有限公司，是目前中国大陆领先的保险柜制造企业，其控股工业集团创始于1935年。历经几十年的发展，已成为中国保险柜的旗舰品牌，所生产保险柜符合中华人民共和国国家标准及行业标准、通过国家3C认证、部分产品通过相关国际认证、并能提供国际标准的各种防盗、防火保险柜，产品线超过300个标准型号。
%p 全能保险柜以其创新的技术研发、卓越的品质控制、完善的售后服务，成为了北京奥运会、上海世博会、广州亚运会等知名全球性活动的产品供应商。其产品畅销全球多个国家及地区，是华南地区出口量第一的保险柜制造企业。同时，全能还致力于新型保险柜的开发，争做行业“吃螃蟹的人”。先后成功推出了中国首台人脸识别保险柜，自主研发了可拍照和摄像的新型专利保险柜，率先研制了除湿防潮保险柜、物联网保险柜、网络保险柜等新产品。更是率先引进了保险柜行业首台自动化松下工业机器人，主要应用于保险柜的焊接环节。工业机器人取代传统的人工焊接后，焊接的速度得以加快，同时接口平滑、焊接牢固，避免了人为造成的虚焊现象，大大缩减了焊接后的打磨量，提高了保险柜的安全系数。
