---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 联网防盗保险柜助擒贼
keywords: 保险柜
description: 近日，雷某、潘某平、潘某华、潘某豪、潘某泽五名贵州省籍流窜犯，因在邢台市内丘县多次犯案，并撬盗保险柜未遂，近日被辛集人民法院判处有期徒刑。
---
%p 近日，雷某、潘某平、潘某华、潘某豪、潘某泽五名贵州省籍流窜犯，因在内丘撬盗保险柜未遂被辛集市人民法院判处有期徒刑，其中雷某为贵州省福泉市人，其余四人为贵州黄平县老乡。
%p 2014年3月17日凌晨，雷某、潘某平、潘某华、潘某豪持自制的撬盗工具以及作案用的手套、头套、衣服进入邢台市内丘县河北三翰化工有限公司，企图将该公司财务室的门和保险柜撬开，盗窃现金十几万元不遂，最终放弃离开，后4人又辗转来到内丘县方圆冶金机械有限公司，再试图撬开财务室保险柜盗窃现金，依然没有成功得手只能放弃离开。其实这帮作案团伙的过程，被整个联网保险柜防盗系统记录下里，信息第一时间反馈到联网户主的手机上。
%p 2014年3月19日凌晨，雷某、潘某平、潘某华、潘某豪又在石家庄市赵县盛泰纺织有限公司厂内财务室作案，盗走笔记本电脑一台，价值3290元。第二天凌晨，四人又来到辛集市制革区永其制革有限公司，心有不甘的尝试将财务室、经理室的保险柜撬开，由于保险柜劣质掺杂水泥柜子被轻易打开，盗窃保险柜及办公桌抽屉内的现金共计4.3万元，并盗走两台笔记本电脑，共价值5860元。
%p 2014年4月17日凌晨，潘某泽、潘某平、潘某华从辛集市鑫港民丰化工有限公司财务室再次试图盗窃保险柜内现金1600元。得手后，三人又到辛集市卓信制革有限公司，抱有侥幸心理企图盗窃财务室保险柜内现金6.01万元，可惜全能保险柜材质牢固，作案半小时都没有成功，并且触动了保险柜的APP联网防盗系统，讲贼人样子都拍摄下来。
%p 2014年5月15日，辛集市公安局侦查人员根据联网保险柜系统提供的线索，将再次准备作案的五名被告人抓获。
%p 辛集市人民法院认定了辛集市人民检察院指控的犯罪事实，7月8日做出判决，五名被告犯盗窃罪分别被判处有期徒刑8年6个月至5年3个月，并处罚金5万元至2万元。
